Repository angular/angular-cli, pull requests merged in 2024-09, with the labels that each got.

#28340 fix(@angular-devkit/build-angular): update `webpack-dev-middleware` to `7.4.2`
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#28347 Bump version to "v18.2.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28348 docs: release notes for the v18.2.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28349 Bump version to "v19.0.0-next.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28357 perf(@angular/cli): enable Node.js compile code cache when available
  packages/angular/build/src/tools/angular/compilation/parallel-compilation.ts
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
  packages/angular/build/src/tools/sass/sass-service.ts
  packages/angular/build/src/typings.d.ts
  packages/angular/cli/bin/bootstrap.js
Labels: area: @angular/cli, target: major, action: merge, area: performance

#28359 fix(@angular/ssr): resolve circular dependency issue from main.server.js reference in manifest
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/testing-utils.ts
  tests/legacy-cli/e2e/tests/build/ssr/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/build/ssr/express-engine-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/ssr/express-engine-standalone.ts
Labels: target: major, action: merge, area: @angular/ssr

#28362 feat(@angular/cli): handle string key/value pairs, e.g. --define
  packages/angular/cli/BUILD.bazel
  packages/angular/cli/src/command-builder/command-module.ts
  packages/angular/cli/src/command-builder/utilities/json-schema.ts
  packages/angular/cli/src/command-builder/utilities/json-schema_spec.ts
Labels: area: @angular/cli, action: merge, target: minor, detected: feature

#28387 build: update all non-major dependencies
  package.json
  packages/angular/build/src/tools/angular/compilation/parallel-compilation.ts
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#28389 refactor(@angular/build): add explicit type annotations to avoid inferred types
  packages/angular/build/src/tools/sass/worker.ts
Labels: target: major, action: merge, area: @angular/build

#28386 refactor: Add `lines-around-comment` rule
  .eslintrc.json
  package.json
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/i18n-inliner-worker.ts
  packages/angular/build/src/tools/esbuild/stylesheets/css-inline-fonts-plugin.ts
  packages/angular/build/src/tools/esbuild/stylesheets/stylesheet-plugin-factory.ts
  packages/angular/build/src/tools/esbuild/virtual-module-plugin.ts
  packages/angular/build/src/tools/esbuild/wasm-plugin.ts
  packages/angular/build/src/tools/sass/sass-service.ts
  packages/angular/build/src/tools/sass/worker.ts
  packages/angular/build/src/utils/index-file/augment-index-html.ts
  packages/angular/build/src/utils/index-file/valid-self-closing-tags.ts
  packages/angular/build/src/utils/normalize-cache.ts
  packages/angular/cli/src/command-builder/command-module.ts
  packages/angular/cli/src/commands/update/cli.ts
  packages/angular/ssr/node/src/common-engine/common-engine.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-config.ts
  packages/angular_devkit/architect/src/jobs/api.ts
  packages/angular_devkit/build_angular/src/builders/app-shell/render-worker.ts
  packages/angular_devkit/build_angular/src/tools/webpack/plugins/javascript-optimizer-worker.ts
  packages/angular_devkit/build_angular/src/tools/webpack/plugins/postcss-cli-resources.ts
  packages/angular_devkit/build_angular/src/utils/normalize-cache.ts
  packages/schematics/angular/utility/dependency.ts
  packages/schematics/angular/utility/workspace-models.ts
  scripts/build-packages-dist.mts
  yarn.lock
Labels: target: major, action: merge

#28393 fix(@angular/build): prevent transformation of Node.js internal dependencies by Vite
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#28397 Bump version to "v19.0.0-next.4" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28398 feat(@angular-devkit/architect): merge object options from CLI
  packages/angular_devkit/architect/src/architect.ts
  packages/angular_devkit/architect/src/options.ts
  packages/angular_devkit/architect/src/options_spec.ts
Labels: area: @angular-devkit/architect, action: merge, target: minor, detected: feature

#28231 refactor(@angular/build): support dev server direct component style serving
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/angular-memory-plugin.ts
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
  yarn.lock
Labels: target: major, action: merge, area: @angular/build

#28402 refacor(@angular/cli): remove unused imports
  packages/angular/cli/src/command-builder/command-module.ts
Labels: area: @angular/cli, target: major, action: merge

#28404 refactor(ssr): use `ReadonlyMap` instead of `Readonly` mapped type
  goldens/public-api/angular/ssr/index.api.md
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/ssr/node/src/app-engine.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/manifest.ts
Labels: target: major, action: merge, area: @angular/ssr

#28406 fix(@angular/ssr): resolve `bootstrap is not a function` error
  packages/angular/ssr/src/routes/ng-routes.ts
Labels: target: major, action: merge, area: @angular/ssr

#28407 Bump version to "v19.0.0-next.5" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28346 feat(@angular/ssr): add server routing configuration API
  goldens/public-api/angular/ssr/index.api.md
  goldens/public-api/angular/ssr/index_transitive.api.md
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/build/src/builders/application/tests/options/app-shell_spec.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/utils/server-rendering/load-esm-from-memory.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/build/src/utils/server-rendering/render-worker.ts
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/node/src/app-engine.ts
  packages/angular/ssr/private_export.ts
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/public_api_transitive.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-config.ts
  packages/angular/ssr/src/routes/route-tree.ts
  packages/angular/ssr/src/utils/ng.ts
  packages/angular/ssr/test/BUILD.bazel
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/routes/router_spec.ts
  packages/angular/ssr/test/testing-utils.ts
  packages/angular_devkit/build_angular/src/builders/app-shell/app-shell_spec.ts
Labels: target: major, action: merge, detected: feature, area: @angular/ssr

#28410 Revert "perf(@angular/cli): enable Node.js compile code cache when available
  packages/angular/build/src/tools/angular/compilation/parallel-compilation.ts
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
  packages/angular/build/src/tools/sass/sass-service.ts
  packages/angular/build/src/typings.d.ts
  packages/angular/cli/bin/bootstrap.js
Labels: target: major, action: merge

#28413 Bump version to "v19.0.0-next.6" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28423 fix(@angular/ssr): correct route extraction and error handling
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
  packages/angular/ssr/node/src/app-engine.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-tree.ts
  packages/angular/ssr/src/routes/router.ts
  packages/angular/ssr/src/utils/url.ts
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/routes/router_spec.ts
  packages/angular/ssr/test/utils/url_spec.ts
Labels: target: major, action: merge, area: @angular/ssr

#28431 feat(@angular/ssr): add `isMainModule` function
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/ssr/node/public_api.ts
  packages/angular/ssr/node/src/module.ts
Labels: action: merge, detected: feature, area: @angular/ssr

#28427 refactor(@angular/ssr): add option to exclude fallback SSG routes from extraction
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: target: major, action: merge, area: @angular/ssr

#28437 fix(@angular/build): update vite to `5.4.6`
  package.json
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: target: patch, action: merge, area: @angular/build

#28432 perf(@angular/cli): enable Node.js compile code cache when available
  packages/angular/build/src/tools/angular/compilation/parallel-compilation.ts
  packages/angular/build/src/tools/esbuild/i18n-inliner.ts
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
  packages/angular/build/src/tools/sass/sass-service.ts
  packages/angular/build/src/typings.d.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/build/src/utils/worker-pool.ts
  packages/angular/cli/bin/bootstrap.js
Labels: area: @angular/cli, target: major, action: merge, area: performance

#28440 fix(@angular-devkit/build-angular): update vite to 4.5.5
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: action: merge, target: lts

#28444 Bump version to "v16.2.16" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28445 docs: release notes for the v16.2.16 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28446 Bump version to "v18.2.5" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28447 docs: release notes for the v18.2.5 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28448 Bump version to "v19.0.0-next.7" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28456 fix(@angular/build): allow missing HTML file request to fallback to index
  packages/angular/build/src/tools/vite/middlewares/html-fallback-middleware.ts
Labels: target: patch, action: merge, area: @angular/build

#28453 refactor(@angular/build): update SSR Vite middleware to utilize the enhanced API
  packages/angular/build/BUILD.bazel
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
Labels: target: major, action: merge, area: @angular/build

#28355 feat(@angular/build): introduce `outputMode` option to the application builder
  goldens/circular-deps/packages.json
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/execute-post-bundle.ts
  packages/angular/build/src/builders/application/i18n.ts
  packages/angular/build/src/builders/application/index.ts
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/builders/application/setup-bundling.ts
  packages/angular/build/src/builders/application/tests/options/output-mode.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/builders/extract-i18n/application-extraction.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/budget-stats.ts
  packages/angular/build/src/tools/esbuild/bundler-context.ts
  packages/angular/build/src/tools/esbuild/bundler-execution-result.ts
  packages/angular/build/src/tools/esbuild/i18n-inliner.ts
  packages/angular/build/src/tools/esbuild/utils.ts
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/build/src/utils/server-rendering/models.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/test/app_spec.ts
  tests/legacy-cli/e2e.bzl
  tests/legacy-cli/e2e/tests/build/prerender/discover-routes-standalone.ts
  tests/legacy-cli/e2e/tests/i18n/setup.ts
  tests/legacy-cli/e2e/tests/server-rendering/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/server-rendering/express-engine-ngmodule.ts
  tests/legacy-cli/e2e/tests/server-rendering/express-engine-standalone.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-server-i18n-base-href.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-server-i18n.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-server.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-static.ts
  tests/legacy-cli/e2e/tests/server-rendering/setup.ts
Labels: target: major, action: merge, detected: feature, area: @angular/build

#28464 fix(@angular-devkit/build-angular): update vite to 4.1.8
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: action: merge, target: lts

#28469 feat(@schematics/angular): integrate `withEventReplay()` in `provideClientHydration` for new SSR apps
  packages/schematics/angular/server/index.ts
  packages/schematics/angular/server/index_spec.ts
Labels: area: @schematics/angular, target: major, action: merge, detected: feature

#28472 test: unlink symlink in ng add base E2E test
  tests/legacy-cli/e2e/tests/commands/add/base.ts
Labels: target: patch, action: merge

#28476 fix(@angular/build): prevent prerendering of catch-all routes
  packages/angular/build/src/utils/server-rendering/prerender.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-static.ts
Labels: target: major, action: merge, area: @angular/build

#28477 test: update test logic to fix windows CI
  tests/legacy-cli/e2e/tests/build/rebuild-dot-dirname.ts
Labels: target: patch, action: merge

#28480 fix(@angular/build): update rollup to 4.22.4
  package.json
  packages/angular/build/package.json
  yarn.lock
Labels: target: patch, action: merge, area: @angular/build

#28483 test: delay file modifications to mitigate flaky tests
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-fastify.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-h3.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-hono.ts
Labels: target: major, action: merge

#28487 test: update E2E snapshot versions to stable v17.3.x
  tests/legacy-cli/e2e/ng-snapshot/package.json
Labels: action: merge, target: lts

#28488 Bump version to "v17.3.10" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28489 docs: release notes for the v17.3.10 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28486 fix(@angular/ssr): export `RESPONSE_INIT`, `REQUEST`, and `REQUEST_CONTEXT` tokens
  goldens/public-api/angular/ssr/index.api.md
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/src/tokens.ts
Labels: target: major, action: merge, area: @angular/ssr

#28490 Bump version to "v18.2.6" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28479 test(@angular-devkit/build-angular): add application/browser test runs
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/code-coverage_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/errors_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/module-cjs_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/rebuilds_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/assets_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/code-coverage-exclude_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/code-coverage_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/exclude_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/include_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/styles_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/web-worker-tsconfig_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/setup.ts
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#28491 docs: release notes for the v18.2.6 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28504 fix(@angular/build): add `animate` to valid self-closing elements
  packages/angular/build/src/utils/index-file/valid-self-closing-tags.ts
Labels: target: patch, action: merge, area: @angular/build

#28492 refactor(@angular/build): use new encapsulate style helper for HMR
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
Labels: target: major, action: merge, area: @angular/build

#28505 refactor(@angular/build): improve HTML Code Sanitization in Manifest
  packages/angular/build/src/utils/server-rendering/manifest.ts
Labels: target: major, action: merge, area: @angular/build

#28506 perf(@angular/ssr): prevent potential stampede in entry-points cache
  packages/angular/ssr/src/app-engine.ts
Labels: target: major, action: merge, area: @angular/ssr, area: performance

#28493 feat(editorconfig): support single quote setting in JetBrains IDEs
  packages/schematics/angular/workspace/files/__dot__editorconfig.template
Labels: area: @schematics/angular, target: patch, action: merge

#28508 Bump version to "v19.0.0-next.8" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28507 refactor(@angular-devkit/build-angular): remove implicit localize polyfill
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/code-coverage_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/errors_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/module-cjs_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/rebuilds_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/assets_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/builder-mode_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/code-coverage-exclude_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/code-coverage_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/exclude_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/include_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/styles_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/web-worker-tsconfig_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/setup.ts
Labels: area: @angular-devkit/build-angular, target: major, action: merge

#28510 fix(@angular/build): add animateMotion, animateTransform, and feBlend etc. to valid self-closing elements
  packages/angular/build/src/utils/index-file/valid-self-closing-tags.ts
Labels: target: patch, action: merge, area: @angular/build

#28514 build: update all non-major dependencies
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/dev-infra.yml
  .github/workflows/pr.yml
  WORKSPACE
  package.json
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/builders/browser/specs/lazy-module_spec.ts
  packages/angular_devkit/build_webpack/package.json
  packages/ngtools/webpack/package.json
  yarn.lock
Labels: action: review, target: major, area: build & ci

#28509 feat(@angular-devkit/build-angular): karma-coverage w/ app builder
  packages/angular/build/package.json
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/tools/babel/plugins/add-code-coverage.ts
  packages/angular/build/src/tools/babel/plugins/types.d.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
  packages/angular/build/src/tools/esbuild/javascript-transformer-worker.ts
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/code-coverage_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/code-coverage-exclude_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/code-coverage_spec.ts
  yarn.lock
Labels: area: @angular-devkit/build-angular, action: merge, target: minor, detected: feature

#28515 fix(@angular/build): incomplete string escaping or encoding
  packages/angular/build/src/utils/server-rendering/manifest.ts
Labels: target: major, action: merge, area: @angular/build

#28518 fix(@angular-devkit/build-angular): zone.js/testing + karma + esbuild
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/fake-async_spec.ts
Labels: area: @angular-devkit/build-angular, action: merge, target: minor

#28503 perf(@angular/ssr): cache generated inline CSS for HTML
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/utils/crypto.ts
  packages/angular/ssr/src/utils/lru-cache.ts
  packages/angular/ssr/test/utils/lru_cache_spec.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-server-i18n-base-href.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-server-i18n.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-server.ts
Labels: target: major, action: merge, area: @angular/ssr, area: performance

#28528 build: lock file maintenance
  goldens/public-api/angular_devkit/schematics/index.api.md
  yarn.lock
Labels: target: major, action: merge, area: build & ci

#28519 feat(@angular-devkit/build-angular): karma+esbuild+watch
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/rebuilds_spec.ts
Labels: area: @angular-devkit/build-angular, action: merge, target: minor, detected: feature
