Repository angular/angular-cli, pull requests merged in 2024-11, with the labels that each got.

#28737 fix(@angular/ssr): enable serving of prerendered pages in the App Engine
  goldens/public-api/angular/ssr/index.api.md
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/build/src/builders/application/execute-post-bundle.ts
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/ssr/node/src/app-engine.ts
  packages/angular/ssr/node/src/request.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/assets.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/testing-utils.ts
  packages/schematics/angular/ssr/files/application-builder/server.ts.template
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-platform-neutral.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-http-calls.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-fastify.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-h3.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-hono.ts
  tests/legacy-cli/e2e/utils/packages.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28761 refactor(@angular/build): allow experimental template update generation via environment variable
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
  packages/angular/build/src/utils/environment-options.ts
Labels: target: rc, action: merge, area: @angular/build

#28760 fix(@schematics/angular): component spec with export default
  packages/schematics/angular/component/files/__name@dasherize@if-flat__/__name@dasherize__.__type@dasherize__.spec.ts.template
  packages/schematics/angular/component/index_spec.ts
Labels: area: @schematics/angular, target: rc, action: merge

#28759 refactor(@angular/build): improve typescript bundling context rebuild checking
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/setup-bundling.ts
  packages/angular/build/src/tools/esbuild/angular/component-stylesheets.ts
  packages/angular/build/src/tools/esbuild/angular/source-file-cache.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/bundler-execution-result.ts
Labels: target: rc, action: merge, area: @angular/build

#28767 fix(@angular/build): ensure SVG template URLs are considered templates with external stylesheets
  packages/angular/build/src/tools/angular/angular-host.ts
Labels: target: rc, action: merge, area: @angular/build

#28766 refactor(@angular/build): allow caching of TypeScript build contexts for rebuilds
  packages/angular/build/src/builders/application/setup-bundling.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/bundler-execution-result.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
Labels: target: rc, action: merge, area: @angular/build

#28768 fix(@angular/cli): recommend optional application update migration during v19 update
  packages/angular/cli/src/commands/update/cli.ts
  packages/angular/cli/src/utilities/prompt.ts
  packages/schematics/angular/migrations/migration-collection.json
Labels: area: @angular/cli, target: rc, action: merge

#28765 perf(@angular/ssr): integrate ETags for prerendered pages
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/assets.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/assets_spec.ts
  packages/angular/ssr/test/testing-utils.ts
Labels: target: rc, action: merge, area: @angular/ssr, area: performance

#28769 refactor(@angular/build): send error status code on invalid external style component ID
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
  packages/angular/build/src/tools/vite/plugins/setup-middlewares-plugin.ts
Labels: target: rc, action: merge, area: @angular/build

#28770 refactor(@angular/build): allow in-memory caching of server main code bundling during rebuilds
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
Labels: target: rc, action: merge, area: @angular/build

#28778 test: add `@parcel/watcher` to allowed postinstall checks
  tests/legacy-cli/e2e/tests/misc/check-postinstalls.ts
Labels: target: patch, action: merge

#28784 fix(@angular/build): always clear dev-server error overlay on non-error result
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: rc, action: merge, area: @angular/build

#28782 refactor(@angular/build): integrate template update function generation with builder results
  packages/angular/build/src/builders/application/build-action.ts
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/setup-bundling.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/bundler-execution-result.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
  packages/angular/build/src/tools/vite/middlewares/component-middleware.ts
Labels: target: rc, action: merge, area: @angular/build

#28790 docs: replace `@note` with `@remarks`
  packages/angular/build/src/tools/esbuild/server-bundle-metadata-plugin.ts
  packages/angular/cli/src/analytics/analytics-parameters.mts
  packages/angular/cli/src/analytics/analytics-parameters.ts
  packages/angular/ssr/node/src/app-engine.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/manifest.ts
Labels: area: docs, target: rc, action: merge

#28776 fix(@angular/build): handle `APP_BASE_HREF` correctly in prerendered routes
  packages/angular/build/src/utils/server-rendering/prerender.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-i18n_APP_BASE_HREF.ts
Labels: target: rc, action: merge, area: @angular/build

#28780 fix(@angular/build): workaround Vite CSS ShadowDOM hot replacement
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
Labels: target: rc, action: merge, area: @angular/build

#28787 fix(@angular/ssr): add validation to prevent use of `provideServerRoutesConfig` in browser context
  packages/angular/ssr/src/global.d.ts
  packages/angular/ssr/src/routes/route-config.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28792 refactor(@angular/ssr): Add `RequestHandlerFunction` and `NodeRequestHandlerFunction` to public API
  goldens/public-api/angular/ssr/index.api.md
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/ssr/node/public_api.ts
  packages/angular/ssr/node/src/handler.ts
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/src/handler.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28794 fix(@angular-devkit/build-angular): remove double-watch in karma
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/rebuilds_spec.ts
Labels: area: @angular-devkit/build-angular, target: rc, action: merge

#28795 fix(@angular-devkit/build-angular): serve assets
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/assets_spec.ts
Labels: area: @angular-devkit/build-angular, target: rc, action: merge

#28763 refactor(@angular/ssr): remove duplicate code and streamline functionality
  goldens/public-api/angular/ssr/index.api.md
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/build/src/utils/server-rendering/render-worker.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-tree.ts
  packages/angular/ssr/test/BUILD.bazel
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/routes/route-tree_spec.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28796 refactor(@angular/build): use structured component stylesheet tracking for hot replacement
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
  packages/angular/build/src/tools/vite/middlewares/index.ts
  packages/angular/build/src/tools/vite/plugins/setup-middlewares-plugin.ts
Labels: target: rc, action: merge, area: @angular/build

#28800 fix(@angular/build): skip wildcard routes from being listed as prerendered routes
  packages/angular/build/src/builders/application/execute-post-bundle.ts
Labels: target: rc, action: merge, area: @angular/build

#28797 fix(@angular-devkit/build-angular): handle basename collisions
  packages/angular/build/src/builders/application/options.ts
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/specs_spec.ts
Labels: area: @angular-devkit/build-angular, target: rc, action: merge

#28799 fix(@angular/ssr): initialize the DI tokens with `null` to avoid requiring them to be set to optional
  goldens/public-api/angular/ssr/tokens/index.api.md
  packages/angular/ssr/tokens/src/tokens.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28802 Bump version to "v19.0.0-rc.1" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28803 docs: release notes for the v19.0.0-rc.1 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28808 fix(@angular/ssr): support for HTTP/2 request/response handling
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/ssr/node/src/app-engine.ts
  packages/angular/ssr/node/src/request.ts
  packages/angular/ssr/node/src/response.ts
  packages/angular/ssr/node/test/request_http1_spec.ts
  packages/angular/ssr/node/test/request_http2_spec.ts
  packages/angular/ssr/node/test/response_http1_spec.ts
  packages/angular/ssr/node/test/response_http2_spec.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-fastify.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-h3.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-hono.ts
  tests/legacy-cli/e2e/tests/vite/ssr-with-ssl.ts
Labels: target: rc, action: merge, detected: feature, area: @angular/ssr

#28814 build: update `rollup-license-plugin` to `3.0.1`
  .yarn/patches/rollup-license-plugin-npm-3.0.0-038e5f6edc.patch
  package.json
  yarn.lock
Labels: target: rc, action: merge

#28816 fix(@angular/build): avoid overwriting inline style bundling additional results
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: rc, action: merge, area: @angular/build

#28823 fix(@angular/build): add missing redirect in SSR manifest
  packages/angular/build/src/builders/application/execute-post-bundle.ts
  packages/angular/ssr/src/app.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
Labels: target: rc, action: merge, area: @angular/build

#28818 refactor(ssr): remove `RenderMode.AppShell` in favor of new configuration option
  goldens/public-api/angular/ssr/index.api.md
  packages/angular/build/src/builders/application/tests/options/app-shell_spec.ts
  packages/angular/build/src/utils/server-rendering/models.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-config.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular_devkit/build_angular/src/builders/app-shell/app-shell_spec.ts
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/app-shell/index_spec.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28824 fix(@angular/build): allow `.js` file replacements in all configuration cases
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#28825 refactor(@angular/ssr): remove redundant `new URL`
  packages/angular/ssr/src/app.ts
Labels: target: rc, action: merge

#28846 ci: remove circleci as we no longer rely on it
  .bazelrc
  .circleci/bazel.common.rc
  .circleci/bazel.linux.rc
  .circleci/config.yml
  .circleci/env-helpers.inc.sh
  .circleci/env.sh
  README.md
  scripts/saucelabs/stop-tunnel.sh
  scripts/snapshots.mts
  scripts/templates/readme.ejs
Labels: target: rc, action: merge, area: build & ci

#28848 build: lock file maintenance
  yarn.lock
Labels: target: rc, action: merge, area: build & ci

#28842 fix(@angular/cli): support default options for multiselect list x-prompt
  packages/angular/cli/src/command-builder/schematics-command-module.ts
Labels: area: @angular/cli, target: patch, action: merge

#28853 fix(@angular/build): improve URL rebasing for hyphenated Sass namespaced variables
  packages/angular/build/src/builders/application/tests/behavior/stylesheet-url-resolution_spec.ts
  packages/angular/build/src/tools/sass/rebasing-importer.ts
Labels: target: patch, action: merge, area: @angular/build

#28860 Bump version to "v18.2.12" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28863 Bump version to "v19.0.0-rc.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28864 docs: release notes for the v19.0.0-rc.2 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28868 fix(@angular/ssr): export PrerenderFallback
  packages/angular/ssr/public_api.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28871 refactor: removes `@angular/ssr/tokens` and imports the symbols from `@angular/core`
  goldens/public-api/angular/ssr/tokens/index.api.md
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/tokens/BUILD.bazel
  packages/angular/ssr/tokens/index.ts
  packages/angular/ssr/tokens/public_api.ts
  packages/angular/ssr/tokens/src/tokens.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28872 build: fix peer dep warning for listr2
  package.json
  packages/angular/cli/package.json
  yarn.lock
Labels: target: rc, action: merge, area: build & ci

#28875 refactor: add `ngServerMode` to Webpack SSR dev server
  packages/angular_devkit/build_angular/src/builders/server/index.ts
Labels: target: rc, action: merge

#28876 fix: use default import for `express`
  packages/schematics/angular/ssr/files/server-builder/server.ts.template
Labels: area: @schematics/angular, target: rc, action: merge

#28879 fix(@angular-devkit/build-angular): fix hanging terminal when `browser-sync` is not installed
  packages/angular_devkit/build_angular/src/builders/ssr-dev-server/index.ts
Labels: area: @angular-devkit/build-angular, target: rc, action: merge

#28878 fix(@schematics/angular): don't show server routing prompt when using `browser` builder
  packages/angular/ssr/schematics/ng-add/index_spec.ts
  packages/schematics/angular/BUILD.bazel
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/ssr/index.ts
  packages/schematics/angular/ssr/index_spec.ts
  packages/schematics/angular/ssr/schema.json
  packages/schematics/angular/ssr/tty.ts
  tests/legacy-cli/e2e/tests/build/prerender/discover-routes-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-standalone.ts
  tests/legacy-cli/e2e/tests/commands/serve/ssr-http-requests-assets.ts
  tests/legacy-cli/e2e/tests/vite/ssr-error-stack.ts
Labels: area: @schematics/angular, target: rc, action: merge

#28877 fix(@angular/ssr): use wildcard server route configuration on the '/' route when the app router is empty
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28888 docs: release notes for the v19.0.0-rc.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28892 build: update Angular packages to v19 stable
  package.json
  packages/angular/build/package.json
  packages/angular/ssr/package.json
  packages/angular_devkit/build_angular/package.json
  packages/ngtools/webpack/package.json
  packages/schematics/angular/utility/latest-versions/package.json
  yarn.lock
Labels: target: rc, action: merge, area: build & ci

#28894 Bump version to "v19.0.0" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28895 docs: release notes for the v19.0.0 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28902 fix(@angular/build): ensure accurate content length for server assets
  packages/angular/build/src/utils/server-rendering/manifest.ts
Labels: target: patch, action: merge, area: @angular/build

#28907 fix(@angular/ssr): handle baseHref that start with `./`
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/testing-utils.ts
Labels: target: patch, action: merge, area: @angular/ssr

#28918 refactor(@angular/build): adjust code to propagate errors from Piscina
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
Labels: target: patch, action: merge, area: @angular/build

#28923 test: add end-to-end tests for SSR setup
  tests/legacy-cli/e2e/tests/vite/ssr-default.ts
Labels: target: patch, action: merge

#28909 fix(@angular-devkit/build-angular): use stylePreprocessorOptions
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#28926 fix(@angular/build): use `sha256` instead of `sha-256` as hash algorithm name
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/wasm-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#28931 docs: release notes for the v19.0.1 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28906 fix(@angular/ssr): handle nested redirects not explicitly defined in router config
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/utils/url.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/routes/router_spec.ts
  packages/angular/ssr/test/utils/url_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#28935 refactor(@angular/ssr): replace `:params` with `*`
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-tree.ts
  packages/angular/ssr/test/routes/route-tree_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#28960 ci: add @angular/build integration test to workflows
  .ng-dev/dx-perf-workflows.yml
Labels: action: merge, area: build & ci, target: minor

#28953 fix(@angular/build): minimize reliance on esbuild `inject` to prevent code reordering
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-platform-neutral.ts
Labels: target: patch, action: merge, area: @angular/build

#28932 fix(@schematics/angular): skip SSR routing prompt in webcontainer
  packages/schematics/angular/ssr/index.ts
  packages/schematics/angular/ssr/index_spec.ts
Labels: area: @schematics/angular, target: patch, action: merge

#28961 refactor(@angular/build): maintain previous compiler plugin factory signature
  packages/angular/build/src/private.ts
Labels: target: patch, action: merge, area: @angular/build

#28954 fix(@angular/build): prevent errors with parameterized routes when `getPrerenderParams` is undefined
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
  tests/legacy-cli/e2e/tests/build/prerender/discover-routes-standalone.ts
Labels: target: patch, action: merge, area: @angular/build

#28966 docs: release notes for the v19.0.2 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28962 fix(@angular/build): allow .json file replacements with application builds
  packages/angular/build/src/builders/application/tests/options/file-replacements_spec.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#28963 ci: use pinned version for google-github-actions/auth action
  .github/workflows/perf.yml
Labels: action: merge, area: build & ci, target: minor

#28974 build: update to vite version 6
  package.json
  packages/angular/build/package.json
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/plugins/ssr-transform-plugin.ts
  tests/legacy-cli/e2e/tests/vite/reuse-dep-optimization-cache.ts
  tests/legacy-cli/e2e/tests/vite/ssr-new-dep-optimization.ts
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#28971 fix(@angular/ssr): ensure compatibility for `Http2ServerResponse` type
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/ssr/node/src/response.ts
  packages/angular/ssr/node/test/request_http2_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#28986 fix(@angular/cli): correctly select package versions in descending order during `ng add`
  packages/angular/cli/src/commands/add/cli.ts
Labels: area: @angular/cli, target: patch, action: merge

#28911 docs: readme
  README.md
  scripts/templates/readme.ejs
Labels: area: docs, target: patch, action: merge

#28983 fix(@angular/build): add timeout to route extraction
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/router.ts
  packages/angular/ssr/src/utils/promise.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/utils/promise_spec.ts
Labels: target: patch, action: merge, area: @angular/build
