Repository angular/angular-cli, pull requests merged in 2024-10, with the labels that each got.

#28471 feat(@angular/build): utilize `ssr.entry` during prerendering to enable access to local API routes
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
  packages/angular/build/src/utils/server-rendering/fetch-patch.ts
  packages/angular/build/src/utils/server-rendering/launch-server.ts
  packages/angular/build/src/utils/server-rendering/load-esm-from-memory.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/build/src/utils/server-rendering/render-worker.ts
  packages/angular/build/src/utils/server-rendering/routes-extractor-worker.ts
  packages/angular/build/src/utils/server-rendering/utils.ts
  tests/legacy-cli/e2e/tests/server-rendering/server-routes-output-mode-static-http-calls.ts
Labels: target: major, action: merge, detected: feature, area: @angular/ssr, area: @angular/build

#28529 refactor(@angular/build): remove deprecated Vite node server hot field usage
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: major, action: merge, area: @angular/build

#28541 refactor(@angular/build): incomplete string escaping or encoding
  packages/angular/build/src/utils/server-rendering/manifest.ts
Labels: action: merge, target: minor, area: @angular/build

#28540 fix(@angular/build): separate Vite cache by project
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#28542 docs: update license file match that of angular/angular
  LICENSE
Labels: area: docs, target: patch, action: merge

#28549 Bump version to "v18.2.7" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28550 docs: release notes for the v18.2.7 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28527 refactor(@angular/build): enable SSR when disabling Prerendering in Vite
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
Labels: target: major, action: merge, area: @angular/build

#28525 refactor(@angular/build): avoid hydration warnings when `RenderMode.Client` is set
  packages/angular/build/src/utils/index-file/index-html-generator.ts
  packages/angular/build/src/utils/index-file/ngcm-attribute.ts
  packages/angular/build/src/utils/index-file/ngcm-attribute_spec.ts
Labels: target: major, action: merge, area: @angular/build

#28553 Bump version to "v19.0.0-next.9" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28561 refactor(@angular/ssr): Convert crypto unavailable error to a soft error
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/utils/crypto.ts
Labels: target: major, action: merge, area: @angular/ssr

#28560 fix(@angular/build): update logic to support both internal and external SSR middlewares
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: major, action: merge, area: @angular/build

#28555 test(@angular/build): add test harness rebuild case helper function
  modules/testing/builder/src/jasmine-helpers.ts
  packages/angular/build/src/builders/dev-server/tests/options/watch_spec.ts
Labels: target: major, action: merge, area: @angular/build

#28566 fix(@schematics/angular): add validation for component and directive …
  packages/schematics/angular/component/index.ts
  packages/schematics/angular/component/index_spec.ts
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/directive/index_spec.ts
Labels: area: @schematics/angular, target: patch, action: merge

#28562 refactor: remove unused methods and locals
  packages/angular/cli/src/command-builder/schematics-command-module.ts
  packages/angular_devkit/build_angular/src/utils/process-bundle.ts
  packages/ngtools/webpack/src/ivy/plugin.ts
  packages/ngtools/webpack/src/transformers/find_image_domains.ts
Labels: target: major, action: merge

#28578 fix(@angular-devkit/build-angular): handle main field
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/fake-async_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/main_spec.ts
Labels: area: @angular-devkit/build-angular, action: merge, target: minor

#28570 fix(@angular/build): always generate a new hash for optimized chunk
  packages/angular/build/src/builders/application/chunk-optimizer.ts
Labels: target: patch, action: merge, area: @angular/build

#28588 refactor(@angular/build): only ignore watching node modules when watching root
  packages/angular/build/src/builders/application/build-action.ts
Labels: target: major, action: merge, area: @angular/build

#28595 fix(@angular/build): show error message when error stack is undefined
  packages/angular/build/src/utils/server-rendering/prerender.ts
Labels: action: merge, target: minor, area: @angular/build

#28594 fix(@angular/build): ensure `index.csr.html` is always generated when prerendering or SSR are enabled
  packages/angular/build/src/builders/application/options.ts
  tests/legacy-cli/e2e/tests/build/prerender/discover-routes-ngmodule.ts
Labels: action: merge, target: minor, area: @angular/build

#28604 fix(@angular/build): `Ctrl + C` not terminating dev-server with SSR
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: action: merge, target: minor, area: @angular/build

#28606 [backport] fix(@angular/build): `Ctrl + C` not terminating dev-server with SSR
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#28596 fix(@angular/build): move lmdb to optionalDependencies
  packages/angular/build/package.json
  yarn.lock
Labels: action: merge, target: minor, area: @angular/build

#28571 feat(@schematics/angular): update app-shell and ssr schematics to adopt new Server Rendering API
  packages/angular/build/src/builders/application/execute-post-bundle.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/ssr/schematics/ng-add/index_spec.ts
  packages/angular_devkit/build_angular/src/builders/extract-i18n/application-extraction.ts
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/server/files/application-builder/ngmodule-src/app/app.module.server.ts.template
  packages/schematics/angular/server/files/application-builder/ngmodule-src/app/app.routes.server.ts.template
  packages/schematics/angular/server/files/application-builder/ngmodule-src/main.server.ts.template
  packages/schematics/angular/server/files/application-builder/standalone-src/app/app.config.server.ts.template
  packages/schematics/angular/server/files/application-builder/standalone-src/app/app.routes.server.ts.template
  packages/schematics/angular/server/files/application-builder/standalone-src/main.server.ts.template
  packages/schematics/angular/server/files/server-builder/ngmodule-src/app/app.module.server.ts.template
  packages/schematics/angular/server/files/server-builder/ngmodule-src/main.server.ts.template
  packages/schematics/angular/server/files/server-builder/root/tsconfig.server.json.template
  packages/schematics/angular/server/files/server-builder/standalone-src/app/app.config.server.ts.template
  packages/schematics/angular/server/files/server-builder/standalone-src/main.server.ts.template
  packages/schematics/angular/server/index.ts
  packages/schematics/angular/ssr/files/application-builder/server.ts.template
  packages/schematics/angular/ssr/files/server-builder/server.ts.template
  packages/schematics/angular/ssr/index.ts
  packages/schematics/angular/ssr/index_spec.ts
  tests/legacy-cli/e2e.bzl
  tests/legacy-cli/e2e/tests/build/app-shell/app-shell-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/app-shell/app-shell-with-schematic.ts
  tests/legacy-cli/e2e/tests/build/app-shell/app-shell-with-service-worker.ts
  tests/legacy-cli/e2e/tests/build/prerender/discover-routes-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-standalone.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-base-href.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-http-calls.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static.ts
  tests/legacy-cli/e2e/tests/i18n/ivy-localize-app-shell-service-worker.ts
  tests/legacy-cli/e2e/tests/i18n/ivy-localize-app-shell.ts
  tests/legacy-cli/e2e/tests/i18n/ivy-localize-ssr.ts
  tests/legacy-cli/e2e/tests/server-rendering/setup.ts
  tests/legacy-cli/e2e/tests/update/update-application-builder.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-fastify.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-h3.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-hono.ts
  tests/legacy-cli/e2e/utils/project.ts
Labels: area: @schematics/angular, target: major, action: merge, detected: feature, detected: breaking change

#28608 Bump version to "v18.2.8" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28609 docs: release notes for the v18.2.8 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28610 Bump version to "v19.0.0-next.10" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28598 feat(@angular/build): introduce `ssr.experimentalPlatform` option
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/bundler-context.ts
  packages/angular/build/src/tools/esbuild/server-bundle-metadata-plugin.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-platform-neutral.ts
Labels: target: major, action: merge, detected: feature, area: @angular/build

#28531 feat(@angular/build): set development/production condition
  modules/testing/builder/src/dev_prod_mode.ts
  packages/angular/build/src/builders/application/tests/behavior/build-conditions_spec.ts
  packages/angular/build/src/builders/dev-server/tests/behavior/build-conditions_spec.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/global-scripts.ts
  packages/angular/build/src/tools/esbuild/stylesheets/bundle-options.ts
Labels: action: merge, target: minor, detected: feature, area: @angular/build

#28611 refactor(@angular/build): reduce inline style language value per call usage
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/angular/component-stylesheets.ts
  packages/angular/build/src/tools/esbuild/angular/jit-plugin-callbacks.ts
Labels: target: major, action: merge, area: @angular/build

#28614 fix(@angular/build): use named export `reqHandler` for server.ts request handling
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
  packages/angular/build/src/utils/server-rendering/launch-server.ts
  packages/angular/build/src/utils/server-rendering/load-esm-from-memory.ts
  packages/schematics/angular/ssr/files/application-builder/server.ts.template
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-platform-neutral.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-http-calls.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-fastify.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-h3.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-hono.ts
Labels: target: major, action: merge, area: @angular/build

#28618 refactor(@angular-devkit/build-angular): remove unused dependencies
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: area: @angular-devkit/build-angular, target: major, action: merge

#28623 docs(@schematics/angular): update code scaffolding doc to with `ng generate --help`
  modules/testing/builder/projects/hello-world-app/README.md
  packages/schematics/angular/workspace/files/README.md.template
  tests/legacy-cli/e2e/assets/15.0-project/README.md
  tests/legacy-cli/e2e/assets/18-ssr-project-webpack/README.md
  tests/legacy-cli/e2e/assets/19-ssr-project-webpack/README.md
Labels: area: docs, area: @schematics/angular, target: major, action: merge

#28625 ci: disable auto-updates for `@types/express`
  renovate.json
Labels: target: major, action: merge, area: build & ci

#28620 fix:@schematics/angular update browserslist config to include last 2 Android major versions
  packages/angular/build/src/utils/supported-browsers.ts
  packages/schematics/angular/config/files/.browserslistrc.template
Labels: area: @schematics/angular, target: patch, action: merge

#28626 docs: improve README files generated by Angular schematics
  packages/schematics/angular/library/files/README.md.template
  packages/schematics/angular/workspace/files/README.md.template
Labels: area: docs, action: merge, target: minor

#28631 refactor(@angular/build): add component update middleware to development server
  packages/angular/build/src/builders/application/results.ts
  packages/angular/build/src/builders/dev-server/tests/behavior/component-updates_spec.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/middlewares/component-middleware.ts
  packages/angular/build/src/tools/vite/middlewares/index.ts
  packages/angular/build/src/tools/vite/plugins/setup-middlewares-plugin.ts
Labels: target: major, area: @angular/build

#28630 fix(@angular/build): avoid race condition in sass importer
  packages/angular/build/src/tools/sass/worker.ts
Labels: target: patch, action: merge, area: @angular/build

#28579 feat(@schematics/angular): add option to setup new workspace or appli…
  packages/schematics/angular/application/files/module-files/src/app/app.component.spec.ts.template
  packages/schematics/angular/application/files/module-files/src/app/app.module.ts.template
  packages/schematics/angular/application/files/module-files/src/main.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.component.spec.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.config.ts.template
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/ng-new/index.ts
  packages/schematics/angular/ng-new/schema.json
  packages/schematics/angular/service-worker/index_spec.ts
  tests/legacy-cli/e2e/tests/generate/application/application-zoneless.ts
Labels: area: @schematics/angular, action: merge, target: minor, detected: feature

#28633 fix(@angular/build): synchronize import/export conditions between bundler and TypeScript
  modules/testing/builder/src/dev_prod_mode.ts
  packages/angular/build/src/builders/application/tests/behavior/build-conditions_spec.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: major, action: merge, area: @angular/build

#28641 refactor(@schematics/angular): minor formatting fixes
  packages/schematics/angular/application/files/module-files/src/app/app.component.spec.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.component.spec.ts.template
Labels: area: @schematics/angular, target: major, action: merge

#28627 feat(@angular/build): add `sass` to `stylePreprocessorOptions` in application builder
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/builders/application/tests/options/style-preprocessor-options-sass_spec.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
  packages/angular/build/src/tools/esbuild/global-styles.ts
  packages/angular/build/src/tools/esbuild/stylesheets/bundle-options.ts
  packages/angular/build/src/tools/esbuild/stylesheets/sass-language.ts
  packages/angular/build/src/tools/esbuild/stylesheets/stylesheet-plugin-factory.ts
Labels: action: merge, target: minor, detected: feature, area: @angular/build

#28643 fix(@angular/build): allow direct bundling of TSX files with application builder
  packages/angular/build/src/builders/application/tests/behavior/typescript-isolated-modules_spec.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#28649 Bump version to "v18.2.9" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28650 docs: release notes for the v18.2.9 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28651 Bump version to "v19.0.0-next.11" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28655 refactor(@schematics/angular): spacing fixes after experimental zoneless introduction
  packages/schematics/angular/application/files/module-files/src/app/app.component.spec.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.component.spec.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.config.ts.template
Labels: area: @schematics/angular, target: major, action: merge

#28658 fix(@angular/build): relax constraints on external stylesheet component id
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
Labels: target: major, action: merge

#28666 refactor(@angular/build): add helper types to internal HTML rewriter
  packages/angular/build/src/utils/index-file/html-rewriting-stream.ts
Labels: target: major, action: merge, area: @angular/build

#28674 fix(@angular/ssr): designate package as side-effect free
  packages/angular/ssr/package.json
Labels: target: major, action: merge, area: @angular/ssr

#28677 refactor(@angular/ssr): remove `useDefineForClassFields`
  packages/angular/ssr/src/app-engine.ts
  tsconfig-build-ng.json
Labels: target: major, action: merge

#28659 refactor(@angular/build): create component stylesheet bundler at start of build
  goldens/circular-deps/packages.json
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/setup-bundling.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/bundler-execution-result.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
  packages/angular/build/src/utils/server-rendering/manifest.ts
Labels: target: major, action: merge, area: @angular/build

#28678 refactor(@angular/ssr): export tokens from the `/tokens` entry point
  goldens/public-api/angular/ssr/index.api.md
  goldens/public-api/angular/ssr/tokens/index.api.md
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/tokens/BUILD.bazel
  packages/angular/ssr/tokens/index.ts
  packages/angular/ssr/tokens/public_api.ts
  packages/angular/ssr/tokens/src/tokens.ts
Labels: target: major, action: merge, area: @angular/ssr

#28681 Bump version to "v19.0.0-next.12" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28672 refactor(@angular/build): add internal support for generating template update functions
  packages/angular/build/src/tools/angular/compilation/angular-compilation.ts
  packages/angular/build/src/tools/angular/compilation/aot-compilation.ts
  packages/angular/build/src/tools/angular/compilation/parallel-worker.ts
Labels: target: major, action: merge, area: @angular/build

#28639 refactor(@angular/build): Auto-CSP support as an index file transformation.
  packages/angular/build/src/utils/index-file/auto-csp.ts
  packages/angular/build/src/utils/index-file/auto-csp_spec.ts
Labels: target: major, action: merge, area: @angular/build

#28682 refactor: remove workarounds for Safari 14 and 15
  packages/angular/build/src/tools/esbuild/utils.ts
  packages/angular_devkit/build_angular/src/tools/babel/presets/application.ts
  tests/legacy-cli/e2e/tests/misc/safari-15-class-properties.ts
Labels: target: major, action: merge

#28663 feat(@angular/build): Auto-CSP support as a part of angular.json schema
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/tools/esbuild/index-html-generator.ts
  packages/angular/build/src/utils/index-file/auto-csp.ts
  packages/angular/build/src/utils/index-file/index-html-generator.ts
Labels: target: major, action: merge, detected: feature, area: @angular/build

#28689 fix(@angular/build): Address build issue in Node.js LTS versions with prerendering or SSR
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
Labels: action: merge, target: minor, area: @angular/build

#28690 fix(@angular/build): Address build issue in Node.js LTS versions with prerendering or SSR
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
Labels: target: patch, action: merge, area: @angular/build

#28691 fix(@angular-devkit/build-angular): update `http-proxy-middleware` to `3.0.3`
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#28692 fix(@angular-devkit/build-angular): update `http-proxy-middleware` to `2.0.7`
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: action: merge, target: lts

#28695 Bump version to "v17.3.11" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28696 docs: release notes for the v17.3.11 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28697 Bump version to "v18.2.10" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28698 docs: release notes for the v18.2.10 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28699 Bump version to "v19.0.0-next.13" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28706 build: update angular
  package.json
  packages/angular/ssr/package.json
  packages/ngtools/webpack/package.json
  tests/legacy-cli/e2e/ng-snapshot/package.json
  yarn.lock
Labels: target: rc, action: merge, area: build & ci

#28709 fix(@angular/build): avoid hashing development external component stylesheets
  packages/angular/build/src/tools/esbuild/angular/component-stylesheets.ts
Labels: target: rc, action: merge, area: @angular/build

#28705 refactor(@schematics/angular): remove redundant `standalone: true` from templates
  packages/schematics/angular/application/files/standalone-files/src/app/app.component.ts.template
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/component/files/__name@dasherize@if-flat__/__name@dasherize__.__type@dasherize__.ts.template
  packages/schematics/angular/component/index_spec.ts
  packages/schematics/angular/directive/files/__name@dasherize@if-flat__/__name@dasherize__.directive.ts.template
  packages/schematics/angular/directive/index_spec.ts
  packages/schematics/angular/library/index_spec.ts
  packages/schematics/angular/pipe/files/__name@dasherize@if-flat__/__name@dasherize__.pipe.ts.template
  packages/schematics/angular/pipe/index_spec.ts
Labels: area: @schematics/angular, target: rc, action: merge

#28710 fix(@angular/build): avoid hashing development external component stylesheets
  packages/angular/build/src/tools/esbuild/angular/component-stylesheets.ts
Labels: target: rc, action: merge, area: @angular/build

#28715 fix(@schematics/angular): enable opt-in for new `@angular/ssr` feature
  packages/angular/ssr/schematics/ng-add/schema.json
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/app-shell/schema.json
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/ng-new/index.ts
  packages/schematics/angular/ng-new/schema.json
  packages/schematics/angular/server/files/application-builder/ngmodule-src/app/app.module.server.ts.template
  packages/schematics/angular/server/files/application-builder/standalone-src/app/app.config.server.ts.template
  packages/schematics/angular/server/index.ts
  packages/schematics/angular/server/schema.json
  packages/schematics/angular/ssr/files/application-builder-common-engine/server.ts.template
  packages/schematics/angular/ssr/index.ts
  packages/schematics/angular/ssr/schema.json
  tests/legacy-cli/e2e/tests/build/prerender/discover-routes-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/prerender/http-requests-assets.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-standalone.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-base-href.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-platform-neutral.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-http-calls.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static.ts
  tests/legacy-cli/e2e/tests/commands/serve/ssr-http-requests-assets.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-fastify.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-h3.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-hono.ts
  tests/legacy-cli/e2e/tests/vite/ssr-error-stack.ts
Labels: area: @schematics/angular, target: rc, action: merge

#28725 refactor(@ngtools/webpack): remove unused `augmentHostWithVersioning` method
  packages/ngtools/webpack/src/ivy/host.ts
Labels: area: @ngtools/webpack, target: rc, action: merge

#28731 refactor(@angular/build): use ETag headers for development external component styles
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
  packages/angular/build/src/tools/vite/utils.ts
Labels: target: rc, action: merge, area: @angular/build

#28728 refactor(@angular/ssr): remove custom Platform Server creation Logic
  packages/angular/ssr/src/routes/ng-routes.ts
Labels: target: rc, action: merge, area: @angular/ssr

#28732 refactor(@angular/build): use ETags for dev-server resource requests
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
Labels: target: rc, action: merge, area: @angular/build

#28733 build: patch rollup-license-plugin to fix on windows
  .yarn/patches/rollup-license-plugin-npm-3.0.0-038e5f6edc.patch
  package.json
  yarn.lock
Labels: target: rc, action: merge, area: build & ci

#28734 build: remove debug code
  packages/angular/ssr/third_party/beasties/rollup.config.mjs
Labels: target: rc, action: merge

#28729 refactor(@angular/build): add handling for `ngServerMode`
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular_devkit/build_angular/src/tools/webpack/configs/common.ts
Labels: target: rc, action: merge, area: @angular/build

#28738 fix(@angular/build): always record component style usage for HMR updates
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
Labels: target: rc, action: merge, area: @angular/build

#28739 fix(@angular-devkit/build-angular): fix --watch regression in karma
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
Labels: area: @angular-devkit/build-angular, target: rc, action: merge

#28744 fix(@angular/build): show error message when error stack is undefined
  packages/angular/build/src/utils/server-rendering/prerender.ts
Labels: target: patch, action: merge

#28746 build: add return types for component stylesheet bundler
  packages/angular/build/src/tools/esbuild/angular/component-stylesheets.ts
Labels: target: rc, action: merge, area: build & ci

#28748 fix(@angular/build): set `ngServerMode` during vite prebundling
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: rc, action: merge, area: @angular/build

#28747 refactor(@angular/build): allow forcing bundler context rebundle
  packages/angular/build/src/tools/esbuild/bundler-context.ts
Labels: target: rc, action: merge, area: @angular/build

#28749 Bump version to "v18.2.11" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28750 docs: release notes for the v18.2.11 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28743 refactor(@angular/build): remove experimental `buildApplication` overload
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/application/index.ts
  packages/angular/build/src/index.ts
Labels: target: rc, action: merge, area: @angular/build

#28751 Bump version to "v19.0.0-rc.0" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#28752 docs: release notes for the v19.0.0-rc.0 release
  CHANGELOG.md
Labels: area: docs, action: merge

#28758 fix(@angular/build): Exclude known `--import` from execArgv when spawning workers
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
  packages/angular/build/src/utils/server-rendering/esm-in-memory-loader/utils.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
Labels: target: rc, action: merge, area: @angular/build

#28757 refactor(@angular/ssr): add route configs to public API
  goldens/public-api/angular/ssr/index.api.md
  goldens/public-api/angular/ssr/index_transitive.api.md
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/public_api_transitive.ts
Labels: target: rc, action: merge
