Repository angular/angular-cli, pull requests merged in 2024-12, with the labels that each got.

#29001 fix(cli): update angular-eslint reference
  packages/angular/cli/src/command-builder/architect-base-command-module.ts
  packages/angular/cli/src/commands/lint/cli.ts
Labels: target: patch, action: merge, merge: squash commits, merge: fix commit message

#29004 refactor(@schematics/angular): add required type to CanDeactivate guard
  packages/schematics/angular/guard/type-files/__name@dasherize__.guard.spec.ts.template
Labels: area: @schematics/angular, target: patch, action: merge, merge: squash commits, merge: fix commit message

#29007 Update peer deps angular 19.1
  package.json
  packages/angular/build/package.json
  packages/angular/pwa/package.json
  packages/angular/ssr/package.json
  packages/angular_devkit/build_angular/package.json
  packages/ngtools/webpack/package.json
  packages/schematics/angular/utility/latest-versions/package.json
  yarn.lock
Labels: action: merge, area: build & ci, target: minor, area: @angular/ssr

#29010 build: update dependency tar to v7
  package.json
  tests/legacy-cli/e2e/utils/BUILD.bazel
  tests/legacy-cli/e2e/utils/tar.ts
  tests/legacy-cli/e2e_runner.ts
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#28991 fix(@angular/ssr): correctly handle serving of prerendered i18n pages
  packages/angular/build/src/builders/application/execute-post-bundle.ts
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/assets_spec.ts
  packages/angular/ssr/test/testing-utils.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-base-href.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29018 fix(@angular/build): apply define option to JavaScript from scripts option
  packages/angular/build/src/builders/application/tests/options/define_spec.ts
  packages/angular/build/src/tools/esbuild/global-scripts.ts
Labels: target: patch, action: merge, area: @angular/build

#29016 ci: run workflows for all releasable branches
  .github/workflows/perf.yml
  .ng-dev/dx-perf-workflows.yml
  package.json
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#29024 fix(@angular/build): ensure correct handling of `index.output` for SSR
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/tests/behavior/index-csr_spec.ts
  packages/angular/build/src/builders/application/tests/options/index_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#29030 ci: add addtional perf workflows for tracking
  .ng-dev/dx-perf-workflows.yml
Labels: target: patch, action: merge, area: build & ci

#29031 ci: add addtional perf workflows for tracking
  .ng-dev/dx-perf-workflows.yml
Labels: target: patch, action: merge, area: build & ci

#29032 fix(@angular/build): avoid deploy URL usage on absolute preload links
  packages/angular/build/src/utils/index-file/augment-index-html.ts
  packages/angular/build/src/utils/index-file/augment-index-html_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#29027 refactor(@angular/ssr): replace `Map` with `Record` in SSR manifest
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/assets.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/assets_spec.ts
  packages/angular/ssr/test/testing-utils.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29043 build: update all non-major dependencies
  package.json
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/builders/browser/specs/lazy-module_spec.ts
  packages/angular_devkit/build_webpack/package.json
  packages/ngtools/webpack/package.json
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29038 fix(@angular/ssr): apply HTML transformation to CSR responses
  packages/angular/ssr/src/app.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29046 docs: release notes for the v19.0.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29041 test: Introduce delay for file write to minimize flakiness
  tests/legacy-cli/e2e/tests/vite/ssr-new-dep-optimization.ts
Labels: action: merge, target: minor

#29051 test: disable colors in vite tests
  tests/legacy-cli/e2e/tests/vite/reuse-dep-optimization-cache.ts
  tests/legacy-cli/e2e/tests/vite/ssr-new-dep-optimization.ts
Labels: action: merge, target: minor

#29052 build: pin `@angular/` deps
  package.json
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29053 perf(@angular/build): reuse TS package.json cache when rebuilding
  packages/angular/build/src/tools/angular/angular-host.ts
  packages/angular/build/src/tools/angular/compilation/aot-compilation.ts
  packages/angular/build/src/tools/angular/compilation/jit-compilation.ts
Labels: action: merge, target: minor, area: @angular/build, area: performance

#29060 ci: update to latest version of dev-infra actions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
Labels: action: merge, area: build & ci, target: minor

#29063 ci: update to latest version of dev-infra actions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/pr.yml
Labels: target: patch, action: merge, area: build & ci

#29062 ci: update dev-infra sha to use latest Bazel keys
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/pr.yml
Labels: action: merge, target: lts, area: build & ci

#29064 ci: update to latest version of dev-infra actions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
Labels: action: merge, target: lts, area: build & ci

#29056 docs(@angular/ssr): remove duplicate `@return` comment
  packages/angular/ssr/src/routes/route-config.ts
Labels: area: docs, target: patch, action: merge, area: @angular/ssr

#29034 fix(@angular-devkit/build-angular): handle windows spec collisions
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/find-tests.ts
  packages/angular_devkit/build_angular/src/builders/karma/find-tests_spec.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/specs_spec.ts
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#29057 perf(@angular/build): reuse TS package.json cache when rebuilding
  packages/angular/build/src/tools/angular/angular-host.ts
  packages/angular/build/src/tools/angular/compilation/aot-compilation.ts
  packages/angular/build/src/tools/angular/compilation/jit-compilation.ts
Labels: target: patch, action: merge, area: @angular/build, area: performance

#29065 fix(@angular/build): show error when Node.js built-ins are used during `ng serve`
  packages/angular/build/src/builders/dev-server/vite-server.ts
  tests/legacy-cli/e2e/tests/vite/browser-node-module-dep-error.ts
  tests/legacy-cli/e2e/tests/vite/reuse-dep-optimization-cache.ts
Labels: target: patch, action: merge, area: @angular/build

#29067 Bump version to "v19.0.4" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29068 docs: release notes for the v19.0.4 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29069 refactor(@angular/build): move `getDepOptimizationConfig` into utils file
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/utils.ts
Labels: target: patch, action: merge, area: @angular/build

#29066 fix(@angular-devkit/build-angular): webpack config transform for karma
  modules/testing/builder/src/builder-harness.ts
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/src/builders/karma/browser_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/custom-loader_spec.ts
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#29058 test(@angular/ssr): refine spec setup to resolve component ID collision warnings
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/testing-utils.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29073 fix(@angular/ssr): include `Content-Language` header when locale is set
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/testing-utils.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29011 feat(@angular/build): add support for customizing URL segments with i18n
  packages/angular/build/src/builders/application/i18n.ts
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/extract-i18n/options.ts
  packages/angular/build/src/utils/i18n-options.ts
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/cli/lib/config/workspace-schema.json
  packages/angular/ssr/src/app-engine.ts
  packages/angular_devkit/build_angular/src/builders/browser/index.ts
  packages/angular_devkit/build_angular/src/builders/extract-i18n/options.ts
  packages/angular_devkit/build_angular/src/utils/i18n-webpack.ts
  packages/angular_devkit/build_angular/src/utils/output-paths.ts
  packages/schematics/angular/guard/index.ts
  packages/schematics/angular/guard/index_spec.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-sub-path.ts
Labels: action: merge, target: minor, detected: feature, detected: deprecation, area: @angular/build

#29091 revert: fix(@angular/build): show error when Node.js built-ins are used during ng serve
  packages/angular/build/src/tools/vite/utils.ts
  tests/legacy-cli/e2e/tests/vite/browser-node-module-dep-error.ts
Labels: target: patch, action: merge, area: @angular/build

#29090 revert: fix(@angular/build): show error when Node.js built-ins are used during ng serve
  packages/angular/build/src/tools/vite/utils.ts
  tests/legacy-cli/e2e/tests/vite/browser-node-module-dep-error.ts
Labels: action: merge, target: minor, area: @angular/build

#29094 fix(@angular/build): handle external `@angular/` packages during SSR
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/utils/server-rendering/esm-in-memory-loader/loader-hooks.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-external-dependencies.ts
Labels: target: patch, action: merge, merge: squash commits, merge: fix commit message, area: @angular/build

#28919 feat(@angular/ssr): add `modulepreload` for lazy-loaded routes
  packages/angular/build/BUILD.bazel
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/execute-post-bundle.ts
  packages/angular/build/src/builders/application/i18n.ts
  packages/angular/build/src/tools/angular/compilation/aot-compilation.ts
  packages/angular/build/src/tools/angular/compilation/factory.ts
  packages/angular/build/src/tools/angular/compilation/jit-compilation.ts
  packages/angular/build/src/tools/angular/compilation/parallel-compilation.ts
  packages/angular/build/src/tools/angular/compilation/parallel-worker.ts
  packages/angular/build/src/tools/angular/transformers/lazy-routes-transformer.ts
  packages/angular/build/src/tools/angular/transformers/lazy-routes-transformer_spec.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-tree.ts
  packages/angular/ssr/test/testing-utils.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-preload-links.ts
Labels: action: merge, target: minor, detected: feature, area: @angular/ssr

#29044 feat(@angular/ssr): redirect to preferred locale when accessing root route without a specified locale
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/src/i18n.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/test/app-engine_spec.ts
  packages/angular/ssr/test/i18n_spec.ts
Labels: action: merge, target: minor, detected: feature, area: @angular/ssr

#29112 fix(@angular/build): use consistent path separators for template HMR identifiers
  packages/angular/build/src/tools/angular/compilation/aot-compilation.ts
Labels: target: patch, action: merge, area: @angular/build

#29101 fix(@angular/ssr): disable component bootstrapping during route extraction
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/testing-utils.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29113 fix(@angular/build): provide component HMR update modules to dev-server SSR
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#29083 feat(@angular-devkit/architect): require build schemas from modules
  packages/angular_devkit/architect/node/node-modules-architect-host.ts
Labels: area: @angular-devkit/architect, action: merge, target: minor, detected: feature

#29121 Bump version to "v19.0.5" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29122 docs: release notes for the v19.0.5 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29124 Bump version to "v19.1.0-next.1" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29123 refactor(@angular/build): only load chunk optimizer if enabled
  packages/angular/build/src/builders/application/execute-build.ts
Labels: target: patch, action: merge, area: @angular/build

#28701 test: e2e tests for autoCsp
  tests/legacy-cli/e2e.bzl
  tests/legacy-cli/e2e/tests/build/auto-csp.ts
Labels: target: patch, action: merge, area: @angular/build

#29104 fix(@angular-devkit/build-angular): jasmine.clock with app builder
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/jasmine_global.js
  packages/angular_devkit/build_angular/src/builders/karma/jasmine_global_cleanup.js
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/jasmine-clock_spec.ts
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#29144 fix(@angular/ssr): correctly resolve pre-transform resources in Vite SSR without AppEngine
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
  tests/legacy-cli/e2e/tests/vite/ssr-no-server-entry-sub-path.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29148 ci: sync package locks information for aspect with renovate
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29150 ci: ignore changes to `.yarn/releases`
  renovate.json
Labels: action: merge, area: build & ci

#29152 ci: disable `pnpm-lock.yaml` update via renovate
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29153 ci: ignore pnpm lock file update from renovate
  renovate.json
Labels: action: merge, area: build & ci

#29147 fix(@angular/build): force HTTP/1.1 in dev-server SSR with SSL
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29165 ci: update `yarn` command
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29168 ci: restore `pnpm-lock.yaml` that was updated by renovate
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29164 refactor(@angular/ssr): mark `LINK_LOAD_SCRIPT_CONTENT` as `@PURE`
  packages/angular/ssr/src/utils/inline-critical-css.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29162 fix(@angular/ssr): ensure correct `Location` header for redirects behind a proxy
  packages/angular/ssr/node/src/request.ts
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/test/app_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29169 fix(@angular-devkit/architect): avoid Node.js resolution for relative builder schema
  packages/angular_devkit/architect/node/node-modules-architect-host.ts
Labels: area: @angular-devkit/architect, action: merge, target: minor

#29175 Bump version to "v19.0.6" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29176 docs: release notes for the v19.0.6 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29177 Bump version to "v19.1.0-next.2" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, target: minor

#29181 test: disable WTR e2e test
  tests/legacy-cli/e2e/tests/web-test-runner/basic.ts
Labels: target: patch, action: merge

#29186 test: add `--disable-dev-shm-usage` to address `WebDriverError: unknown error: Chrome failed to start: crashed`
  modules/testing/builder/projects/hello-world-app/protractor.conf.js
Labels: target: patch, action: merge

#29182 test: add `resolve/test/list-exports` to false positive in postinstall scripts check
  tests/legacy-cli/e2e/tests/misc/check-postinstalls.ts
Labels: action: merge, target: minor

#29183 fix(@angular/ssr): disable component boostrapping when running route extraction
  packages/angular/ssr/src/routes/ng-routes.ts
Labels: action: merge, target: minor, area: @angular/ssr

#29194 fix(@angular/build): mitigate JS transformer worker `execArgv` errors
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
Labels: target: patch, action: merge, area: @angular/build

#29200 build: set a mnemonic for template expand and file write
  .bazelrc
Labels: target: patch, action: merge, area: build & ci

#29201 ci: ensure passing build before rest of CI jobs
  .github/workflows/ci.yml
Labels: target: patch, action: merge, area: build & ci

#29202 Revert mnemonic test idea
  .bazelrc
Labels: target: patch, action: merge

#29193 fix(@angular-devkit/build-angular): preserve css type for jasmine.css
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#29203 ci: ensure passing test job before E2E jobs
  .github/workflows/ci.yml
Labels: target: patch, action: merge, area: build & ci

#29199 build: migrate `@ngtools/webpack` to `ts_project`
  packages/ngtools/webpack/BUILD.bazel
  packages/ngtools/webpack/index.ts
  tsconfig.json
Labels: target: patch, action: merge, area: build & ci

#29204 build: migrate `@angular-devkit/build-webpack` to `ts_project`
  packages/angular_devkit/build_webpack/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29210 build: migrate `angular_devkit/core` to `ts_project`
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/core/index.ts
  packages/angular_devkit/core/node/BUILD.bazel
  packages/angular_devkit/core/node/testing/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29214 build: migrate `@angular/create` to `ts_project`
  packages/angular/create/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29208 ci: ensure passing build before rest of PR jobs
  .github/workflows/pr.yml
Labels: action: merge, area: build & ci, target: minor

#29216 build: migrate modules/testing to ts_project
  modules/testing/builder/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29217 build: migrate `@schematics/angular` to `ts_project`
  packages/schematics/angular/BUILD.bazel
  packages/schematics/angular/third_party/github.com/Microsoft/TypeScript/BUILD.bazel
  tsconfig.json
Labels: target: patch, action: merge, area: build & ci

#29218 build: migrate `@angular-devkit/schematics-cli` to `ts_project`
  packages/angular_devkit/schematics_cli/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29220 build: migrate `@angular/cli` to `ts_project`
  packages/angular/cli/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29219 build: migrate `@angular/pwa` to `ts_project`
  packages/angular/pwa/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29230 [Patch of #29224] build: migrate `@angular/build` to `ts_project`
  packages/angular/build/BUILD.bazel
  packages/angular/build/index.ts
  packages/angular/build/private/BUILD.bazel
  packages/angular/build/private/index.ts
  packages/angular_devkit/build_angular/BUILD.bazel
  tsconfig.json
Labels: target: patch, action: merge, area: build & ci
