Repository angular/angular-cli, pull requests merged in 2025-03, with the labels that each got.

#29736 fix(@schematics/angular): prevent accidental deletion of `main.ts` during application builder migration
  packages/schematics/angular/migrations/use-application-builder/migration.ts
Labels: area: @schematics/angular, target: patch, action: merge

#29738 refactor(@angular-devkit/schematics): remove deprecated `NodePackageLinkTask`
  goldens/public-api/angular_devkit/schematics/tasks/index.api.md
  packages/angular_devkit/schematics/tasks/index.ts
  packages/angular_devkit/schematics/tasks/package-manager/link-task.ts
Labels: area: @angular-devkit/schematics, target: major, action: merge, detected: breaking change

#29737 refactor(@angular/ssr): remove deprecated `provideServerRoutesConfig` dev-preview API
  goldens/public-api/angular/ssr/index.api.md
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/src/routes/route-config.ts
Labels: target: major, action: merge, area: @angular/ssr

#29740 refactor(@angular/build): remove `file:` prefix from JIT component resource URLs in sourcemaps
  packages/angular/build/src/tools/esbuild/angular/jit-plugin-callbacks.ts
Labels: target: patch, action: merge, area: @angular/build

#29730 refactor(@angular/build): replace `fast-glob` usage with `tinyglobby`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/karma/find-tests.ts
  packages/angular/build/src/tools/esbuild/stylesheets/stylesheet-plugin-factory.ts
  packages/angular/build/src/utils/load-proxy-config.ts
  packages/angular/build/src/utils/resolve-assets.ts
  pnpm-lock.yaml
  yarn.lock
Labels: target: major, action: merge, area: @angular/build

#29743 fix(@angular/build): ensure matching coverage excludes with karma on Windows
  packages/angular/build/src/builders/karma/application_builder.ts
Labels: target: major, action: merge, area: @angular/build

#29705 build: update dev-infra and rework windows native testing
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .bazelrc
  .github/shared-actions/windows-bazel-test/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  WORKSPACE
  goldens/BUILD.bazel
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/package.json
  packages/angular/ssr/test/npm_package/BUILD.bazel
  packages/angular/ssr/test/npm_package/package_spec.ts
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/ngtools/webpack/BUILD.bazel
  pnpm-lock.yaml
  scripts/windows-testing/convert-symlinks.mjs
  scripts/windows-testing/parallel-executor.mjs
  tests/legacy-cli/BUILD.bazel
  tests/legacy-cli/e2e.bzl
  tests/legacy-cli/e2e/setup/010-local-publish.ts
  tests/legacy-cli/e2e/tests/BUILD.bazel
  tests/legacy-cli/e2e/tests/build/auto-csp.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-standalone.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-base-href.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-sub-path.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-preload-links.ts
  tests/legacy-cli/e2e/tests/build/styles/tailwind-v3.ts
  tests/legacy-cli/e2e/tests/commands/analytics/analytics-info.ts
  tests/legacy-cli/e2e/tests/misc/invalid-schematic-dependencies.ts
  tests/legacy-cli/e2e/tests/vite/reuse-dep-optimization-cache.ts
  tests/legacy-cli/e2e/tests/vite/ssr-new-dep-optimization.ts
  tests/legacy-cli/e2e/tests/vite/ssr-no-server-entry-sub-path.ts
  tests/legacy-cli/e2e/utils/BUILD.bazel
  tests/legacy-cli/e2e/utils/assets.ts
  tests/legacy-cli/e2e/utils/process.ts
  tests/legacy-cli/e2e/utils/registry.ts
  tests/legacy-cli/e2e/utils/test_process.ts
  tests/legacy-cli/e2e_runner.ts
  tests/legacy-cli/rollup.config.mjs
  tools/BUILD.bazel
  tools/interop.bzl
  tools/rules_ts_windows.patch
  tools/tar_system.bat
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29723 fix(@angular/build): allow component HMR with a service worker
  packages/angular/build/src/builders/application/build-action.ts
Labels: target: patch, action: merge, area: @angular/build

#29750 [19.2.x] build: update dev-infra and rework windows native testing
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .bazelrc
  .github/shared-actions/windows-bazel-test/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  WORKSPACE
  goldens/BUILD.bazel
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/package.json
  packages/angular/ssr/test/npm_package/BUILD.bazel
  packages/angular/ssr/test/npm_package/package_spec.ts
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/ngtools/webpack/BUILD.bazel
  pnpm-lock.yaml
  scripts/windows-testing/convert-symlinks.mjs
  scripts/windows-testing/parallel-executor.mjs
  tests/legacy-cli/BUILD.bazel
  tests/legacy-cli/e2e.bzl
  tests/legacy-cli/e2e/setup/010-local-publish.ts
  tests/legacy-cli/e2e/tests/BUILD.bazel
  tests/legacy-cli/e2e/tests/build/auto-csp.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-standalone.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-base-href.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n-sub-path.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-i18n.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-preload-links.ts
  tests/legacy-cli/e2e/tests/build/styles/tailwind-v3.ts
  tests/legacy-cli/e2e/tests/commands/analytics/analytics-info.ts
  tests/legacy-cli/e2e/tests/misc/invalid-schematic-dependencies.ts
  tests/legacy-cli/e2e/tests/vite/reuse-dep-optimization-cache.ts
  tests/legacy-cli/e2e/tests/vite/ssr-new-dep-optimization.ts
  tests/legacy-cli/e2e/tests/vite/ssr-no-server-entry-sub-path.ts
  tests/legacy-cli/e2e/utils/BUILD.bazel
  tests/legacy-cli/e2e/utils/assets.ts
  tests/legacy-cli/e2e/utils/process.ts
  tests/legacy-cli/e2e/utils/registry.ts
  tests/legacy-cli/e2e/utils/test_process.ts
  tests/legacy-cli/e2e_runner.ts
  tests/legacy-cli/rollup.config.mjs
  tools/BUILD.bazel
  tools/interop.bzl
  tools/rules_ts_windows.patch
  tools/tar_system.bat
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#29752 fix(@angular/build): exclude component styles from 'any' and 'all' budget calculations
  packages/angular/build/src/utils/bundle-calculator.ts
Labels: target: patch, action: merge, area: @angular/build

#29755 fix(@schematics/angular): prevent error when tsconfig file is missing in application builder migration
  packages/schematics/angular/migrations/use-application-builder/migration.ts
Labels: area: @schematics/angular, target: patch, action: merge

#29749 test: only test ng update for supported versions
  tests/legacy-cli/e2e/assets/15.0-project/package.json
  tests/legacy-cli/e2e/assets/15.0-project/src/app/app-routing.module.ts
  tests/legacy-cli/e2e/assets/15.0-project/src/app/app.component.html
  tests/legacy-cli/e2e/assets/15.0-project/src/app/app.component.ts
  tests/legacy-cli/e2e/assets/15.0-project/src/app/app.module.ts
  tests/legacy-cli/e2e/assets/15.0-project/src/favicon.ico
  tests/legacy-cli/e2e/assets/15.0-project/src/main.ts
  tests/legacy-cli/e2e/assets/17.0-project/.editorconfig
  tests/legacy-cli/e2e/assets/17.0-project/.gitignore
  tests/legacy-cli/e2e/assets/17.0-project/README.md
  tests/legacy-cli/e2e/assets/17.0-project/angular.json
  tests/legacy-cli/e2e/assets/17.0-project/package.json
  tests/legacy-cli/e2e/assets/17.0-project/src/app/app.component.css
  tests/legacy-cli/e2e/assets/17.0-project/src/app/app.component.html
  tests/legacy-cli/e2e/assets/17.0-project/src/app/app.component.spec.ts
  tests/legacy-cli/e2e/assets/17.0-project/src/app/app.component.ts
  tests/legacy-cli/e2e/assets/17.0-project/src/app/app.config.ts
  tests/legacy-cli/e2e/assets/17.0-project/src/app/app.routes.ts
  tests/legacy-cli/e2e/assets/17.0-project/src/assets/.gitkeep
  tests/legacy-cli/e2e/assets/17.0-project/src/favicon.ico
  tests/legacy-cli/e2e/assets/17.0-project/src/index.html
  tests/legacy-cli/e2e/assets/17.0-project/src/main.ts
  tests/legacy-cli/e2e/assets/17.0-project/src/styles.css
  tests/legacy-cli/e2e/assets/17.0-project/tsconfig.app.json
  tests/legacy-cli/e2e/assets/17.0-project/tsconfig.json
  tests/legacy-cli/e2e/assets/17.0-project/tsconfig.spec.json
  tests/legacy-cli/e2e/tests/update/update-multiple-versions.ts
  tests/legacy-cli/e2e/tests/update/update.ts
Labels: target: patch, action: merge

#29652 feat(@schematics/angular): directly use `@angular/build` in new projects
  packages/angular/build/src/builders/extract-i18n/application-extraction.ts
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/config/index_spec.ts
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
  tests/legacy-cli/e2e/initialize/500-create-project.ts
  tests/legacy-cli/e2e/utils/project.ts
Labels: area: @schematics/angular, target: major, action: merge, detected: feature

#29761 Bump version to "v19.2.1" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29762 docs: release notes for the v19.2.1 release
  CHANGELOG.md
Labels: area: docs, action: merge, target: minor

#29763 Bump version to "v20.0.0-next.0" with changelog.
  CHANGELOG.md
Labels: action: merge

#29179 bugfix: provide i18nDuplicateTranslation config value to checkDuplicateMessages function
  packages/angular/build/src/builders/extract-i18n/builder.ts
  packages/angular/build/src/utils/i18n-options.ts
Labels: target: patch, action: merge, merge: squash commits, merge: fix commit message, detected: feature

#29765 feat(@angular/build): drop support for TypeScript older than 5.8
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  packages/ngtools/webpack/package.json
  tests/legacy-cli/e2e/assets/ssr-project-webpack/package.json
Labels: target: major, action: merge, detected: feature, detected: breaking change, area: @angular/build

#29767 ci: renovate update Angular group to follow next tag
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29753 fix(@angular/build): exclude all entrypoints of a library from prebundling
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/builders/dev-server/schema.json
  packages/angular/build/src/builders/dev-server/tests/behavior/build-external-dependencies_spec.ts
  packages/angular/build/src/tools/esbuild/bundler-context.ts
  packages/angular/build/src/tools/esbuild/bundler-execution-result.ts
  packages/angular/build/src/tools/esbuild/external-packages-plugin.ts
  packages/angular/build/src/tools/vite/plugins/id-prefix-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#29777 build: update angular
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  patches/@angular+bazel+20.0.0-next.1.patch
  pnpm-lock.yaml
  tests/legacy-cli/e2e/ng-snapshot/package.json
  yarn.lock
Labels: target: major, action: merge, area: build & ci

#29770 refactor(@schematics/angular): remove v19 migrations
  packages/schematics/angular/migrations/migration-collection.json
  packages/schematics/angular/migrations/update-ssr-imports/migration.ts
  packages/schematics/angular/migrations/update-ssr-imports/migration_spec.ts
  packages/schematics/angular/migrations/update-workspace-config/migration.ts
  packages/schematics/angular/migrations/update-workspace-config/migration_spec.ts
Labels: area: @schematics/angular, target: major, action: merge

#29778 fix(@angular/build): remove duplicate prebundling warning
  packages/angular/build/src/builders/dev-server/builder.ts
Labels: target: patch, action: merge, area: @angular/build

#29793 build: update angular
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
  package.json
  patches/@angular+bazel+20.0.0-next.1.patch
  pnpm-lock.yaml
  tests/legacy-cli/e2e/ng-snapshot/package.json
  yarn.lock
Labels: target: major, action: merge, area: build & ci

#29792 fix(@angular/build): handle postcss compilation errors gracefully
  packages/angular/build/src/tools/esbuild/stylesheets/stylesheet-plugin-factory.ts
Labels: target: major, action: merge, area: @angular/build

#29795 [Patch] fix(@angular/build): handle postcss compilation errors gracefully
  packages/angular/build/src/tools/esbuild/stylesheets/stylesheet-plugin-factory.ts
Labels: target: patch, action: merge, area: @angular/build

#29809 build: ensure that `tools/legacy-rnjs/node_modules` is ignored
  .bazelignore
  tools/legacy-rnjs/.gitignore
Labels: target: major, action: merge, area: build & ci

#29800 fix(@angular/cli): record analytics for nested schematics
  packages/angular/cli/src/command-builder/schematics-command-module.ts
Labels: area: @angular/cli, target: patch, action: merge

#29804 fix(@angular/ssr): prevent stream draining if `write` does not return a boolean
  packages/angular/ssr/node/src/response.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29811 build: remove dev-infra `@angular/build-tooling` package
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: target: major, action: merge, area: build & ci

#29817 docs: improve developer guide for pnpm and windows
  docs/DEVELOPER.md
Labels: area: docs, target: patch, action: merge

#29823 build: update `ng-dev` to include latest pnpm release tool fixes
  package.json
  pnpm-lock.yaml
Labels: action: merge, target: minor

#29824 build: update ng-dev
  package.json
  pnpm-lock.yaml
Labels: area: build & ci

#29825 ci: update `matchCurrentVersion` RegExp
  renovate.json
Labels: target: major, action: merge, area: build & ci

#29821 test: remove E2E test for ngrx Effect decorator usage
  tests/legacy-cli/e2e/tests/misc/third-party-decorators.ts
Labels: target: major, action: merge

#29826 Bump version to "v19.2.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29827 docs: release notes for the v19.2.2 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29831 build: avoid WSL interop flake when preparing Windows CI environment
  scripts/windows-testing/convert-symlinks.mjs
Labels: target: patch, action: merge, area: build & ci

#29832 build: update angular
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
  package.json
  packages/angular/build/src/builders/application/tests/options/sourcemap_spec.ts
  packages/angular/ssr/package.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
  tests/legacy-cli/e2e/ng-snapshot/package.json
Labels: action: merge, area: build & ci, target: minor

#29839 Bump version to "v18.2.15" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29840 docs: release notes for the v18.2.15 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29842 docs: release notes for the v19.2.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29843 build: configure Bazel to ignore `packages/angular/build/node_modules`
  .bazelignore
Labels: action: merge, target: lts, area: build & ci

#29844 Bump version to "v17.3.13" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29849 fix(@angular/build): ensure relative karma stack traces for test failures
  packages/angular/build/src/builders/karma/application_builder.ts
  tests/legacy-cli/e2e/tests/test/test-sourcemap.ts
Labels: target: major, action: merge, area: @angular/build

#29828 refactor(@angular/build): define an internal ngHmrMode value
  packages/angular/build/src/builders/dev-server/tests/behavior/component-updates_spec.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
Labels: target: patch, action: merge, area: @angular/build

#29856 docs: correct bazel e2e commands
  docs/DEVELOPER.md
Labels: area: docs, target: patch, action: merge

#29855 feat(@angular/build): Support Sass package importers
  packages/angular/build/src/tools/esbuild/stylesheets/sass-language.ts
  tests/legacy-cli/e2e.bzl
  tests/legacy-cli/e2e/tests/build/styles/sass-pkg-importer.ts
Labels: target: major, action: merge, detected: feature, area: @angular/build

#29857 build: move build-angular/build-webpack specific dependencies out of root
  package.json
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/build_webpack/package.json
  packages/ngtools/webpack/BUILD.bazel
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#29859 refactor(@angular/cli): import from `node:fs/promises` where appropriate
  packages/angular/cli/lib/init.ts
  packages/angular/cli/src/commands/cache/clean/cli.ts
  packages/angular/cli/src/commands/cache/info/cli.ts
  packages/angular/cli/src/utilities/completion.ts
Labels: area: @angular/cli, target: major, action: merge

#29868 build: move devkit core specific dependencies out of root
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular/cli/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/core/node/BUILD.bazel
  packages/angular_devkit/core/package.json
  packages/angular_devkit/schematics/BUILD.bazel
  packages/angular_devkit/schematics/tools/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#29876 build: improve debugging mode of e2e test runner
  tests/legacy-cli/e2e_runner.ts
Labels: target: patch, action: merge, area: build & ci

#29877 fix(@angular/build): ensure relative karma stack traces for test failures
  packages/angular/build/src/builders/karma/application_builder.ts
  tests/legacy-cli/e2e/tests/test/test-sourcemap.ts
Labels: target: patch, action: merge, area: @angular/build

#29870 build: move `@angular/build` specific dependencies out of root
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular/pwa/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/schematics/BUILD.bazel
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#29879 fix(@schematics/angular): add `@angular/ssr` dependency only when `provideServerRendering` import has been updated
  packages/schematics/angular/migrations/replace-provide-server-rendering-import/migration.ts
  packages/schematics/angular/migrations/replace-provide-server-rendering-import/migration_spec.ts
Labels: area: @schematics/angular, target: major, action: merge

#29882 fix(@schematics/angular): replace `@angular/platform-browser-dynamic` with `@angular/platform-browser`
  packages/schematics/angular/application/files/module-files/src/main.ts.template
Labels: target: patch, action: merge

#29880 build: move more `@angular-devkit/build-angular` specific dependencies out of root
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/schematics/tasks/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  pnpm-lock.yaml
  tests/legacy-cli/e2e/utils/BUILD.bazel
  tests/package.json
Labels: target: major, action: merge, area: build & ci

#29881 build: update development Node.js version to 22.14.0 and auto-update
  .nvmrc
  renovate.json
Labels: target: major, action: merge, area: build & ci

#29886 fix(@angular/schematics): ensure app-shell schematic consistently uses `withAppShell`
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/server/index.ts
Labels: area: @schematics/angular, target: major, action: merge

#29888 fix(@angular/build): ensure errors for missing component resources
  packages/angular/build/src/builders/application/tests/behavior/component-stylesheets_spec.ts
  packages/angular/build/src/builders/application/tests/behavior/component-templates_spec.ts
  packages/angular/build/src/tools/angular/angular-host.ts
Labels: target: patch, action: merge, area: @angular/build

#29890 Bump version to "v19.2.4" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29891 docs: release notes for the v19.2.4 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29892 test: correct test description typos
  packages/angular/build/src/builders/application/tests/behavior/component-stylesheets_spec.ts
  packages/angular/build/src/builders/application/tests/behavior/component-templates_spec.ts
Labels: target: patch, action: merge

#29894 build: update tsconfig ECMAScript version to ES2023
  tsconfig.json
Labels: action: merge, area: build & ci, target: minor

#29893 fix(@schematics/angular): generate directives without a .directive extension/type
  packages/schematics/angular/directive/files/__name@dasherize@if-flat__/__name@dasherize__.directive.spec.ts.template
  packages/schematics/angular/directive/files/__name@dasherize__.__type@dasherize__.spec.ts.template
  packages/schematics/angular/directive/files/__name@dasherize__.__type@dasherize__.ts.template
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/directive/index_spec.ts
  packages/schematics/angular/directive/schema.json
  tests/legacy-cli/e2e/tests/generate/directive/directive-basic.ts
  tests/legacy-cli/e2e/tests/generate/directive/directive-prefix.ts
Labels: area: @schematics/angular, target: major, action: merge

#29896 Bump version to "v20.0.0-next.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29897 fix(@schematics/angular): remove empty `scripts` option value from new applications
  packages/schematics/angular/application/index.ts
Labels: area: @schematics/angular, target: major, action: merge

#29902 docs(@angular/ssr): remove extra pipe from link in tsdocs
  packages/angular/ssr/src/routes/route-config.ts
Labels: area: docs, action: merge, target: minor, area: @angular/ssr

#29903 fix(@angular/build): correct handling of response/request errors
  packages/angular/build/src/utils/server-rendering/launch-server.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
Labels: target: patch, action: merge, area: @angular/build

#29898 feat(@angular/build): support a default outputPath option for applications
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
Labels: target: major, action: merge, detected: feature, area: @angular/build

#29904 perf(@angular/ssr): flush headers prior to start rendering the HTML
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/utils/ng.ts
Labels: target: major, action: merge, area: @angular/ssr, area: performance

#29895 build: move rxjs dependency out of root
  modules/testing/builder/BUILD.bazel
  modules/testing/builder/package.json
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/architect/node/BUILD.bazel
  packages/angular_devkit/architect/testing/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/src/builders/browser/specs/lazy-module_spec.ts
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/core/node/BUILD.bazel
  packages/angular_devkit/core/node/testing/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/angular_devkit/schematics/tasks/BUILD.bazel
  packages/angular_devkit/schematics/tasks/node/BUILD.bazel
  packages/angular_devkit/schematics/testing/BUILD.bazel
  packages/angular_devkit/schematics/tools/BUILD.bazel
  pnpm-lock.yaml
  tests/legacy-cli/e2e/utils/BUILD.bazel
  tests/package.json
Labels: target: major, action: merge, area: build & ci

#29912 refactor: replace `dirname(fileURLToPath(import.meta.url))` with `import.meta.dirname`
  packages/schematics/angular/ssr/files/application-builder/server.ts.template
  packages/schematics/angular/ssr/index_spec.ts
  scripts/build-packages-dist.mts
  scripts/build-schema.mts
  scripts/build.mts
  scripts/create.mts
  scripts/devkit-admin.mts
  scripts/json-help.mts
  scripts/snapshots.mts
  scripts/templates.mts
  scripts/validate-user-analytics.mts
  tests/legacy-cli/e2e/assets/ssr-project-webpack/package.json
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-http-calls.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/utils/project.ts
Labels: target: major, action: merge

#29910 fix(@schematics/angular): add type checking of host bindings to strict config
  packages/schematics/angular/workspace/files/tsconfig.json.template
Labels: area: @schematics/angular, target: major, action: merge

#29908 fix(@angular/build): handle undefined `getOrCreateAngularServerApp` during error compilation
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
Labels: target: patch, action: merge, area: @angular/build

#29905 fix(@schematics/angular): remove explicit `outputPath` option value from generated applications
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/ssr/index.ts
  packages/schematics/angular/ssr/index_spec.ts
  tests/legacy-cli/e2e/tests/build/jit-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/rebuild-dot-dirname.ts
  tests/legacy-cli/e2e/tests/build/relative-sourcemap.ts
Labels: area: @schematics/angular, target: major, action: merge

#29920 fix(@angular/cli): update minimum supported Node.js 22 version to 22.11.0
  WORKSPACE
  constants.bzl
  package.json
Labels: area: @angular/cli, target: major, action: merge, detected: breaking change

#29923 fix(@angular/build): normalize karma asset paths before lookup
  packages/angular/build/src/builders/karma/application_builder.ts
Labels: target: patch, action: merge, area: @angular/build

#29932 feat(@angular/build): allow control of source map sources content for application builds
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/builders/application/setup-bundling.ts
  packages/angular/build/src/builders/application/tests/options/sourcemap_spec.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/global-styles.ts
  packages/angular/build/src/tools/esbuild/stylesheets/bundle-options.ts
  packages/angular/build/src/utils/normalize-source-maps.ts
Labels: target: major, action: merge, detected: feature, area: @angular/build

#29933 refactor(@angular/build): use newer Node.js `cp` API for asset copying
  packages/angular/build/src/builders/application/index.ts
  tests/legacy-cli/e2e/tests/build/assets.ts
Labels: target: major, action: merge, area: @angular/build

#29934 test: improve resilience of asset timestamp E2E test
  tests/legacy-cli/e2e/tests/build/assets.ts
Labels: target: major, action: merge

#29940 fix(@angular-devkit/build-angular): update vite to 5.4.15
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: area: @angular-devkit/build-angular, action: merge, target: lts

#29939 fix(@angular/build): update vite to 5.4.15
  package.json
  packages/angular/build/package.json
  yarn.lock
Labels: action: merge, target: lts, area: @angular/build

#29937 test: ensure atime and mtime are rounded consistently in tests
  tests/legacy-cli/e2e/tests/build/assets.ts
Labels: target: major, action: merge

#29938 fix(@angular/build): update vite to 6.2.3
  package.json
  packages/angular/build/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: @angular/build

#29942 Bump version to "v17.3.14" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29943 docs: release notes for the v17.3.14 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29944 Bump version to "v18.2.16" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29945 docs: release notes for the v18.2.16 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29946 Bump version to "v19.2.5" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29947 docs: release notes for the v19.2.5 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29948 Bump version to "v20.0.0-next.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29952 build: disable remote upload of local action results to RBE cache
  .bazelrc
Labels: target: patch, action: merge, area: build & ci

#29953 fix(@angular/build): warn and remove jsdom launcher when used with karma
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/karma/index.ts
  packages/angular/build/src/builders/karma/tests/options/browsers_spec.ts
Labels: target: major, action: merge, area: @angular/build

#29950 Revert "refactor: use `platformBrowser` instead of `platformBrowserTesting`
  packages/angular/build/src/builders/karma/polyfills/init_test_bed.js
  packages/angular_devkit/build_angular/src/builders/jest/init-test-bed.mjs
  packages/angular_devkit/build_angular/src/builders/karma/browser_builder.ts
  packages/angular_devkit/build_angular/src/builders/web-test-runner/jasmine_runner.js
Labels: target: major, action: merge

#29962 ci: update bazel RBE setup on CI and use trusted build configuration for upstream CI runs
  .bazelrc
  .github/shared-actions/windows-bazel-test/action.yml
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
Labels: target: major, action: merge, area: build & ci

#29963 ci: update bazel RBE setup on CI and use trusted build configuration for upstream CI runs
  .bazelrc
  .github/shared-actions/windows-bazel-test/action.yml
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
Labels: target: patch, action: merge, area: build & ci

#29957 refactor(@angular/build): remove `Component HMR has been enabled` warning
  packages/angular/build/src/builders/dev-server/tests/options/hmr_spec.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: major, action: merge, area: @angular/build

#29960 refactor(@angular/cli): avoid implicit undefined array defaults for `@angular/build` builders
  goldens/public-api/angular_devkit/core/index.api.md
  modules/testing/builder/src/builder-harness.ts
  packages/angular/build/src/builders/application/tests/setup.ts
  packages/angular/cli/src/command-builder/architect-base-command-module.ts
  packages/angular_devkit/core/src/json/schema/transforms.ts
Labels: area: @angular/cli, target: major, action: merge

#29975 fix(@angular/build): correctly handle `false` value in server option
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
Labels: target: patch, action: merge, area: @angular/build
