Repository angular/angular-cli, pull requests merged in 2025-10, with the labels that each got.

#31344 feat(@angular/cli): overhaul `ng version` command output
  packages/angular/cli/src/commands/version/cli.ts
  packages/angular/cli/src/commands/version/version-info.ts
Labels: area: @angular/cli, target: major, action: merge, detected: feature

#31345 refactor(@angular/cli): improve output format for `ng cache info` command
  packages/angular/cli/src/commands/cache/info/cli.ts
  tests/legacy-cli/e2e/tests/commands/cache/cache-info.ts
Labels: area: @angular/cli, target: major, action: merge

#31341 test(@angular/build): reduce usage of `@angular-devkit/core` tags helpers in unit-tests
  packages/angular/build/src/builders/dev-server/tests/behavior/serve-live-reload-proxies_spec.ts
  packages/angular/build/src/builders/karma/tests/behavior/code-coverage_spec.ts
  packages/angular/build/src/utils/index-file/augment-index-html_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#31358 refactor(@angular/build): switch back to rollup for chunk optimizer
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular/build/src/builders/application/chunk-optimizer.ts
  pnpm-lock.yaml
  tests/legacy-cli/e2e/tests/build/chunk-optimizer.ts
Labels: target: patch, action: merge, area: @angular/build

#31369 feat(@angular/build): add advanced coverage options to unit-test builder
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/runners/karma/executor.ts
  packages/angular/build/src/builders/unit-test/runners/karma/index.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/executor.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/index.ts
  packages/angular/build/src/builders/unit-test/schema.json
  packages/angular/build/src/builders/unit-test/tests/options/code-coverage-exclude_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/code-coverage-reporters_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/code-coverage_spec.ts
Labels: target: major, action: merge, detected: feature, area: @angular/build

#31368 refactor(@angular/build): make buildTarget optional in unit-test builder
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: target: major, action: merge, area: @angular/build

#31374 build: update dependency typescript to v5.9.3
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#31348 feat(@angular/build): add `browserViewport` option for vitest browser tests
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/runners/karma/executor.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/browser-provider.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/executor.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: target: major, action: merge, detected: feature, area: @angular/build

#31377 build: update cross-repo angular dependencies
  package.json
  packages/angular/build/src/builders/karma/tests/behavior/module-cjs_spec.ts
  packages/angular/build/src/utils/service-worker.ts
  packages/angular/ssr/package.json
  packages/angular_devkit/build_angular/test/hello-world-lib/tsconfig.json
  packages/angular_devkit/build_webpack/test/angular-app/tsconfig.json
  packages/angular_devkit/build_webpack/test/basic-app/tsconfig.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
  tests/legacy-cli/e2e/ng-snapshot/package.json
Labels: target: major, action: merge, area: build & ci

#31382 refactor(@angular/cli): add framework version to `list_projects` MCP tool
  packages/angular/cli/src/commands/mcp/tools/doc-search.ts
  packages/angular/cli/src/commands/mcp/tools/projects.ts
Labels: area: @angular/cli, target: major, action: merge

#31381 feat(@angular/cli): enhance `ng version` output with more details
  packages/angular/cli/src/commands/version/cli.ts
  packages/angular/cli/src/commands/version/version-info.ts
Labels: area: @angular/cli, target: major, action: merge, detected: feature

#31400 feat(@angular/cli): add builder info to list_projects MCP tool
  packages/angular/cli/src/commands/mcp/tools/projects.ts
Labels: area: @angular/cli, target: major, action: merge, detected: feature

#31417 docs: release notes for the v20.3.5 release
  CHANGELOG.md
Labels: area: docs, action: merge

#31421 Bump version to "v21.0.0-next.7" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge
