Repository angular/angular-cli, pull requests merged in 2025-02, with the labels that each got.

#29543 fix(@angular/ssr): prioritize the first matching route over subsequent ones
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29558 fix(@schematics/angular): remove additional newline after standalone …
  packages/schematics/angular/component/files/__name@dasherize@if-flat__/__name@dasherize__.__type@dasherize__.ts.template
Labels: area: @schematics/angular, target: patch, action: merge

#29563 build: Preserve newlines when gathering stdout
  scripts/build-schema.mts
Labels: target: patch, action: merge, area: build & ci

#29564 fix(@schematics/angular): skip ssr migration when `@angular/ssr` is not a dependency
  packages/schematics/angular/migrations/update-ssr-imports/migration.ts
  packages/schematics/angular/migrations/update-ssr-imports/migration_spec.ts
Labels: target: patch, action: merge

#29550 refactor(@angular/ssr): simplify preload append logic in metadata
  packages/angular/ssr/src/routes/ng-routes.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29510 refactor(@angular/build): allow component update invalidation from client
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#28855 feat: add aot option to jest
  packages/angular_devkit/build_angular/src/builders/jest/index.ts
  packages/angular_devkit/build_angular/src/builders/jest/schema.json
  tests/legacy-cli/e2e/tests/jest/aot.ts
Labels: area: @angular-devkit/build-angular, action: merge, target: minor, detected: feature

#29569 fix(@angular/build): avoid pre-transform errors with Vite pre-bundling
  packages/angular/build/src/builders/dev-server/tests/behavior/build-external-dependencies_spec.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29568 fix(@angular/build): ensure full rebuild after initial error build in watch mode
  packages/angular/build/src/builders/application/build-action.ts
  packages/angular/build/src/builders/dev-server/tests/behavior/build-errors_spec.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
  tests/legacy-cli/e2e/tests/build/jit-ngmodule.ts
Labels: target: patch, action: merge, area: @angular/build

#29577 Bump version to "v19.1.6" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29578 docs: release notes for the v19.1.6 release
  CHANGELOG.md
Labels: action: merge

#29581 fix(@angular/ssr): accurately calculate content length for static pages with `\r\n`
  packages/angular/build/src/utils/server-rendering/manifest.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29582 refactor(@angular/build): also add `server.preTransformRequests`
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge

#29596 fix(@angular/build): exclude unmodified files from logs with `--local…
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/tools/esbuild/utils.ts
Labels: target: patch, action: merge, area: @angular/build

#29595 fix(@angular/build): handle unlocalizable files correctly in localized prerender
  packages/angular/build/src/builders/application/i18n.ts
Labels: target: patch, action: merge, area: @angular/build

#29594 fix(@angular/ssr): properly handle baseHref with protocol
  packages/angular/build/src/utils/server-rendering/prerender.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29605 refactor(@angular/build): remove outdated `allowedHosts` warning
  packages/angular_devkit/build_angular/src/builders/dev-server/builder.ts
Labels: target: patch, action: merge, area: @angular/build

#29608 feat: add aot option to karma
  goldens/public-api/angular_devkit/build_angular/index.api.md
  packages/angular_devkit/build_angular/src/builders/karma/application_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/schema.json
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/aot_spec.ts
Labels: area: @angular-devkit/build-angular, action: merge, target: minor, detected: feature

#29606 perf(@angular/build): cache translated i18n bundles for faster builds
  packages/angular/build/src/builders/application/i18n.ts
  packages/angular/build/src/tools/esbuild/i18n-inliner.ts
Labels: target: patch, action: merge, area: @angular/build, area: performance

#29607 fix(@angular/build): configure Vite CORS option
  packages/angular/build/src/builders/dev-server/schema.json
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29612 ci: temporary disable updating esbuild
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29538 fix(@angular/build): support per component updates of multi-component files
  packages/angular/build/src/tools/angular/compilation/hmr-candidates.ts
Labels: action: merge, target: minor, area: @angular/build

#29620 test: remove animations check from material build E2E test
  tests/legacy-cli/e2e/tests/build/material.ts
Labels: action: merge, target: minor

#29621 Bump version to "v17.3.12" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29622 docs: release notes for the v17.3.12 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29623 Bump version to "v19.1.7" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29625 docs: release notes for the v19.1.7 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29626 Bump version to "v19.2.0-next.2" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: cleanup, action: merge

#29598 fix(@angular/cli): correctly parse and resolve relative schematic collection names on Windows
  packages/angular/cli/src/command-builder/schematics-command-module.ts
Labels: area: @angular/cli, target: patch, action: merge

#29618 fix(@schematics/angular): remove animations module from ng new app
  packages/schematics/angular/workspace/files/package.json.template
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server-platform-neutral.ts
Labels: area: @schematics/angular, action: merge, target: minor

#29617 fix(@angular-devkit/build-angular): support aot option for karma browser builder
  packages/angular_devkit/build_angular/src/builders/karma/browser_builder.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/options/aot_spec.ts
Labels: area: @angular-devkit/build-angular, action: merge, target: minor

#29631 ci: replace `bazel run @npm2//:sync` with `bazel sync --only=repo`
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29633 ci: handle error when running `bazel sync --only=repo`
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29634 build: update `@angular/ng-dev` to `9d865e0e4202ed88ccec184739819c09637b5ede`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#29635 refactor(@angular/cli): handle undefined `ng add` collection name
  packages/angular/cli/src/commands/add/cli.ts
Labels: area: @angular/cli, target: patch, action: merge

#29629 fix(@angular/cli): prefer installed package as fallback when listing package groups
  packages/angular/cli/src/commands/update/schematic/index.ts
Labels: area: @angular/cli, target: patch, action: merge

#29646 build: update all non-major dependencies
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/builders/browser/specs/vendor-source-map_spec.ts
  packages/angular_devkit/build_webpack/package.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29647 test: reduce flakiness of `reuse-dep-optimization-cache` e2e test
  tests/legacy-cli/e2e/tests/vite/reuse-dep-optimization-cache.ts
Labels: target: patch, action: merge

#29649 build: modify Alan in the mailmap file
  .mailmap
Labels: action: merge, area: build & ci, target: minor

#29638 fix(@angular/build): update critical CSS inlining to support `autoCsp`
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/esbuild/index-html-generator.ts
  packages/angular/build/src/utils/index-file/auto-csp.ts
  packages/angular/build/src/utils/index-file/index-html-generator.ts
  packages/angular/build/src/utils/index-file/inline-critical-css.ts
  packages/angular/build/src/utils/index-file/inline-critical-css_spec.ts
  tests/legacy-cli/e2e/tests/build/auto-csp.ts
Labels: target: patch, action: merge, area: @angular/build

#29662 fix(@angular/build): provide karma stack trace sourcemap support
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/karma/polyfills/init_sourcemaps.js
  pnpm-lock.yaml
  tests/legacy-cli/e2e/tests/test/test-sourcemap.ts
Labels: action: merge, target: minor, area: @angular/build

#29667 build: add @types/node to assorted locations where node types are being relied on and currently obtained transitively.
  modules/testing/builder/BUILD.bazel
  packages/angular/pwa/BUILD.bazel
  packages/angular/ssr/node/test/BUILD.bazel
  packages/angular/ssr/schematics/BUILD.bazel
  packages/angular/ssr/test/BUILD.bazel
  packages/angular/ssr/test/npm_package/BUILD.bazel
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/architect/node/BUILD.bazel
  packages/angular_devkit/architect_cli/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/core/node/BUILD.bazel
  packages/angular_devkit/schematics/tools/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  tests/legacy-cli/BUILD.bazel
  tests/legacy-cli/e2e/initialize/BUILD.bazel
  tests/legacy-cli/e2e/setup/BUILD.bazel
  tests/legacy-cli/e2e/tests/BUILD.bazel
  tests/legacy-cli/e2e/utils/BUILD.bazel
Labels: action: merge, area: build & ci, target: minor

#29666 feat(@angular-devkit/build-angular): add aot to WTR schema
  packages/angular_devkit/build_angular/src/builders/web-test-runner/index.ts
  packages/angular_devkit/build_angular/src/builders/web-test-runner/schema.json
Labels: area: @angular-devkit/build-angular, action: merge, target: minor, detected: feature

#29668 [Patch Version] build: add @types/node to assorted locations where node types are being relied on and currently obtained transitively.
  modules/testing/builder/BUILD.bazel
  packages/angular/pwa/BUILD.bazel
  packages/angular/ssr/node/test/BUILD.bazel
  packages/angular/ssr/schematics/BUILD.bazel
  packages/angular/ssr/test/BUILD.bazel
  packages/angular/ssr/test/npm_package/BUILD.bazel
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/architect/node/BUILD.bazel
  packages/angular_devkit/architect_cli/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/core/node/BUILD.bazel
  packages/angular_devkit/schematics/tools/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  tests/legacy-cli/BUILD.bazel
  tests/legacy-cli/e2e/initialize/BUILD.bazel
  tests/legacy-cli/e2e/setup/BUILD.bazel
  tests/legacy-cli/e2e/tests/BUILD.bazel
  tests/legacy-cli/e2e/utils/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29672 docs: release notes for the v19.1.8 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29673 build: temporarily ignore renovate updates for @angular/build-tooling
  renovate.json
Labels: area: build & ci, target: minor

#29676 Bump version to "v19.2.0-rc.0" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29678 Configure next branch to receive major changes for v20.0.0-next.0
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
Labels: action: merge

#29688 test: prepare E2E tests for `@angular/build` project default
  tests/legacy-cli/e2e/initialize/500-create-project.ts
  tests/legacy-cli/e2e/tests/build/jit-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/rebuild-dot-dirname.ts
  tests/legacy-cli/e2e/tests/commands/add/version-specifier.ts
  tests/legacy-cli/e2e/tests/test/test-environment.ts
Labels: target: major, action: merge

#29687 fix(@schematics/angular): add additional checks for application builder usage
  packages/angular/pwa/pwa/index.ts
  packages/angular/pwa/pwa/index_spec.ts
  packages/schematics/angular/config/files/karma.conf.js.template
  packages/schematics/angular/config/index.ts
  packages/schematics/angular/config/index_spec.ts
  packages/schematics/angular/environments/index.ts
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/utility/workspace-models.ts
Labels: area: @schematics/angular, target: rc, action: merge

#29689 build: update postcss to v8.5.3
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/builders/browser/specs/vendor-source-map_spec.ts
  packages/schematics/angular/utility/latest-versions/package.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: major, action: merge, area: build & ci

#29706 build: update angular
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
  constants.bzl
  package.json
  pnpm-lock.yaml
  tests/legacy-cli/e2e/ng-snapshot/package.json
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29707 fix(@angular/build): always disable JSON stats with dev-server
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29701 build: update dependency eslint to v9
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29714 Bump version to "v19.1.9" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29715 docs: release notes for the v19.1.9 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29713 build: update fw and packagr to 19.2.0
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  constants.bzl
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: rc, action: merge, area: build & ci

#29716 Bump version to "v19.2.0" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29709 build: update vite to v6.2.0
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  packages/angular/build/package.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#29722 fix(@angular/build): handle undefined `less` stylesheet sourcemap values
  packages/angular/build/src/tools/esbuild/stylesheets/less-language.ts
Labels: target: patch, action: merge, area: @angular/build
