Repository angular/angular-cli, pull requests merged in 2025-06, with the labels that each got.

#30422 feat(@angular/build): add dataurl, base64 loaders
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/builders/application/tests/behavior/loader-import-attribute_spec.ts
  packages/angular/build/src/builders/application/tests/options/loader_spec.ts
  packages/angular/build/src/builders/karma/schema.json
  packages/angular/build/src/tools/esbuild/loader-import-attribute-plugin.ts
Labels: action: merge, target: minor, detected: feature, area: @angular/build

#30457 fix(@angular/cli): improve Node.js version check and error messages
  packages/angular/cli/bin/ng.js
Labels: area: @angular/cli, target: patch, action: merge

#30460 Bump version to "v20.0.1" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30472 build: simplify unit test target names
  modules/testing/builder/BUILD.bazel
  packages/angular/cli/BUILD.bazel
  packages/angular/pwa/BUILD.bazel
  packages/angular/ssr/schematics/BUILD.bazel
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/architect/node/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/core/node/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/angular_devkit/schematics/tools/BUILD.bazel
  packages/angular_devkit/schematics_cli/test/BUILD.bazel
  packages/ngtools/webpack/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  tools/baseline_browserslist/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#30470 build: improve globbing of jasmine test files
  tools/defaults.bzl
Labels: target: patch, action: merge, area: build & ci

#30463 build: bumping dependencies for `20.1.0-next`
  constants.bzl
Labels: action: merge, area: build & ci, target: minor

#30474 build: fix perf workflows
  .ng-dev/dx-perf-workflows.yml
Labels: target: patch, action: merge, area: build & ci

#29109 feat(@schematics/angular): use signal in app component
  packages/schematics/angular/application/files/common-files/src/app/app.html.template
  packages/schematics/angular/application/files/module-files/src/app/app.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.ts.template
  tests/legacy-cli/e2e/tests/build/prerender/error-with-sourcemaps.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-server.ts
  tests/legacy-cli/e2e/tests/misc/forwardref-es2015.ts
Labels: area: @schematics/angular, action: merge, target: minor, detected: feature

#30469 build: update dependency webpack-dev-server to v5.2.2
  package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: severity6: security, area: @angular-devkit/build-angular, action: merge, target: lts, merge: caretaker note

#30495 fix(@angular/build): do not consider internal Angular files as external imports
  packages/angular/build/src/tools/esbuild/bundler-context.ts
Labels: target: patch, action: merge, area: @angular/build

#30516 Bump version to "v18.2.20" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30498 fix(@angular/build): support injecting global styles into vitest unit-tests
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: action: merge, target: minor, area: @angular/build

#30519 docs: release notes for the v19.2.15 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30520 Bump version to "v20.0.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30521 docs: release notes for the v20.0.2 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30508 [19.2.x] ci: update to latest version of dev-infra actions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
  WORKSPACE
Labels: action: merge, target: lts, area: build & ci

#30524 Bump version to "v20.1.0-next.1" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30529 fix(@schematics/angular): include `main.server.ts` in `tsconfig.files` when present
  packages/schematics/angular/server/index.ts
Labels: area: @schematics/angular, target: patch, action: merge

#30535 fix(@angular/build): set scripts option output as classic script for karma
  packages/angular/build/src/builders/karma/application_builder.ts
Labels: target: patch, action: merge, area: @angular/build

#30536 fix(@angular/build): include custom bundle name scripts with karma
  packages/angular/build/src/builders/karma/application_builder.ts
Labels: target: patch, action: merge, area: @angular/build

#30546 fix(@angular/build): coverage reporter option
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: action: merge, target: minor, area: @angular/build

#30552 fix(@angular/build): increase worker idle timeout
  packages/angular/build/src/utils/worker-pool.ts
Labels: target: patch, action: merge, area: @angular/build

#30553 Bump version to "v20.0.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30554 docs: release notes for the v20.0.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30555 Bump version to "v20.1.0-next.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30559 refactor(schematics): add link to ai best practicies
  packages/schematics/angular/application/files/common-files/src/app/app.html.template
  tests/legacy-cli/e2e/assets/17.0-project/src/app/app.component.html
Labels: area: @schematics/angular, target: patch, action: merge

#30562 build: update piscina to 5.1.1
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: build & ci

#30561 Revert "fix(@angular/build): increase worker idle timeout"
  packages/angular/build/src/utils/worker-pool.ts
Labels: target: patch, action: merge

#30563 build: update all non-major dependencies
  modules/testing/builder/package.json
  package.json
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, target: minor

#30569 docs: update component schematic option descriptions
  packages/schematics/angular/component/schema.json
Labels: area: docs, target: patch, action: merge

#30580 test: remove unneeded bazel tsetse configuration
  tsconfig-test.json
Labels: action: merge, target: minor

#30560 fix(@angular/ssr): avoid preloading unnecessary dynamic bundles
  packages/angular/build/src/utils/server-rendering/manifest.ts
  packages/angular/ssr/src/manifest.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-preload-links.ts
Labels: target: patch, action: merge, area: @angular/ssr

#30585 ci: disable `verdaccio` auto updates
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#30583 fix(@angular/ssr): ensure correct referer header handling in web request conversion
  packages/angular/ssr/node/src/request.ts
  packages/angular/ssr/node/test/request_http1_spec.ts
  packages/angular/ssr/node/test/request_http2_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#30592 feat(@angular-devkit/build-angular): partial custom postcss config support
  packages/angular/build/src/private.ts
  packages/angular_devkit/build_angular/src/builders/browser/tests/behavior/postcss_config_spec.ts
  packages/angular_devkit/build_angular/src/tools/webpack/configs/styles.ts
  packages/angular_devkit/build_angular/src/utils/tailwind.ts
Labels: area: @angular-devkit/build-angular, action: merge, target: minor, detected: feature

#30600 ci: disable auto updates for `io_bazel_rules_webtesting`
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#30603 Bump version to "v20.0.4" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30607 Bump version to "v20.1.0-next.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30614 fix(@angular-devkit/build-angular): remove unused `@vitejs/plugin-basic-ssl` dependency
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: area: @angular-devkit/build-angular, action: merge, target: minor

#30616 fix(@angular-devkit/build-angular): remove unused `@vitejs/plugin-basic-ssl` dependency
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#30619 build: use more shards for application builder tests
  packages/angular/build/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci
