Repository angular/angular-cli, pull requests merged in 2025-01, with the labels that each got.

#29222 build: migrate E2E tests to `ts_project`
  tests/legacy-cli/BUILD.bazel
  tests/legacy-cli/e2e/initialize/BUILD.bazel
  tests/legacy-cli/e2e/setup/BUILD.bazel
  tests/legacy-cli/e2e/tests/BUILD.bazel
  tests/legacy-cli/e2e/utils/BUILD.bazel
  tsconfig.json
Labels: target: patch, action: merge, area: build & ci

#29249 refactor(@angular/ssr): clean up comment.
  packages/angular/ssr/src/routes/route-config.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29250 fix(@angular/build): do not mark Babel _defineProperty helper function as pure
  packages/angular/build/src/tools/babel/plugins/pure-toplevel-functions.ts
  packages/angular/build/src/tools/babel/plugins/pure-toplevel-functions_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#29215 test: remove several outdated E2E tests
  tests/legacy-cli/e2e/tests/misc/e2e-host.ts
  tests/legacy-cli/e2e/tests/misc/fallback.ts
  tests/legacy-cli/e2e/tests/misc/http-headers.ts
  tests/legacy-cli/e2e/tests/misc/proxy-config.ts
Labels: action: merge, target: minor

#29252 fix(@angular/build): handle relative URLs when constructing new URLs during server fetch
  packages/angular/build/src/utils/server-rendering/fetch-patch.ts
Labels: target: patch, action: merge, area: @angular/build

#29254 fix(@angular-devkit/architect): provide better error when builder is not defined
  packages/angular_devkit/architect/node/node-modules-architect-host.ts
Labels: area: @angular-devkit/architect, target: patch, action: merge

#29255 refactor(@angular/build): normalize source path for windows compatibility
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
Labels: action: merge, target: minor, area: @angular/build

#29243 refactor(@angular/build): support application incremental build result in dev-server
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: action: merge, target: minor, area: @angular/build

#29245 build: migrate `@angular-devkit/schematics` to `ts_project`
  packages/angular_devkit/schematics/BUILD.bazel
  packages/angular_devkit/schematics/index.ts
  packages/angular_devkit/schematics/tasks/BUILD.bazel
  packages/angular_devkit/schematics/tasks/node/BUILD.bazel
  packages/angular_devkit/schematics/testing/BUILD.bazel
  packages/angular_devkit/schematics/tools/BUILD.bazel
  tsconfig.json
Labels: target: patch, action: merge, area: build & ci

#29259 build: fix schematics API golden for 19.0.x
  goldens/public-api/angular_devkit/schematics/index.api.md
Labels: target: patch, action: merge, area: build & ci

#29261 ci: run less jobs per executor for RBE
  .bazelrc
Labels: target: patch, action: merge, area: build & ci

#29262 test(@angular/build): separate application and dev-server integration test targets
  packages/angular/build/BUILD.bazel
Labels: target: patch, action: merge, area: @angular/build

#29273 ci: enable `rules_js` interop mode for ng-dev release tool
  .ng-dev/release.mjs
Labels: target: patch, action: merge, area: build & ci

#29280 build: resolve issue with uncompiled `@angular/build/private` being included
  packages/angular/build/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#29282 build: do not include tsconfig files in npm archives
  tools/interop.bzl
Labels: target: patch, action: merge, area: build & ci

#29283 build: update `@angular/ng-dev` to support `rulesJsInteropMode`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#29260 refactor(@angular/build): support multiple results per application build action
  packages/angular/build/src/builders/application/build-action.ts
Labels: action: merge, target: minor, area: @angular/build

#29281 refactor(@angular/build): remove redundant ESLint disabling comments
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: action: merge, target: minor

#29276 fix(@angular/build): skip vite SSR warmup file configuration when SSR is disabled
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: action: merge, target: minor, area: @angular/build

#29279 fix(@angular/build): pass `define` option defined in application builder to Vite prebundling
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/utils.ts
Labels: target: patch, action: merge, area: @angular/build

#29286 fix(@angular/ssr): throw error when using route matchers
  packages/angular/ssr/src/routes/ng-routes.ts
Labels: action: merge, target: minor, area: @angular/ssr

#29234 fix(@angular/build) : fix incorrect budget calculation
  packages/angular/build/src/utils/bundle-calculator.ts
  packages/angular/build/src/utils/bundle-calculator_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#29272 build: migrate `@angular/ssr` to `ts_project`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  BUILD.bazel
  WORKSPACE
  package.json
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/node/BUILD.bazel
  packages/angular/ssr/node/test/BUILD.bazel
  packages/angular/ssr/schematics/BUILD.bazel
  packages/angular/ssr/test/BUILD.bazel
  packages/angular/ssr/test/npm_package/BUILD.bazel
  packages/angular/ssr/third_party/beasties/BUILD.bazel
  patches/@angular+bazel+19.1.0-next.4.patch
  pnpm-lock.yaml
  tools/interop.bzl
  tsconfig-build-ng.json
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29288 ci: prevent `NpmPackageExtract` results from being placed remote cache
  .bazelrc
Labels: target: patch, action: merge, area: build & ci

#29287 [19.0.x] build: migrate `@angular/ssr` to `ts_project`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  BUILD.bazel
  WORKSPACE
  package.json
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/node/BUILD.bazel
  packages/angular/ssr/node/test/BUILD.bazel
  packages/angular/ssr/schematics/BUILD.bazel
  packages/angular/ssr/test/BUILD.bazel
  packages/angular/ssr/test/npm_package/BUILD.bazel
  packages/angular/ssr/third_party/beasties/BUILD.bazel
  patches/@angular+bazel+19.1.0-next.4.patch
  pnpm-lock.yaml
  tools/interop.bzl
  tsconfig-build-ng.json
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#29289 fix(@angular/build): warn when `@angular/localize/init` is imported directly
  packages/angular/build/src/tools/esbuild/angular-localize-init-warning-plugin.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
Labels: target: patch, action: merge, area: @angular/build

#29291 Bump version to "v19.0.7" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29293 docs: release notes for the v19.0.7 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29294 Bump version to "v19.1.0-rc.0" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29304 fix(@angular/build): handle loaders correctly in SSR bundles for external packages
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
Labels: target: patch, action: merge, area: @angular/build

#29313 fix(@angular/build): use component updates for component style HMR
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/utils/environment-options.ts
Labels: target: rc, action: merge

#29321 ci: disable fixup commit messages
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .ng-dev/commit-message.mjs
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: rc, action: merge, area: build & ci

#29322 ci: disable fixup commit messages
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .ng-dev/commit-message.mjs
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#29320 ci: disable fixup commit messages
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  .ng-dev/commit-message.mjs
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29325 build: update `_exec` to handle timeouts gracefully when `waitForMatch` does not match within 60 seconds.
  tests/legacy-cli/e2e/utils/process.ts
Labels: target: patch, action: merge, area: build & ci

#29327 test: remove redundant e2e test
  tests/legacy-cli/e2e/tests/build/polyfills.ts
  tests/legacy-cli/e2e/tests/generate/generate-name-error.ts
Labels: target: patch, action: merge

#29328 fix(@angular/build): correctly validate locales `subPath`
  packages/angular/build/src/utils/i18n-options.ts
Labels: target: rc, action: merge

#29318 Update more packages to `npm_package`
  packages/angular/build/BUILD.bazel
  packages/angular/cli/BUILD.bazel
  tools/bazel/npm_package.bzl
Labels: target: rc, action: merge, area: build & ci

#29339 refactor(@angular/cli): replace `VERSION` with Bazel-stamped version
  packages/angular/cli/src/utilities/version.ts
Labels: area: @angular/cli, target: rc, action: merge

#29324 build: migrate @angular/create to npm_package
  packages/angular/create/BUILD.bazel
Labels: target: rc, action: merge, area: build & ci

#29326 build: migrate @angular/pwa to npm_package
  packages/angular/pwa/BUILD.bazel
Labels: target: rc, action: merge, area: build & ci

#29338 [19.1.x] build: add script to diff local npm package with snapshot repository
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  pnpm-lock.yaml
  scripts/diff-release-package.mts
Labels: target: rc, action: merge, area: build & ci

#29341 build: migrate @ngtools/webpack to npm_package
  packages/ngtools/webpack/BUILD.bazel
Labels: target: rc, action: merge, area: build & ci

#29311 fix(@angular-devkit/schematics): update `Rule` type to support returning a `Promise` of `Tree`
  goldens/public-api/angular_devkit/schematics/index.api.md
  packages/angular_devkit/schematics/src/engine/interface.ts
  packages/angular_devkit/schematics/src/rules/base_spec.ts
Labels: area: @angular-devkit/schematics, target: patch, action: merge

#29345 fix(@angular/build): warn when using both `isolatedModules` and `emitDecoratorMetadata`
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: rc, action: merge, area: @angular/build

#29344 refactor(@ngtools/webpack): add return types to functions
  packages/ngtools/webpack/src/benchmark.ts
  packages/ngtools/webpack/src/ivy/host.ts
  packages/ngtools/webpack/src/ivy/loader.ts
  packages/ngtools/webpack/src/loaders/inline-resource.ts
  packages/ngtools/webpack/src/resource_loader.ts
  packages/ngtools/webpack/src/transformers/spec_helpers.ts
Labels: area: @ngtools/webpack, target: patch, action: merge

#29340 refactor(@angular/build): move Angular compilation creation to build execution
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/setup-bundling.ts
  packages/angular/build/src/private.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
Labels: target: rc, action: merge, area: @angular/build

#29342 build: migrate @schematics/angular to npm_package
  packages/schematics/angular/BUILD.bazel
Labels: target: rc, action: merge, area: build & ci

#29351 refactor(@ngtools/webpack): add types to exported module variables
  packages/ngtools/webpack/src/ivy/index.ts
  packages/ngtools/webpack/src/ivy/paths.ts
  packages/ngtools/webpack/src/ivy/plugin.ts
  packages/ngtools/webpack/src/ivy/symbol.ts
  packages/ngtools/webpack/src/loaders/inline-resource.ts
Labels: area: @ngtools/webpack, target: rc, action: merge

#29353 docs: enhance descriptions for schematics options
  packages/angular/pwa/pwa/schema.json
  packages/angular/ssr/schematics/ng-add/schema.json
  packages/schematics/angular/app-shell/schema.json
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/class/schema.json
  packages/schematics/angular/component/schema.json
  packages/schematics/angular/config/schema.json
  packages/schematics/angular/directive/schema.json
  packages/schematics/angular/enum/schema.json
  packages/schematics/angular/environments/schema.json
  packages/schematics/angular/guard/schema.json
  packages/schematics/angular/interceptor/schema.json
  packages/schematics/angular/interface/schema.json
  packages/schematics/angular/library/schema.json
  packages/schematics/angular/ng-new/schema.json
  packages/schematics/angular/pipe/schema.json
  packages/schematics/angular/resolver/schema.json
  packages/schematics/angular/server/schema.json
  packages/schematics/angular/service-worker/schema.json
  packages/schematics/angular/service/schema.json
  packages/schematics/angular/ssr/schema.json
  packages/schematics/angular/web-worker/schema.json
  packages/schematics/angular/workspace/schema.json
Labels: area: docs, target: rc, action: merge

#29352 build: migrate @angular-devkit/schematics-cli to npm_package
  packages/angular_devkit/schematics_cli/BUILD.bazel
Labels: target: rc, action: merge, area: build & ci

#29355 build: update Angular versions to 19.1 stable
  packages/angular/build/package.json
  packages/angular/pwa/package.json
  packages/angular/ssr/package.json
  packages/angular_devkit/build_angular/package.json
  packages/ngtools/webpack/package.json
  packages/schematics/angular/utility/latest-versions/package.json
Labels: target: rc, action: merge, area: build & ci

#29359 Bump version to "v19.1.0" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29360 docs: release notes for the v19.1.0 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29357 docs: update release doc with script to remove prerelease versions
  docs/process/release.md
Labels: area: docs, action: merge, target: minor

#29365 fix(@angular/build): resolve HMR-prefixed files in SSR with Vite
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#29366 Bump version to "v19.1.1" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29367 docs: release notes for the v19.1.1 release
  CHANGELOG.md
Labels: action: merge

#29374 build: exclude `pnpm` and `dependenciesMeta` fields from published NPM packages
  tools/package_json_release_filter.jq
Labels: target: patch, action: merge, area: build & ci

#29373 fix(@angular/build): perform incremental background file updates with component updates
  packages/angular/build/src/builders/application/build-action.ts
  packages/angular/build/src/builders/application/results.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29368 build: replace hardcoded Angular and ng-packagr peer dependencies with Bazel stamping
  constants.bzl
  docs/process/release.md
  packages/angular/build/package.json
  packages/angular/pwa/package.json
  packages/angular/ssr/package.json
  packages/angular_devkit/build_angular/package.json
  packages/ngtools/webpack/package.json
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
  packages/schematics/angular/utility/latest-versions.ts
  packages/schematics/angular/utility/latest-versions/package.json
  tools/substitutions.bzl
Labels: action: merge, area: build & ci, target: minor

#29375 ci: disable Renovate updates for all stamped versions
  renovate.json
Labels: action: merge, area: build & ci, target: minor

#29381 fix(@angular/build): prevent full page reload on HMR updates with SSR enabled
  packages/angular/build/src/builders/application/build-action.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29389 refactor(@angular/build): add console message to dev server when component HMR is enabled
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29390 Bump version to "v19.1.2" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge

#29391 docs: release notes for the v19.1.2 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29386 fix(@angular/build): handle relative `@ng/components`
  packages/angular/build/src/tools/vite/middlewares/component-middleware.ts
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
  packages/angular/build/src/tools/vite/plugins/setup-middlewares-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#29403 test(@angular/build): add dev-server HMR enabled console message tests
  packages/angular/build/src/builders/dev-server/tests/options/hmr_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#29402 fix(@angular/build): allow asset changes to reload page on incremental updates
  packages/angular/build/src/builders/application/build-action.ts
Labels: target: patch, action: merge, area: @angular/build

#29405 fix(@angular/build): perform full reload for templates with `$localize` usage
  packages/angular/build/src/tools/angular/compilation/aot-compilation.ts
Labels: target: patch, action: merge, area: @angular/build

#29404 test(@angular/build): enable i18n localize watch test for dev-server
  packages/angular/build/src/builders/dev-server/tests/behavior/build_localize_replaced_watch_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#29413 build: delete npm archive accidentally committed
  npm_package_archive.tgz
Labels: action: merge, area: build & ci, target: minor

#29417 Bump version to "v19.1.3" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29418 docs: release notes for the v19.1.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29416 [19.1.x] build: delete npm archive accidentally committed
  npm_package_archive.tgz
Labels: target: patch, action: merge, area: build & ci

#29421 fix(@angular/ssr): prevent route matcher error when SSR routing is not used
  packages/angular/ssr/src/routes/ng-routes.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29411 fix(@angular/ssr): unblock route extraction with `withEnabledBlockingInitialNavigation`
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/testing-utils.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29419 fix(@angular/build): correct path for `/@ng/components` on Windows
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#29430 test: update saucelabs browsers versions
  tests/legacy-cli/e2e/assets/protractor-saucelabs.conf.js
Labels: target: patch, action: merge

#29431 refactor: reduce dependencies on `@angular-devkit/core`
  goldens/public-api/angular/build/index.api.md
  goldens/public-api/angular_devkit/build_angular/index.api.md
  packages/angular/build/src/builders/application/index.ts
  packages/angular/build/src/builders/dev-server/index.ts
  packages/angular/build/src/builders/extract-i18n/index.ts
  packages/angular/build/src/builders/ng-packagr/index.ts
  packages/angular_devkit/build_angular/src/builders/dev-server/tests/jasmine-helpers.ts
  packages/angular_devkit/build_angular/src/builders/protractor/index.ts
  packages/angular_devkit/build_angular/src/builders/ssr-dev-server/index.ts
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/build_webpack/src/builders/webpack-dev-server/index.ts
  packages/angular_devkit/build_webpack/src/builders/webpack/index.ts
  tools/quicktype_runner.js
Labels: target: patch, action: merge

#29429 fix(@angular/build): replace deprecation of `i18n.baseHref` with a warning
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/utils/i18n-options.ts
  packages/angular/cli/lib/config/workspace-schema.json
Labels: target: patch, action: merge, area: @angular/build

#29434 ci: replace platform linux with windows 11
  tests/legacy-cli/e2e/assets/protractor-saucelabs.conf.js
Labels: target: patch, action: merge, area: build & ci

#29422 fix(@angular/build): only issue invalid i18n config error for duplicate `subPaths` with inlined locales
  packages/angular/build/src/utils/i18n-options.ts
Labels: target: patch, action: merge, area: @angular/build

#29428 fix(@angular/build): include extracted routes in the manifest during prerendering
  packages/angular/build/src/builders/application/execute-post-bundle.ts
  packages/angular/build/src/utils/server-rendering/prerender.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static.ts
Labels: target: patch, action: merge, area: @angular/build

#29414 fix(@angular/ssr): properly manage catch-all routes with base href
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-tree.ts
  packages/angular/ssr/test/routes/route-tree_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29442 refactor(@angular/ssr): update `getPathSegments` to use `stripTrailingSlash` instead of `filter(Boolean)`
  packages/angular/ssr/src/routes/route-tree.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29451 Bump version to "v19.1.4" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29453 docs: release notes for the v19.1.4 release
  CHANGELOG.md
Labels: area: docs, action: merge, target: minor

#29456 build: update Angular versions for 19.2 prereleases
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  constants.bzl
  package.json
  packages/angular/ssr/package.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
  tests/legacy-cli/e2e/assets/19-ssr-project-webpack/package.json
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29441 refactor(@angular/ssr): remove unused `segment` property from metadata
  packages/angular/ssr/src/routes/route-tree.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29462 fix(@angular/build): handle empty module case to avoid TypeError
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
Labels: target: patch, action: merge, area: @angular/build

#29467 Bump version to "v19.2.0-next.0" with changelog.
  CHANGELOG.md
Labels: action: merge

#29466 fix(@angular/build): support Vite `allowedHosts` option for development server
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/dev-server/options.ts
  packages/angular/build/src/builders/dev-server/schema.json
  packages/angular/build/src/builders/dev-server/tests/execute-fetch.ts
  packages/angular/build/src/builders/dev-server/tests/options/allowed-hosts_spec.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular_devkit/build_angular/src/builders/dev-server/builder.ts
  packages/angular_devkit/build_angular/src/builders/dev-server/schema.json
Labels: action: merge, target: minor, area: @angular/build

#29461 fix(@angular/ssr): enhance dynamic route matching for better performance and accuracy
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-tree.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
  packages/angular/ssr/test/routes/route-tree_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29476 build: update `ng-packagr` to `^19.2.0-next.0`
  constants.bzl
Labels: action: merge, area: build & ci, target: minor

#29474 fix(@angular/build): disable TypeScript `removeComments` option
  packages/angular/build/src/tools/angular/compilation/angular-compilation.ts
  packages/angular_devkit/build_angular/src/tools/webpack/plugins/typescript.ts
Labels: target: patch, action: merge, area: @angular/build

#29471 fix(@angular/build): update vite to version 6.0.11
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  goldens/public-api/angular/build/index.api.md
  package.json
  packages/angular/build/package.json
  packages/angular/build/src/builders/dev-server/options.ts
  packages/angular/build/src/builders/dev-server/schema.json
  packages/angular/build/src/builders/dev-server/tests/execute-fetch.ts
  packages/angular/build/src/builders/dev-server/tests/options/allowed-hosts_spec.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
  packages/angular_devkit/build_angular/src/builders/dev-server/builder.ts
  packages/angular_devkit/build_angular/src/builders/dev-server/schema.json
  pnpm-lock.yaml
  yarn.lock
Labels: target: patch, action: merge, area: @angular/build

#29479 fix(@angular/build): support template updates that also trigger global stylesheet changes
  packages/angular/build/src/builders/application/build-action.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29495 fix(@angular/build): allow tailwindcss 4.x as a peer dependency
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
Labels: action: merge, target: minor, area: @angular/build

#29491 refactor(@angular/ssr): drain node stream
  packages/angular/ssr/node/src/response.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29496 fix(@angular/cli): fix relative link to README not working on npm repo
  packages/angular/build/README.md
  packages/angular/cli/README.md
Labels: area: @angular/cli, target: patch, action: merge, merge: squash commits, merge: fix commit message

#29473 fix(@angular/ssr): rename `provideServerRoutesConfig` to `provideServerRouting`
  goldens/public-api/angular/ssr/index.api.md
  packages/angular/ssr/public_api.ts
  packages/angular/ssr/src/routes/route-config.ts
  packages/angular/ssr/test/testing-utils.ts
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/server/files/application-builder/ngmodule-src/app/app.module.server.ts.template
  packages/schematics/angular/server/files/application-builder/standalone-src/app/app.config.server.ts.template
Labels: target: patch, action: merge, area: @angular/ssr

#29505 fix(@angular/build): utilize bazel stamp instead of resolving peer dependency versions
  packages/angular/build/BUILD.bazel
  packages/angular/build/src/utils/version.ts
Labels: action: merge, target: minor, area: @angular/build

#29437 refactor(@angular/build): allow browser client to log console message with dev-server
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#29506 refactor(@angular/build): remove outdated version checks
  packages/angular/build/src/utils/version.ts
Labels: action: merge, target: minor, area: @angular/build

#29509 refactor(@angular/build): move `@angular-devkit/core` to a development dependency
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  packages/angular/build/package.json
  pnpm-lock.yaml
Labels: action: merge, target: minor, area: @angular/build

#29500 fix(@schematics/angular): update library schematic to use `@angular-devkit/build-angular:ng-packagr`
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
Labels: area: @schematics/angular, target: patch, action: merge

#29508 fix(@angular/build): keep background referenced HMR update chunks
  packages/angular/build/src/builders/application/build-action.ts
Labels: target: patch, action: merge, area: @angular/build

#29502 build: migrate `@angular-devkit/build-angular` tests to `rules_js`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  modules/testing/builder/package.json
  modules/testing/builder/projects/hello-world-app/src/tsconfig.server.json
  modules/testing/builder/src/test-utils.ts
  package.json
  packages/angular/build/src/utils/service-worker.ts
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/builders/browser/specs/cross-origin_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/specs/lazy-module_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/specs/source-map_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/tests/options/named-chunks_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/tests/options/styles_spec.ts
  packages/angular_devkit/build_angular/test/hello-world-lib/BUILD.bazel
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: action: merge, area: build & ci, target: minor

#29515 [19.1.x]: build: migrate `@angular-devkit/build-angular` tests to `rules_js`
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  modules/testing/builder/package.json
  modules/testing/builder/projects/hello-world-app/src/tsconfig.server.json
  modules/testing/builder/src/test-utils.ts
  package.json
  packages/angular/build/src/utils/service-worker.ts
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/builders/browser/specs/cross-origin_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/specs/lazy-module_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/specs/source-map_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/tests/options/named-chunks_spec.ts
  packages/angular_devkit/build_angular/src/builders/browser/tests/options/styles_spec.ts
  packages/angular_devkit/build_angular/test/hello-world-lib/BUILD.bazel
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: target: patch, action: merge, area: build & ci

#29519 Bump version to "v18.2.13" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#29520 docs: release notes for the v18.2.13 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29522 fix(@angular-devkit/build-angular): remove unused vite dependency
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: area: @angular-devkit/build-angular, action: merge, target: lts

#29523 Bump version to "v18.2.14" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge, target: lts

#29525 docs: release notes for the v18.2.14 release
  CHANGELOG.md
Labels: area: docs, action: merge

#29518 fix(@angular/ssr): redirect to locale pathname instead of full URL
  packages/angular/ssr/src/app-engine.ts
  packages/angular/ssr/test/app-engine_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#29528 Bump version to "v19.1.5" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29530 build: update framework and ng-packagr peer-deps
  constants.bzl
Labels: action: merge, area: build & ci, target: minor

#29533 Bump version to "v19.2.0-next.1" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge

#29535 refactor(@angular-devkit/core): add missing function return types
  packages/angular_devkit/core/src/json/schema/registry.ts
  packages/angular_devkit/core/src/json/schema/visitor.ts
  packages/angular_devkit/core/src/logger/logger.ts
  packages/angular_devkit/core/src/utils/priority-queue.ts
  packages/angular_devkit/core/src/virtual-fs/host/alias.ts
  packages/angular_devkit/core/src/virtual-fs/path.ts
  packages/angular_devkit/core/src/workspace/json/metadata.ts
Labels: area: @angular-devkit/core, action: merge, target: minor

#29536 refactor(@angular/build): remove unused import
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#29537 refactor(@angular/build) update version check to account for unreleased FW packages
  packages/angular/build/src/utils/version.ts
Labels: action: merge, target: minor

#29545 build: re-enable latest version checks during release
  scripts/release-checks/dependency-ranges/index.mts
  scripts/release-checks/dependency-ranges/latest-versions-check.mts
  scripts/release-checks/dependency-ranges/peer-deps-check.mts
Labels: action: merge, area: build & ci, target: minor

#29547 build: remove now unused bazel dependencies
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  WORKSPACE
  package.json
  patches/@bazel+concatjs+5.8.1.patch
  patches/@bazel+jasmine+5.8.1.patch
  pnpm-lock.yaml
  yarn.lock
Labels: action: merge, area: build & ci, target: minor

#29544 fix(@angular/build): prevent server manifest generation when no server features are enabled
  packages/angular/build/src/builders/application/execute-post-bundle.ts
Labels: target: patch, action: merge, area: @angular/build

#29517 feat(@angular/ssr): Add support for route matchers with fine-grained render mode control
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: action: merge, target: minor, detected: feature, area: @angular/ssr

#29552 ci: configure codeql locally within the repo to allow for customization
  .github/codeql/config.yml
  .github/workflows/codeql.yml
Labels: target: patch, action: merge, area: build & ci
