Repository angular/angular-cli, pull requests merged in 2025-05, with the labels that each got.

#30225 fix(@angular/build): enable unit-test reporters option
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: action: review, target: rc, action: merge, area: @angular/build

#30226 refactor(@angular-devkit/core): don't use concrete type as interface
  goldens/public-api/angular_devkit/core/index.api.md
  packages/angular_devkit/core/src/utils/partially-ordered-set.ts
Labels: area: @angular-devkit/core, target: rc, action: merge

#30188 fix(@angular/build): perform testing module cleanup when using Vitest
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30216 ci: try simplify windows test preparation with bazel 7
  .bazelrc
  .bazelversion
  MODULE.bazel.lock
  scripts/windows-testing/convert-symlinks.mjs
Labels: target: patch, action: merge, area: build & ci

#30227 fix(@angular/build): avoid internal karma request cache for assets
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/karma/tests/behavior/rebuilds_spec.ts
Labels: target: rc, action: merge, area: @angular/build

#30234 perf(@angular/cli): fix unnecessary esbuild rebuilds
  packages/angular/build/src/tools/esbuild/bundler-context.ts
Labels: area: @angular/cli, target: patch, action: merge, area: @angular/build, area: performance

#30238 build: improve stability of windows jobs further
  scripts/windows-testing/convert-symlinks.mjs
Labels: target: patch, action: merge, area: build & ci

#30236 fix(@angular/build): avoid internal karma request cache for assets
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/karma/tests/behavior/rebuilds_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#30240 fix(@angular/build): allow a default application `browser` option
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/builders/application/tests/options/browser_spec.ts
Labels: target: rc, action: merge, area: @angular/build

#30248 fix(@angular/build) allow component HMR for templates with i18n
  packages/angular/build/src/builders/application/execute-build.ts
  packages/angular/build/src/builders/application/i18n.ts
  packages/angular/build/src/tools/angular/compilation/aot-compilation.ts
  packages/angular/build/src/tools/esbuild/i18n-inliner-worker.ts
  packages/angular/build/src/tools/esbuild/i18n-inliner.ts
Labels: target: rc, action: merge, area: @angular/build

#30249 fix(@angular/build): avoid attempting to watch bundler internal files
  packages/angular/build/src/tools/esbuild/bundler-context.ts
Labels: target: patch, action: merge, area: @angular/build

#30253 fix(@angular-devkit/build-angular): correctly set i18n subPath in webpack browser builder
  packages/angular_devkit/build_angular/src/utils/process-bundle.ts
  tests/legacy-cli/e2e/tests/i18n/ivy-localize-sub-path.ts
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#30254 build: update angular
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
  package.json
  pnpm-lock.yaml
  tests/legacy-cli/e2e/ng-snapshot/package.json
Labels: target: rc, action: merge, area: build & ci

#30256 build: update esbuild to v0.25.4
  package.json
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: build & ci

#30257 fix(@angular/cli): add Node.js 24 as supported version
  constants.bzl
  packages/angular/cli/src/commands/version/cli.ts
Labels: area: @angular/cli, target: rc, action: merge

#30262 build: update all non-major dependencies
  WORKSPACE
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_webpack/package.json
  packages/ngtools/webpack/package.json
  packages/ngtools/webpack/src/ivy/loader.ts
  pnpm-lock.yaml
Labels: target: rc, action: merge, area: build & ci

#30263 Bump version to "v19.2.11" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30264 docs: release notes for the v19.2.11 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30261 ci: enable e2e test runs on Node.js 24
  .github/workflows/ci.yml
  WORKSPACE
  tools/toolchain_info.bzl
Labels: target: rc, action: merge, area: build & ci

#30270 Bump version to "v20.0.0-rc.0" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30281 ci: refactor renovate config to use dev-infra preset
  renovate.json
Labels: target: rc, action: merge, area: build & ci

#30288 fix(@angular/cli): properly handle Node.js `require()` errors with ESM modules
  packages/angular/build/src/utils/load-proxy-config.ts
  packages/angular_devkit/architect/node/node-modules-architect-host.ts
  packages/angular_devkit/build_angular/src/tools/webpack/configs/dev-server.ts
  packages/angular_devkit/build_webpack/src/utils.ts
Labels: area: @angular/cli, target: patch, action: merge

#30289 ci: skip `e2e-snapshots` on non-main branches
  .github/workflows/ci.yml
Labels: target: patch, action: merge, area: build & ci

#30276 fix(@angular/build): allow TestBed provider configuration with vitest unit-testing
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: target: rc, action: merge, area: @angular/build

#30293 fix(@angular/build): show unit-test error for missing vitest browser package
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30296 build: update TypeScript integrity to 5.8.3
  WORKSPACE
Labels: target: rc, action: merge, area: build & ci

#30297 fix(@angular/build): provide vitest globals in unit-test builder
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30299 fix(@angular/build): setup unit-test polyfills before TestBed init
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30303 Bump version to "v19.2.12" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30304 docs: release notes for the v19.2.12 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30307 fix(@schematics/angular): support using default browser option when not present
  packages/schematics/angular/environments/index_spec.ts
  packages/schematics/angular/server/index_spec.ts
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/service-worker/index_spec.ts
  packages/schematics/angular/ssr/index_spec.ts
  packages/schematics/angular/utility/standalone/util.ts
Labels: area: @schematics/angular, target: rc, action: merge

#30310 docs: release notes for the v20.0.0-rc.1 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30311 fix(@angular/build): revert setup unit-test polyfills before TestBed init
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30312 Bump version to "v20.0.0-rc.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30313 docs: release notes for the v20.0.0-rc.2 release
  CHANGELOG.md
Labels: action: merge

#30316 refactor: remove unused function
  packages/angular/build/src/builders/unit-test/options.ts
Labels: target: rc, action: merge

#30320 fix(@angular/build): provide direct debugging support for unit test builder
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/karma-bridge.ts
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: target: rc, action: merge, area: @angular/build

#30318 fix(@angular/build): use global unit-test hooks during TestBed init
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30319 fix(@angular/ssr): SSR should work without `@angular/router`
  packages/angular/ssr/src/utils/ng.ts
Labels: target: rc, action: merge, area: @angular/ssr

#30323 fix(@angular/build): enable unit-test builder watch outside CI
  packages/angular/build/src/builders/unit-test/options.ts
Labels: target: rc, action: merge, area: @angular/build

#30327 build: update dev-infra for latest RBE changes
  WORKSPACE
Labels: action: merge, area: build & ci, target: minor

#30331 build: update dev-infra for latest RBE changes
  WORKSPACE
Labels: target: patch, action: merge, area: build & ci

#30330 build: update dev-infra for latest RBE changes
  WORKSPACE
Labels: target: rc, action: merge, area: build & ci

#30339 fix(@angular/pwa): remove `background_color` and `theme_color` from manifest
  packages/angular/pwa/README.md
  packages/angular/pwa/pwa/files/assets/manifest.webmanifest
  packages/angular/pwa/pwa/index.ts
  packages/angular/pwa/pwa/index_spec.ts
Labels: area: @angular/pwa, target: patch, action: merge

#30344 fix(@schematics/angular): use protected for class member
  packages/schematics/angular/application/files/module-files/src/app/app.spec.ts.template
  packages/schematics/angular/application/files/module-files/src/app/app.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.spec.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.ts.template
Labels: area: @schematics/angular, target: rc, action: merge

#30343 fix(@angular/build): exclude only source test files with unit-test vitest support
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30349 fix(@angular/cli): update min Node.js support to 20.19, 22.12, and 24.0
  WORKSPACE
  constants.bzl
  docs/DEVELOPER.md
  package.json
  packages/angular/build/src/utils/load-proxy-config.ts
  packages/angular/cli/lib/cli/index.ts
  packages/angular_devkit/architect/node/node-modules-architect-host.ts
  packages/angular_devkit/build_angular/src/tools/webpack/configs/dev-server.ts
  packages/angular_devkit/build_webpack/src/utils.ts
Labels: area: @angular/cli, target: rc, action: merge

#30306 fix(@angular-devkit/build-angular): respect i18nDuplicateTranslation …
  goldens/public-api/angular/build/index.api.md
  goldens/public-api/angular_devkit/build_angular/index.api.md
  packages/angular/build/src/builders/extract-i18n/builder.ts
  packages/angular/build/src/builders/extract-i18n/options.ts
  packages/angular/build/src/builders/extract-i18n/schema.json
  packages/angular/build/src/utils/i18n-options.ts
  packages/angular_devkit/build_angular/src/builders/extract-i18n/builder.ts
  packages/angular_devkit/build_angular/src/builders/extract-i18n/options.ts
  packages/angular_devkit/build_angular/src/builders/extract-i18n/schema.json
  packages/angular_devkit/build_angular/src/builders/extract-i18n/works_spec.ts
Labels: area: @angular-devkit/build-angular, target: rc, action: merge

#30351 fix(@angular/build): ensure disabled vitest config loading
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: rc, action: merge, area: @angular/build

#30353 Bump version to "v19.2.13" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30354 docs: release notes for the v19.2.13 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30355 Bump version to "v20.0.0-rc.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30356 docs: release notes for the v20.0.0-rc.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30359 fix(@schematics/angular): migrate `provideServerRoutesConfig` to `provideServerRendering`
  packages/schematics/angular/migrations/migration-collection.json
  packages/schematics/angular/migrations/replace-provide-server-routing/migration.ts
  packages/schematics/angular/migrations/replace-provide-server-routing/migration_spec.ts
Labels: area: @schematics/angular, target: rc, action: merge

#30360 build: update ora to version 8
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/utils/spinner.ts
  packages/angular_devkit/schematics/package.json
  packages/angular_devkit/schematics/tasks/package-manager/executor.ts
  pnpm-lock.yaml
Labels: target: rc, action: merge, area: build & ci

#30363 refactor(@angular/build): check that AOT is enabled in HMR logic
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: rc, action: merge, area: @angular/build

#30362 fix(@angular/build): HMR requires AOT do not show HMR enabled when using JIT
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#30366 fix(@angular/build): include full metadata for AOT unit-testing
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#30368 refactor(@angular/cli): adjust type usage for eventual ESM building
  packages/angular/cli/src/command-builder/command-module.ts
  packages/angular/cli/src/command-builder/command-runner.ts
  packages/angular/cli/src/command-builder/utilities/json-schema.ts
  packages/angular/cli/src/typings.d.ts
Labels: area: @angular/cli, target: rc, action: merge

#30375 perf(@angular/build): directly check code for Angular partial linking
  packages/angular/build/src/tools/esbuild/javascript-transformer-worker.ts
Labels: target: rc, action: merge, area: @angular/build, area: performance

#30365 refactor(@angular/build): use new HMR documentation URL for console message
  packages/angular/build/src/builders/dev-server/tests/options/hmr_spec.ts
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#30372 refactor(@angular/build): update `ensureWorkerPool` to do an early exit
  packages/angular/build/src/tools/esbuild/javascript-transformer.ts
Labels: target: patch, action: merge, area: @angular/build

#30379 build: correctly replace `BUILD_SCM_HASH-PLACEHOLDER` with `BUILD_SCM_ABBREV_HASH`
  tools/substitutions.bzl
Labels: target: patch, action: merge, area: build & ci

#30381 refactor(@angular-devkit/architect): remove redundant internal job schema validation
  packages/angular_devkit/architect/src/architect.ts
  packages/angular_devkit/architect/src/jobs/simple-scheduler.ts
Labels: area: @angular-devkit/architect, target: rc, action: merge

#30382 refactor(@angular/cli): allow opt-in Node.js compile cache for Bazel
  packages/angular/cli/bin/bootstrap.js
Labels: area: @angular/cli, target: rc, action: merge

#30392 build: update esbuild to v0.25.5
  package.json
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: target: rc, action: merge, area: build & ci

#30394 docs: release notes for the v20.0.0-rc.4 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30402 docs: release notes for the v19.2.14 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30400 build: update dependency yargs to v18
  packages/angular/cli/package.json
  packages/angular/cli/src/command-builder/command-module.ts
  packages/angular/cli/src/command-builder/command-runner.ts
  packages/angular/cli/src/command-builder/utilities/command.ts
  packages/angular/cli/src/command-builder/utilities/json-help.ts
  packages/angular/cli/src/command-builder/utilities/normalize-options-middleware.ts
  packages/angular/cli/src/commands/analytics/cli.ts
  packages/angular/cli/src/commands/cache/cli.ts
  packages/angular/cli/src/commands/completion/cli.ts
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, target: minor

#30415 fix(@schematics/angular): remove karma config devkit package usages during application migration
  packages/schematics/angular/migrations/use-application-builder/migration.ts
  packages/schematics/angular/migrations/use-application-builder/migration_spec.ts
Labels: area: @schematics/angular, target: patch, action: merge
