Repository angular/angular-cli, pull requests merged in 2025-08, with the labels that each got.

#30803 test(@angular/cli): add initial e2e test for MCP server tool registration
  packages/angular/cli/src/commands/mcp/mcp-server.ts
  tests/legacy-cli/e2e/tests/mcp/registers-tools.ts
Labels: area: @angular/cli, target: patch, action: merge

#30826 refactor(@angular/cli): remove unused load ESM helper
  packages/angular/cli/src/utilities/load-esm.ts
Labels: area: @angular/cli, action: merge, target: minor

#30815 refactor(@angular/cli): update suggested MCP server configuration output
  packages/angular/cli/src/commands/mcp/cli.ts
Labels: area: @angular/cli, target: patch, action: merge

#30840 fix(@angular/cli): cache MCP best practices content and add tool annotations
  packages/angular/cli/src/commands/mcp/tools/best-practices.ts
Labels: area: @angular/cli, target: patch, action: merge

#30837 [20.1.x] build: update to latest dev-infra in the workspace
  WORKSPACE
  packages/angular/build/BUILD.bazel
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/third_party/beasties/BUILD.bazel
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/ngtools/webpack/BUILD.bazel
  tests/legacy-cli/e2e.bzl
  tests/legacy-cli/e2e/tests/mcp/registers-tools.ts
Labels: target: patch, action: merge, area: build & ci

#30813 refactor(@angular/cli): separate the version command's analysis logic from logging
  packages/angular/cli/src/commands/version/cli.ts
  packages/angular/cli/src/commands/version/version-info.ts
Labels: area: @angular/cli, action: merge, target: minor

#30844 refactor(@angular/build): provide private component stylesheet bundling API for internal compilation infrastructure
  packages/angular/build/src/private.ts
Labels: action: merge, target: minor, area: @angular/build

#30850 refactor(@angular/cli): add MCP test support for custom code examples
  packages/angular/cli/src/commands/mcp/mcp-server.ts
  packages/angular/cli/src/commands/mcp/tools/examples.ts
Labels: area: @angular/cli, action: merge, target: minor

#30851 refactor(@angular/cli): Fix capabilities registration
  packages/angular/cli/src/commands/mcp/mcp-server.ts
Labels: area: @angular/cli, action: merge, target: minor, area: @angular/build

#30845 feat(@angular/cli): add modernize tool to the MCP server
  packages/angular/cli/src/commands/mcp/mcp-server.ts
  packages/angular/cli/src/commands/mcp/resources/best-practices.md
  packages/angular/cli/src/commands/mcp/resources/instructions.ts
  packages/angular/cli/src/commands/mcp/tools/modernize.ts
  packages/angular/cli/src/commands/mcp/tools/modernize_spec.ts
Labels: area: @angular/cli, action: merge, target: minor, detected: feature

#30814 refactor(@schematics/angular): organize use-application-builder migration
  packages/schematics/angular/migrations/use-application-builder/migration.ts
  packages/schematics/angular/migrations/use-application-builder/stylesheet-updates.ts
  packages/schematics/angular/migrations/use-application-builder/stylesheet-updates_spec.ts
Labels: area: @schematics/angular, action: merge, target: minor

#30884 fix(@schematics/angular): add extra prettier config
  packages/schematics/angular/workspace/files/package.json.template
Labels: target: patch, action: merge

#30885 refactor(@schematics/angular): remove manual install task in library schematic
  packages/schematics/angular/library/index.ts
Labels: area: @schematics/angular, action: merge, target: minor

#30891 refactor(@angular/build): remove mcp best practice for if aliases
  packages/angular/cli/src/commands/mcp/resources/best-practices.md
Labels: action: merge, target: minor, area: @angular/build

#30894 refactor(@angular/cli): use inject migration in mcp modernize tool
  packages/angular/cli/src/commands/mcp/tools/modernize.ts
Labels: area: @angular/cli, action: merge, target: minor

#30892 refactor(@angular/cli): use .html as template extension for mcp modernize tool
  packages/angular/cli/src/commands/mcp/tools/modernize.ts
Labels: area: @angular/cli, action: merge, target: minor

#30889 fix(@schematics/angular): correct configure the `typeSeparator` in the library schematic
  packages/schematics/angular/library/index.ts
Labels: area: @schematics/angular, target: patch, action: merge

#30888 refactor(@schematics/angular): remove duplicate prompt definition.
  packages/schematics/angular/ng-new/schema.json
Labels: area: @schematics/angular, target: patch, action: merge

#30898 Bump version to "v20.1.6" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30901 Bump version to "v20.2.0-rc.0" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30903 build: bump main to version 21
  constants.bzl
  package.json
Labels: action: merge, area: build & ci, target: minor

#30905 fix(@schematics/angular): allow AI config prompt to be skipped without selecting a value
  packages/schematics/angular/ai-config/schema.json
Labels: area: @schematics/angular, target: rc, action: merge

#30904 fix(@angular/cli): use correct path for MCP get_best_practices tool
  packages/angular/cli/src/commands/mcp/tools/best-practices.ts
  tests/legacy-cli/e2e/tests/mcp/best-practices.ts
Labels: area: @angular/cli, target: rc, action: merge

#30908 refactor(@angular/build): remove manual Node.js types for getCompileCacheDir
  packages/angular/build/src/typings.d.ts
Labels: target: rc, action: merge, area: @angular/build

#30910 refactor(@angular/build): modularize unit-test builder with runner-specific logic
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/runners/karma/index.ts
  packages/angular/build/src/builders/unit-test/runners/karma/runner.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/index.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/runner.ts
  packages/angular/build/src/builders/unit-test/test-discovery.ts
Labels: action: merge, target: minor, area: @angular/build

#30907 ci: re-enable windows CI [main]
  .github/shared-actions/windows-bazel-test/action.yml
  .github/workflows/pr.yml
  WORKSPACE
Labels: action: merge, area: build & ci, target: minor

#30917 refactor: await `silentNpm`
  tests/legacy-cli/e2e/tests/mcp/registers-tools.ts
Labels: target: rc, action: merge

#30915 build: update `dev-infra` action SHA
  .github/shared-actions/windows-bazel-test/action.yml
Labels: target: rc, action: merge, area: build & ci

#30924 fix(@schematics/angular): zoneless is now stable
  packages/schematics/angular/application/schema.json
Labels: area: @schematics/angular, target: rc, action: merge

#30923 refactor(@angular/ssr): add workaround for router `lastSuccessfulNavigation` breaking changing
  packages/angular/ssr/src/utils/ng.ts
Labels: target: rc, action: merge, area: @angular/ssr

#30927 Bump version to "v20.2.0-rc.1" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30932 build: improve retry exec logic
  scripts/windows-testing/convert-symlinks.mjs
Labels: target: patch, action: merge, area: build & ci

#30926 fix(@angular/cli): add choices to command line parser when type is array and has an enum
  packages/angular/cli/src/command-builder/utilities/json-schema.ts
  packages/angular/cli/src/command-builder/utilities/json-schema_spec.ts
Labels: area: @angular/cli, target: patch, action: merge

#30930 fix(@schematics/angular): improve AI config prompt wording
  packages/schematics/angular/ai-config/schema.json
Labels: area: @schematics/angular, target: rc, action: merge

#30934 refactor(@angular/cli): improve analytics handling
  packages/angular/cli/src/command-builder/command-module.ts
  packages/angular/cli/src/command-builder/schematics-command-module.ts
  packages/angular/cli/src/command-builder/utilities/json-schema.ts
Labels: area: @angular/cli, target: patch, action: merge

#30944 refactor(@angular/cli): improve structure of `ng add` command
  packages/angular/cli/src/commands/add/cli.ts
Labels: area: @angular/cli, target: major, action: merge

#30957 build: remove `beasties` to `@angular/ssr` package.json
  package.json
  packages/angular/build/BUILD.bazel
  packages/angular/ssr/package.json
  packages/angular/ssr/third_party/beasties/BUILD.bazel
  pnpm-lock.yaml
Labels: action: merge, target: minor

#30960 build: update bazel module lock file
  MODULE.bazel.lock
Labels: action: merge, area: build & ci, target: minor

#30895 refactor(@angular/cli): improve discoverability of mcp server options
  packages/angular/cli/src/commands/mcp/cli.ts
  packages/angular/cli/src/commands/mcp/mcp-server.ts
Labels: area: @angular/cli, target: rc, action: merge

#30975 Revert "refactor(@angular/ssr): add workaround for router `lastSuccessfulNavigation` breaking changing"
  packages/angular/ssr/src/utils/ng.ts
Labels: target: rc, action: merge

#30976 build: update `@angular/ng-dev` to `4fead3666abc9c5dfff101a8bfdc7a2d02f78982`
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Labels: target: rc, action: merge, area: build & ci

#30977 Bump version to "v20.2.0" with changelog.
  CHANGELOG.md
  MODULE.bazel.lock
  package.json
Labels: action: merge

#30955 Several additional `ng add` improvements and cleanup
  packages/angular/cli/src/commands/add/cli.ts
Labels: area: @angular/cli, target: major, action: merge, detected: feature, area: performance

#30972 feat(@angular/cli): remove direct support for `cnpm`
  packages/angular/cli/lib/config/workspace-schema.json
  packages/angular/cli/src/commands/update/schematic/schema.json
  packages/angular/create/src/index.ts
  packages/angular_devkit/core/src/json/schema/registry_spec.ts
  packages/angular_devkit/schematics/tasks/package-manager/executor.ts
  packages/angular_devkit/schematics_cli/blank/schema.json
  packages/angular_devkit/schematics_cli/schematic/schema.json
  packages/schematics/angular/ng-new/schema.json
  packages/schematics/angular/workspace/schema.json
  tests/angular_devkit/core/json/schema/serializers/schema_benchmark.json
Labels: area: @angular/cli, target: major, action: merge, detected: breaking change

#30999 ci: use `D:/` instead of `C:/` and sharding fixes
  .github/shared-actions/windows-bazel-test/action.yml
  .github/workflows/pr.yml
  scripts/windows-testing/parallel-executor.mjs
Labels: target: patch, action: merge, area: build & ci

#31008 refactor(@schematics/angular): use a project-based schematic helper to reduce boilerplate
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/component/index.ts
  packages/schematics/angular/config/index.ts
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/module/index.ts
  packages/schematics/angular/pipe/index.ts
  packages/schematics/angular/server/index.ts
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/ssr/index.ts
  packages/schematics/angular/utility/project.ts
  packages/schematics/angular/web-worker/index.ts
Labels: area: @schematics/angular, target: major, action: merge

#31000 build(@angular-devkit/schematics-cli): add TypeScript to `devDependencies`
  packages/angular_devkit/schematics_cli/schematic/files/package.json
Labels: target: patch, area: @angular-devkit/schematics-cli, action: merge, area: build & ci

#30913 refactor(@angular/cli): remove non runnable migrations in mcp modernize tool
  packages/angular/cli/src/commands/mcp/tools/modernize.ts
  packages/angular/cli/src/commands/mcp/tools/modernize_spec.ts
Labels: area: @angular/cli, target: patch, action: merge

#31030 ci: Disable PNPM cache on Windows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: target: patch, action: merge, area: build & ci

#31045 ci: do not expand glob in shell
  .github/shared-actions/windows-bazel-test/action.yml
  .github/workflows/pr.yml
  scripts/windows-testing/parallel-executor.mjs
  tests/legacy-cli/e2e_runner.ts
Labels: target: patch, action: merge, area: build & ci

#31050 fix(@angular/build): ensure karma polyfills reporter factory returns a value
  packages/angular/build/src/builders/karma/application_builder.ts
Labels: target: patch, action: merge, area: @angular/build

#30843 fix(@angular/build): correct JS/TS file paths when running under Bazel
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/angular/rewrite-bazel-paths.ts
Labels: target: patch, action: merge, area: @angular/build

#31061 build: define typescript version via string in module.bazel file
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  tools/test/expected_package.json
Labels: target: patch, action: merge, area: build & ci

#31060 build: define typescript version via string in module.bazel file
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  tools/test/expected_package.json
Labels: action: merge, area: build & ci, target: minor

#31062 refactor(@angular/cli): improve logging with `ng add` for packages without schematics
  packages/angular/cli/src/commands/add/cli.ts
Labels: area: @angular/cli, target: major, action: merge

#31063 fix(@angular/cli): don't set a default for array options when length is 0
  packages/angular/cli/src/command-builder/utilities/json-schema.ts
Labels: area: @angular/cli, target: patch, action: merge

#31079 test: workaround npm cleanup for ng add tailwind E2E
  tests/legacy-cli/e2e/tests/commands/add/add-tailwindcss.ts
Labels: target: major, action: merge

#31070 refactor(@angular/cli): rewrite modernize MCP tool's description and schemas for clarity
  packages/angular/cli/src/commands/mcp/tools/modernize.ts
Labels: area: @angular/cli, target: patch, action: merge

#31084 refactor(@angular/cli): rewrite best-practices MCP tool description for clarity
  packages/angular/cli/src/commands/mcp/tools/onpush-zoneless-migration/zoneless-migration.ts
Labels: target: patch, action: merge
