Repository angular/angular-cli, pull requests merged in 2025-07, with the labels that each got.

#30633 Bump version to "v20.0.5" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30641 test: raise timeout of `//packages/ngtools/webpack:test`
  packages/ngtools/webpack/BUILD.bazel
Labels: target: patch, action: merge

#30648 fix(@angular/build): failed to proxy error for assets
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/karma/index.ts
  packages/angular/build/src/builders/karma/tests/options/scripts_spec.ts
Labels: target: patch, action: merge, area: @angular/build

#30646 fix(@angular/build): expose unit test and karma builder API
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/index.ts
  packages/angular/build/src/builders/unit-test/karma-bridge.ts
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/index.ts
Labels: target: rc, action: merge, area: @angular/build

#30663 refactor(@angular-devkit/schematics): initial isolated declarations type adjustments
  goldens/public-api/angular_devkit/schematics/index.api.md
  packages/angular_devkit/schematics/src/engine/engine.ts
  packages/angular_devkit/schematics/src/rules/base.ts
  packages/angular_devkit/schematics/src/rules/template.ts
  packages/angular_devkit/schematics/src/sink/dryrun.ts
  packages/angular_devkit/schematics/src/sink/host.ts
  packages/angular_devkit/schematics/src/tree/recorder.ts
Labels: area: @angular-devkit/schematics, action: merge, target: minor

#30664 fix(@angular/build): support extra test setup files with unit-test vitest runner
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/karma-bridge.ts
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: target: rc, action: merge, area: @angular/build

#30679 build: lock file maintenance
  packages/angular/build/src/utils/index-file/inline-fonts.ts
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, target: minor

#30684 docs: release notes for the v20.0.6 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30686 build: update Angular versions for 20.1 stable
  constants.bzl
  package.json
  packages/angular/build/package.json
  packages/angular/ssr/package.json
  packages/angular_devkit/build_angular/package.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
Labels: target: rc, action: merge, area: build & ci

#30687 Bump version to "v20.1.0" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30694 build: update all non-major dependencies
  package.json
  packages/angular/build/package.json
  packages/angular/cli/package.json
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/tools/webpack/plugins/css-optimizer-plugin.ts
  packages/angular_devkit/build_angular/src/utils/process-bundle.ts
  packages/angular_devkit/build_webpack/package.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
  tools/baseline_browserslist/package.json
Labels: action: merge, area: build & ci, target: minor

#30701 fix(@angular/build): emit a warning when `outputHashing` is set to `all` or `bundles` when HMR is enabled
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#30706 build: update `@types/node` to `20.19.7`
  package.json
  packages/angular/build/src/utils/index-file/inline-fonts.ts
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, target: minor

#30705 refactor(@angular/cli): add a documentation search tool to MCP server
  packages/angular/cli/BUILD.bazel
  packages/angular/cli/package.json
  packages/angular/cli/src/commands/mcp/constants.ts
  packages/angular/cli/src/commands/mcp/mcp-server.ts
  packages/angular/cli/src/commands/mcp/tools/doc-search.ts
  pnpm-lock.yaml
Labels: area: @angular/cli, target: patch, action: merge

#30726 Bump version to "v20.1.1" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30725 refactor(@angular/cli): add a get best practices guide MCP tool
  packages/angular/cli/src/commands/mcp/mcp-server.ts
  packages/angular/cli/src/commands/mcp/tools/best-practices.ts
Labels: area: @angular/cli, target: patch, action: merge

#30753 refactor(@angular/cli): improve description of MCP documentation search tool
  packages/angular/cli/src/commands/mcp/tools/doc-search.ts
Labels: area: @angular/cli, target: patch, action: merge

#30754 refactor(@angular/cli): include content for top result in MCP documentation search tool
  packages/angular/cli/src/commands/mcp/tools/doc-search.ts
Labels: area: @angular/cli, target: patch, action: merge

#30756 refactor(@angular/cli): move MCP list projects tool to separate file
  packages/angular/cli/src/commands/mcp/mcp-server.ts
  packages/angular/cli/src/commands/mcp/tools/projects.ts
Labels: area: @angular/cli, target: patch, action: merge

#30758 build: update all non-major dependencies
  .github/workflows/codeql.yml
  .github/workflows/perf.yml
  package.json
  packages/angular/build/package.json
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
  packages/angular/cli/package.json
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/builders/browser/specs/web-worker_spec.ts
  packages/angular_devkit/core/package.json
  packages/angular_devkit/schematics_cli/package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, target: minor

#30685 feat(@angular/build): add headless mode for vitest browser mode
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: action: merge, target: minor, detected: feature, area: @angular/build

#30781 fix(@angular/build): update `vite` to `7.0.6`
  packages/angular/build/package.json
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: @angular/build

#30782 Bump version to "v20.1.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30783 docs: release notes for the v20.1.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30784 refactor(@angular/cli): remove usage of npm-pick-manifest dependency
  packages/angular/cli/BUILD.bazel
  packages/angular/cli/package.json
  packages/angular/cli/src/commands/update/cli.ts
  packages/angular/cli/src/typings.d.ts
  pnpm-lock.yaml
Labels: area: @angular/cli, action: merge, target: minor

#30794 fix(@angular/build): skip vite transformation of CSS-like assets
  packages/angular/build/src/builders/dev-server/tests/behavior/build-assets_spec.ts
  packages/angular/build/src/tools/vite/middlewares/assets-middleware.ts
Labels: target: patch, action: merge, area: @angular/build

#30795 fix(@angular/cli): skip workspace-specific tools when outside a workspace
  packages/angular/cli/src/commands/mcp/mcp-server.ts
Labels: area: @angular/cli, target: patch, action: merge

#30805 ci: temporarily disable Windows CI for PRs
  .github/workflows/pr.yml
Labels: action: merge, area: build & ci, target: minor

#30807 Bump version to "v20.1.4" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30808 docs: release notes for the v20.1.4 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30810 Bump version to "v20.2.0-next.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30809 build: update Webpack to v5.101.0
  goldens/public-api/angular_devkit/build_webpack/index.api.md
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/tools/webpack/plugins/karma/karma.ts
  packages/angular_devkit/build_webpack/package.json
  packages/angular_devkit/build_webpack/src/builders/webpack-dev-server/index.ts
  packages/angular_devkit/build_webpack/src/builders/webpack/index.ts
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, target: minor
