Repository angular/angular-cli, pull requests merged in 2025-04, with the labels that each got.

#29987 refactor: remove dependency on `symbol-observable`
  eslint.config.mjs
  package.json
  packages/angular/cli/BUILD.bazel
  packages/angular/cli/lib/init.ts
  packages/angular/cli/package.json
  packages/angular_devkit/architect_cli/package.json
  packages/angular_devkit/schematics_cli/BUILD.bazel
  packages/angular_devkit/schematics_cli/bin/schematics.ts
  packages/angular_devkit/schematics_cli/package.json
  pnpm-lock.yaml
Labels: target: major, action: merge

#29980 refactor(@angular/build): remove unneeded babel import attributes syntax plugin
  packages/angular/build/BUILD.bazel
  packages/angular/build/package.json
  packages/angular/build/src/tools/esbuild/javascript-transformer-worker.ts
  pnpm-lock.yaml
Labels: target: major, action: merge, area: @angular/build

#29979 refactor(@angular/build): provide a pre-link resolution condition for APF
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
Labels: target: major, action: merge, area: @angular/build

#29991 refactor(@schematics/angular): more comprehensive empty type file name cleanup
  packages/schematics/angular/utility/generate-from-files.ts
Labels: area: @schematics/angular, target: major, action: merge

#29989 refactor(@schematics/angular): update templates to use express version 5
  package.json
  packages/angular_devkit/build_angular/src/builders/ssr-dev-server/specs/proxy_spec.ts
  packages/angular_devkit/build_angular/src/builders/ssr-dev-server/specs/ssl_spec.ts
  packages/angular_devkit/build_angular/src/builders/ssr-dev-server/specs/works_spec.ts
  packages/schematics/angular/migrations/use-application-builder/migration.ts
  packages/schematics/angular/ssr/files/application-builder/server.ts.template
  packages/schematics/angular/ssr/files/server-builder/server.ts.template
  packages/schematics/angular/ssr/index.ts
  packages/schematics/angular/utility/latest-versions/package.json
  pnpm-lock.yaml
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-csp-nonce.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-standalone.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-http-calls.ts
  tests/legacy-cli/e2e/tests/vite/ssr-entry-express.ts
  tests/legacy-cli/e2e/utils/project.ts
Labels: area: @schematics/angular, target: major, action: merge

#29992 ci: update to latest dev-infra action versions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
Labels: target: major, action: merge, area: build & ci

#29993 ci: update to latest dev-infra action versions
  .github/workflows/assistant-to-the-branch-manager.yml
  .github/workflows/ci.yml
  .github/workflows/dev-infra.yml
  .github/workflows/feature-requests.yml
  .github/workflows/perf.yml
  .github/workflows/pr.yml
Labels: target: patch, action: merge, area: build & ci

#29990 build: setup `rules_esbuild` in preparation for `devinfra` update
  WORKSPACE
Labels: target: patch, action: merge, area: build & ci

#30004 build: update all non-major dependencies
  package.json
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#29995 refactor(@angular/build): provide a default for the application index option
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/application/schema.json
  packages/angular/build/src/builders/application/tests/options/index_spec.ts
Labels: target: major, action: merge, area: @angular/build

#30001 fix(@angular/build): update vite to 6.2.4 due to a security issues
  package.json
  packages/angular/build/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: @angular/build

#30003 fix(@angular-devkit/build-angular): update vite to 5.4.16 due to a security issues
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: area: @angular-devkit/build-angular, action: merge, target: lts

#30002 fix(@angular/build): update vite to 5.4.16 due to a security issues
  package.json
  packages/angular/build/package.json
  yarn.lock
Labels: action: merge, target: lts, area: @angular/build

#30000 feat(@schematics/angular): add migration to update `moduleResolution` to `bundler`
  packages/schematics/angular/migrations/migration-collection.json
  packages/schematics/angular/migrations/update-module-resolution/migration.ts
  packages/schematics/angular/migrations/update-module-resolution/migration_spec.ts
Labels: area: @schematics/angular, target: major, action: merge, detected: feature

#30006 Bump version to "v17.3.15" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30007 docs: release notes for the v17.3.15 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30008 Bump version to "v18.2.17" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30009 docs: release notes for the v18.2.17 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30010 Bump version to "v19.2.6" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30012 docs: release notes for the v19.2.6 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30014 Bump version to "v20.0.0-next.4" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30011 refactor(@schematics/angular): use `generateFromFiles` helper in more cases
  packages/schematics/angular/class/files/__name@dasherize__.__type__.spec.ts.template
  packages/schematics/angular/class/files/__name@dasherize__.__type__.ts.template
  packages/schematics/angular/class/index.ts
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/interface/files/__name@dasherize__.__type__.ts.template
  packages/schematics/angular/interface/index.ts
  packages/schematics/angular/service/files/__name@dasherize__.__type@dasherize__.spec.ts.template
  packages/schematics/angular/service/files/__name@dasherize__.__type@dasherize__.ts.template
  packages/schematics/angular/service/index.ts
  packages/schematics/angular/utility/add-declaration-to-ng-module.ts
  packages/schematics/angular/utility/generate-from-files.ts
Labels: area: @schematics/angular, target: major, action: merge

#30021 fix(@angular/build): include component test metadata in development builds
  packages/angular/build/src/builders/application/tests/options/optimization-scripts_spec.ts
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
  packages/angular/build/src/tools/esbuild/compiler-plugin-options.ts
Labels: target: patch, action: merge, area: @angular/build

#30022 build: update all non-major dependencies
  .bazelrc
  WORKSPACE
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#30023 fix(@schematics/angular): generate pipes with a dash type separator
  packages/schematics/angular/pipe/files/__name@dasherize____typeSeparator__pipe.spec.ts.template
  packages/schematics/angular/pipe/files/__name@dasherize____typeSeparator__pipe.ts.template
  packages/schematics/angular/pipe/index.ts
  packages/schematics/angular/pipe/index_spec.ts
  packages/schematics/angular/pipe/schema.json
  packages/schematics/angular/utility/add-declaration-to-ng-module.ts
  tests/legacy-cli/e2e/tests/generate/pipe/pipe-basic.ts
Labels: area: @schematics/angular, target: major, action: merge

#30027 refactor(@angular/build): provide a default for the ng-packagr project option
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/ng-packagr/builder.ts
  packages/angular/build/src/builders/ng-packagr/schema.json
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
Labels: target: major, action: merge, area: @angular/build

#30029 fix(@schematics/angular): generate guards with a dash type separator
  packages/schematics/angular/guard/implements-files/__name@dasherize____typeSeparator__guard.spec.ts.template
  packages/schematics/angular/guard/implements-files/__name@dasherize____typeSeparator__guard.ts.template
  packages/schematics/angular/guard/index_spec.ts
  packages/schematics/angular/guard/schema.json
  packages/schematics/angular/guard/type-files/__name@dasherize____typeSeparator__guard.spec.ts.template
  packages/schematics/angular/guard/type-files/__name@dasherize____typeSeparator__guard.ts.template
  tests/legacy-cli/e2e/tests/generate/guard/guard-basic.ts
  tests/legacy-cli/e2e/tests/generate/guard/guard-implements.ts
  tests/legacy-cli/e2e/tests/generate/guard/guard-multiple-implements.ts
Labels: area: @schematics/angular, target: major, action: merge

#30032 fix(@schematics/angular): generate resolvers with a dash type separator
  packages/schematics/angular/guard/schema.json
  packages/schematics/angular/pipe/schema.json
  packages/schematics/angular/resolver/class-files/__name@dasherize____typeSeparator__resolver.spec.ts.template
  packages/schematics/angular/resolver/class-files/__name@dasherize____typeSeparator__resolver.ts.template
  packages/schematics/angular/resolver/functional-files/__name@dasherize____typeSeparator__resolver.spec.ts.template
  packages/schematics/angular/resolver/functional-files/__name@dasherize____typeSeparator__resolver.ts.template
  packages/schematics/angular/resolver/index_spec.ts
  packages/schematics/angular/resolver/schema.json
Labels: area: @schematics/angular, target: major, action: merge

#28405 fix(@angular/ssr): manage unhandled errors in zoneless applications
  goldens/public-api/angular/ssr/node/index.api.md
  packages/angular/ssr/node/src/app-engine.ts
  packages/angular/ssr/node/src/common-engine/common-engine.ts
  packages/angular/ssr/node/src/errors.ts
  packages/angular/ssr/node/src/globals.d.ts
  packages/angular/ssr/src/globals.d.ts
Labels: target: major, action: merge, area: @angular/ssr

#30030 refactor(@schematics/angular): use `generateFromFiles` helper in even more cases
  packages/schematics/angular/enum/files/__name@dasherize__.__type__.ts.template
  packages/schematics/angular/enum/index.ts
  packages/schematics/angular/interceptor/class-files/__name@dasherize__.interceptor.spec.ts.template
  packages/schematics/angular/interceptor/class-files/__name@dasherize__.interceptor.ts.template
  packages/schematics/angular/interceptor/functional-files/__name@dasherize__.interceptor.spec.ts.template
  packages/schematics/angular/interceptor/functional-files/__name@dasherize__.interceptor.ts.template
  packages/schematics/angular/interceptor/index.ts
  packages/schematics/angular/resolver/index.ts
Labels: area: @schematics/angular, target: major, action: merge

#30049 fix(@schematics/angular): generate interceptors with a dash type separator
  packages/schematics/angular/interceptor/class-files/__name@dasherize____typeSeparator__interceptor.spec.ts.template
  packages/schematics/angular/interceptor/class-files/__name@dasherize____typeSeparator__interceptor.ts.template
  packages/schematics/angular/interceptor/functional-files/__name@dasherize____typeSeparator__interceptor.spec.ts.template
  packages/schematics/angular/interceptor/functional-files/__name@dasherize____typeSeparator__interceptor.ts.template
  packages/schematics/angular/interceptor/index_spec.ts
  packages/schematics/angular/interceptor/schema.json
  tests/legacy-cli/e2e/tests/generate/interceptor/interceptor-basic.ts
Labels: area: @schematics/angular, target: major, action: merge

#30045 fix(@schematics/angular): set explicit type in library schematic
  packages/schematics/angular/library/index.ts
Labels: area: @schematics/angular, target: major, action: merge

#30046 fix(@angular/build): skip normalization of relative externals
  packages/angular/build/src/builders/application/options.ts
Labels: target: patch, action: merge, area: @angular/build

#30051 build: update webpack to v5.99.1
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_angular/src/tools/webpack/plugins/index-html-webpack-plugin.ts
  packages/angular_devkit/build_angular/src/tools/webpack/plugins/remove-hash-plugin.ts
  packages/angular_devkit/build_webpack/package.json
  packages/angular_devkit/build_webpack/src/utils.ts
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#30054 build: remove now unneeded platform-server package extension
  package.json
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#30055 build: update `@rollup/plugin-node-resolve` to v16.0.1
  package.json
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#30033 fix(@schematics/angular): generate modules with a dash type separator
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/application/files/module-files/src/app/app-module.ts.template
  packages/schematics/angular/application/files/module-files/src/main.ts.template
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/component/index.ts
  packages/schematics/angular/component/index_spec.ts
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/directive/index_spec.ts
  packages/schematics/angular/library/files/src/__entryFile__.ts.template
  packages/schematics/angular/library/index_spec.ts
  packages/schematics/angular/module/files/__name@dasherize@if-flat__/__name@dasherize__-routing__typeSeparator__module.ts.template
  packages/schematics/angular/module/files/__name@dasherize@if-flat__/__name@dasherize____typeSeparator__module.ts.template
  packages/schematics/angular/module/index.ts
  packages/schematics/angular/module/index_spec.ts
  packages/schematics/angular/module/schema.json
  packages/schematics/angular/ng-new/index_spec.ts
  packages/schematics/angular/pipe/index.ts
  packages/schematics/angular/pipe/index_spec.ts
  packages/schematics/angular/server/index_spec.ts
  packages/schematics/angular/service-worker/index_spec.ts
  packages/schematics/angular/utility/standalone/rules_spec.ts
  packages/schematics/angular/utility/test/create-app-module.ts
  tests/legacy-cli/e2e/tests/build/prerender/discover-routes-ngmodule.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/express-engine-ngmodule.ts
  tests/legacy-cli/e2e/tests/generate/module/module-basic.ts
  tests/legacy-cli/e2e/tests/generate/module/module-import.ts
  tests/legacy-cli/e2e/tests/generate/module/module-routing-child-folder.ts
Labels: area: @schematics/angular, target: major, action: merge

#30060 build: update `beasties` to `0.3.2`
  package.json
  packages/angular/build/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: build & ci

#30050 feat(@schematics/angular): add update migration to keep previous style guide generation behavior
  packages/schematics/angular/migrations/migration-collection.json
  packages/schematics/angular/migrations/previous-style-guide/migration.ts
  packages/schematics/angular/migrations/previous-style-guide/migration_spec.ts
Labels: area: @schematics/angular, target: major, action: merge, detected: feature

#30063 build: update vite to 6.2.5
  package.json
  packages/angular/build/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: build & ci

#30067 test: remove bundle budget from JIT production E2E test
  tests/legacy-cli/e2e/tests/build/jit-prod.ts
Labels: target: major, action: merge

#30069 refactor: add missing peer depedency on `@angular/core` and `tslib`
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  tests/legacy-cli/e2e/tests/misc/dedupe-duplicate-modules.ts
Labels: action: merge, target: minor

#30075 Bump version to "v17.3.16" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30076 docs: release notes for the v17.3.16 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30079 docs: release notes for the v18.2.18 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30078 fix(@ngtools/webpack): disable TypeScript composite option with Angular compiler
  packages/ngtools/webpack/src/ivy/plugin.ts
Labels: area: @ngtools/webpack, target: major, action: merge

#30080 Bump version to "v19.2.7" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30081 docs: release notes for the v19.2.7 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30083 Bump version to "v20.0.0-next.5" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30059 fix(@angular/build): properly resolve transitive external dependencies in vite-dev-server
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#30092 fix(@angular/build): include `module` value check when adding custom conditions
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: patch, action: merge, area: @angular/build

#30084 fix(@schematics/angular): application migration should migrate karma builder package
  packages/schematics/angular/migrations/use-application-builder/migration.ts
  packages/schematics/angular/migrations/use-application-builder/migration_spec.ts
Labels: area: @schematics/angular, target: major, action: merge

#30099 fix(@angular/build): update vite to 6.2.6
  package.json
  packages/angular/build/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: @angular/build

#30097 fix(@angular/build): prevent nested CSS in components
  packages/angular/build/src/tools/esbuild/angular/component-stylesheets.ts
Labels: target: patch, action: merge, area: @angular/build

#30106 refactor: rename `defaults2.bzl` to `defaults.bzl`
  BUILD.bazel
  modules/testing/builder/BUILD.bazel
  packages/angular/build/BUILD.bazel
  packages/angular/cli/BUILD.bazel
  packages/angular/create/BUILD.bazel
  packages/angular/pwa/BUILD.bazel
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/node/test/BUILD.bazel
  packages/angular/ssr/schematics/BUILD.bazel
  packages/angular/ssr/test/BUILD.bazel
  packages/angular/ssr/test/npm_package/BUILD.bazel
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/architect/node/BUILD.bazel
  packages/angular_devkit/architect_cli/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/core/node/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/angular_devkit/schematics/tools/BUILD.bazel
  packages/angular_devkit/schematics_cli/BUILD.bazel
  packages/angular_devkit/schematics_cli/test/BUILD.bazel
  packages/ngtools/webpack/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  tests/legacy-cli/e2e/assets/BUILD.bazel
  tests/legacy-cli/e2e/ng-snapshot/BUILD.bazel
  tools/BUILD.bazel
  tools/defaults.bzl
Labels: target: major, action: merge

#30107 refactor(@angular/build): use `ngHmrMode` define for Vite prebundling
  packages/angular/build/src/builders/dev-server/vite-server.ts
Labels: target: patch, action: merge, area: @angular/build

#30110 Renovate changes (See commits)
  renovate.json
Labels: target: major, action: merge, area: build & ci

#30117 Bump version to "v19.2.8" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30113 fix(@angular/build): pass `preserveSymlinks` option to Karma esbuild builder
  packages/angular/build/src/builders/karma/application_builder.ts
Labels: target: patch, action: merge, area: @angular/build

#30120 Bump version to "v20.0.0-next.6" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30123 fix(@schematics/angular): relative tsconfig paths in references
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/index_spec.ts
Labels: area: @schematics/angular, target: major, action: merge

#30104 refactor: replace usage of ng_package with new ng_package from rules_angular
  WORKSPACE
  goldens/public-api/angular/ssr/node/index.api.md
  package.json
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/schematics/BUILD.bazel
  pnpm-lock.yaml
  tools/bazel/npm_package.bzl
  tools/defaults.bzl
  tools/substitutions.bzl
Labels: target: major, action: merge, area: @angular/ssr

#30128 fix(@angular-devkit/build-angular): update http-proxy-middleware to v3.0.5
  package.json
  packages/angular_devkit/build_angular/package.json
  yarn.lock
Labels: area: @angular-devkit/build-angular, action: merge, target: lts

#30125 fix(@schematics/angular): drop composite in tsconfig
  packages/schematics/angular/application/files/common-files/tsconfig.app.json.template
  packages/schematics/angular/application/files/common-files/tsconfig.spec.json.template
Labels: area: @schematics/angular, target: major, action: merge

#30115 refactor: minor code changes in karma `AngularAssetsMiddleware`
  packages/angular/build/src/builders/karma/application_builder.ts
Labels: target: major, action: merge

#30142 fix(@angular-devkit/build-angular): update http-proxy-middleware to v3.0.5
  package.json
  packages/angular_devkit/build_angular/package.json
  pnpm-lock.yaml
Labels: area: @angular-devkit/build-angular, target: patch, action: merge

#30144 build: update all non-major dependencies
  WORKSPACE
  package.json
  packages/angular/build/package.json
  packages/angular/build/src/tools/vite/plugins/angular-memory-plugin.ts
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_webpack/package.json
  packages/ngtools/webpack/package.json
  pnpm-lock.yaml
Labels: target: major, action: merge, area: build & ci

#30141 build: update `baseline-browser-mapping` to `2.2.1`
  pnpm-lock.yaml
  tools/baseline_browserslist/generate_browserslist_spec.mts
  tools/baseline_browserslist/package.json
Labels: target: major, action: merge

#30145 fix(@angular/build): use virtual module for Karma TestBed initialization
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/karma/polyfills/init_test_bed.js
Labels: action: merge, target: minor, area: @angular/build

#30053 feat(@schematics/angular): Add global error listeners to new app generation
  packages/schematics/angular/application/files/module-files/src/app/app-module.ts.template
  packages/schematics/angular/application/files/standalone-files/src/app/app.config.ts.template
  packages/schematics/angular/service-worker/index_spec.ts
  packages/schematics/angular/utility/standalone/rules_spec.ts
  pnpm-lock.yaml
Labels: area: @schematics/angular, action: merge, target: minor, detected: feature

#30072 fix(@angular/ssr): support `getPrerenderParams` for wildcard routes
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-config.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#30156 fix(@angular/ssr): support `getPrerenderParams` for wildcard routes
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/routes/route-config.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: target: patch, action: merge, area: @angular/ssr

#30158 Bump version to "v18.2.19" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30159 docs: release notes for the v18.2.19 release
  CHANGELOG.md
Labels: action: merge

#30160 Bump version to "v19.2.9" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30162 docs: release notes for the v19.2.9 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30163 Bump version to "v20.0.0-next.7" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30148 feat(@schematics/angular): generate libraries using TypeScript project references
  packages/schematics/angular/library/files/tsconfig.lib.json.template
  packages/schematics/angular/library/files/tsconfig.spec.json.template
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
Labels: area: @schematics/angular, target: major, action: merge, detected: feature

#30130 feat(@angular/build): add experimental vitest unit-testing support
  modules/testing/builder/BUILD.bazel
  modules/testing/builder/package.json
  packages/angular/build/BUILD.bazel
  packages/angular/build/builders.json
  packages/angular/build/package.json
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/index.ts
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/schema.json
  packages/angular/build/src/builders/unit-test/tests/options/exclude_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/include_spec.ts
  packages/angular/build/src/builders/unit-test/tests/setup.ts
  packages/angular/cli/lib/config/workspace-schema.json
  pnpm-lock.yaml
Labels: target: major, action: merge, detected: feature, area: @angular/build

#30164 Bump version to "v20.0.0-next.8" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30154 fix(@angular/ssr): return 302 when redirectTo is a function
  packages/angular/ssr/src/app.ts
  packages/angular/ssr/src/routes/ng-routes.ts
  packages/angular/ssr/src/utils/ng.ts
  packages/angular/ssr/test/app_spec.ts
  packages/angular/ssr/test/routes/ng-routes_spec.ts
Labels: target: major, action: merge, area: @angular/ssr

#30168 feat(@angular/build): add experimental vitest browser support to unit-testing
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: target: major, action: merge, detected: feature, area: @angular/build

#30176 fix(@angular/build): ensure `com.chrome.devtools.json` is consistently served after initial run
  packages/angular/build/src/tools/vite/middlewares/chrome-devtools-middleware.ts
Labels: target: major, action: merge, area: @angular/build

#30178 refactor(@angular/build): merge common plugins and options into `getEsBuildCommonOptions`
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
Labels: target: major, action: merge, area: @angular/build

#30182 [PATCH] build: rename npm2 to npm as rules_nodejs based npm workspace has been removed
  BUILD.bazel
  WORKSPACE
  modules/testing/builder/BUILD.bazel
  packages/angular/build/BUILD.bazel
  packages/angular/cli/BUILD.bazel
  packages/angular/pwa/BUILD.bazel
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/third_party/beasties/BUILD.bazel
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/architect_cli/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/angular_devkit/schematics_cli/BUILD.bazel
  packages/ngtools/webpack/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  tests/legacy-cli/BUILD.bazel
Labels: target: patch, action: merge, area: build & ci

#30190 fix(@schematics/angular): skip spec project reference for minimal ng new
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/index_spec.ts
Labels: area: @schematics/angular, target: major, action: merge

#30179 build: rename npm2 to npm as rules_nodejs based npm workspace has been removed
  BUILD.bazel
  WORKSPACE
  modules/testing/builder/BUILD.bazel
  packages/angular/build/BUILD.bazel
  packages/angular/cli/BUILD.bazel
  packages/angular/pwa/BUILD.bazel
  packages/angular/ssr/BUILD.bazel
  packages/angular/ssr/third_party/beasties/BUILD.bazel
  packages/angular_devkit/architect/BUILD.bazel
  packages/angular_devkit/architect_cli/BUILD.bazel
  packages/angular_devkit/build_angular/BUILD.bazel
  packages/angular_devkit/build_webpack/BUILD.bazel
  packages/angular_devkit/core/BUILD.bazel
  packages/angular_devkit/schematics/BUILD.bazel
  packages/angular_devkit/schematics_cli/BUILD.bazel
  packages/ngtools/webpack/BUILD.bazel
  packages/schematics/angular/BUILD.bazel
  tests/BUILD.bazel
  tests/legacy-cli/BUILD.bazel
  tools/baseline_browserslist/BUILD.bazel
Labels: target: major, action: merge, area: build & ci

#30195 refactor(@angular/build): use utility helper to get project root paths
  packages/angular/build/src/builders/application/options.ts
  packages/angular/build/src/builders/karma/application_builder.ts
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/utils/project-metadata.ts
Labels: target: major, action: merge, area: @angular/build

#30119 build: fix `bazel run` invocations of `js_binary/js_test`
  .bazelrc
  .bazelversion
  .github/shared-actions/windows-bazel-test/action.yml
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  docs/DEVELOPER.md
  scripts/windows-testing/convert-symlinks.mjs
  scripts/windows-testing/parallel-executor.mjs
  tests/legacy-cli/e2e_runner.ts
  tools/BUILD.bazel
  tools/defaults.bzl
Labels: target: patch, action: merge, area: build & ci

#30203 ci: setup bazel repository caching for windows jobs
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: action: merge, area: build & ci, target: minor

#30169 refactor(@angular/build): provide karma runner for unit-test builder
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/karma-bridge.ts
  packages/angular/build/src/builders/unit-test/schema.json
Labels: target: major, action: merge, area: @angular/build

#30204 build: update baseline date to `2025-04-30`
  constants.bzl
Labels: target: major, action: merge

#30207 fix(@angular/build): update vite to 6.2.7
  package.json
  packages/angular/build/package.json
  pnpm-lock.yaml
Labels: target: patch, action: merge, area: @angular/build

#30210 fix(@schematics/angular): avoid empty polyfill option for new zoneless application
  packages/schematics/angular/application/index.ts
Labels: area: @schematics/angular, target: major, action: merge

#30208 refactor(@angular-devkit/core): additional isolated declarations cleanup
  goldens/public-api/angular_devkit/core/index.api.md
  packages/angular_devkit/core/src/logger/level.ts
  packages/angular_devkit/core/src/utils/partially-ordered-set.ts
  packages/angular_devkit/core/src/virtual-fs/host/memory.ts
  packages/angular_devkit/core/src/virtual-fs/host/pattern.ts
  packages/angular_devkit/core/src/virtual-fs/host/record.ts
  packages/angular_devkit/core/src/virtual-fs/path.ts
  packages/angular_devkit/core/src/workspace/json/metadata.ts
Labels: area: @angular-devkit/core, target: major, action: merge

#30214 Bump version to "v19.2.10" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#30215 docs: release notes for the v19.2.10 release
  CHANGELOG.md
Labels: area: docs, action: merge

#30217 Revert "build: update devinfra digest to 8ca74b8"
  WORKSPACE
Labels: action: merge, area: build & ci, target: minor

#30212 refactor(@angular-devkit/schematics): add explicit return types to functions
  packages/angular_devkit/schematics/src/engine/engine.ts
  packages/angular_devkit/schematics/src/engine/schematic.ts
  packages/angular_devkit/schematics/src/sink/host.ts
  packages/angular_devkit/schematics/src/tree/action.ts
  packages/angular_devkit/schematics/src/tree/entry.ts
  packages/angular_devkit/schematics/src/tree/host-tree.ts
  packages/angular_devkit/schematics/src/tree/null.ts
  packages/angular_devkit/schematics/src/tree/recorder.ts
  packages/angular_devkit/schematics/src/tree/scoped.ts
  packages/angular_devkit/schematics/src/tree/static.ts
Labels: area: @angular-devkit/schematics, target: rc, action: merge
