Repository angular/angular-cli, pull requests merged in 2025-09, with the labels that each got.

#31067 fix(@angular/cli): improve list_projects MCP tool to find all workspaces in monorepos
  packages/angular/cli/src/commands/mcp/tools/projects.ts
  packages/angular/cli/src/commands/mcp/tools/tool-registry.ts
  tests/legacy-cli/e2e/tests/mcp/registers-tools.ts
Labels: area: @angular/cli, target: major, action: merge

#31101 fix(@angular/build): avoid extra tick in SSR dev-server builds
  packages/angular/build/src/builders/dev-server/vite/index.ts
Labels: target: patch, action: merge, area: @angular/build

#31102 refactor(@angular/cli): use iterative search for workspace discovery in MCP `list_projects` tool
  packages/angular/cli/src/commands/mcp/tools/projects.ts
Labels: area: @angular/cli, target: major, action: merge

#31104 refactor(@angular/cli): add logging and HTML removal to doc search tool
  packages/angular/cli/src/commands/mcp/tools/doc-search.ts
Labels: area: @angular/cli, target: patch, action: merge

#31109 [20.2.x] fix(@angular/build): maintain media output hashing with vitest unit-testing
  packages/angular/build/src/builders/unit-test/builder.ts
Labels: target: patch, action: merge, area: @angular/build

#31111 fix(@angular/cli): set process title when running architect commands
  packages/angular/cli/src/command-builder/architect-command-module.ts
Labels: area: @angular/cli, target: patch, action: merge

#31113 Bump version to "v20.2.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#31120 fix(@schematics/angular): respect skip-install for tailwind schematic
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/tailwind/index.ts
  packages/schematics/angular/tailwind/schema.json
Labels: area: @schematics/angular, target: major, action: merge

#31100 refactor(@angular/cli): add structured workflows to MCP server instructions
  packages/angular/cli/src/commands/mcp/mcp-server.ts
Labels: area: @angular/cli, target: major, action: merge

#31121 refactor(@angular/build): improve readability of Vitest executor
  packages/angular/build/BUILD.bazel
  packages/angular/build/src/builders/unit-test/runners/vitest/executor.ts
Labels: target: major, action: merge, area: @angular/build

#31122 fix(@angular/build): correct Vitest coverage reporting for test files
  packages/angular/build/BUILD.bazel
  packages/angular/build/src/builders/karma/find-tests.ts
  packages/angular/build/src/builders/karma/find-tests_spec.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/build-options.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/executor.ts
  packages/angular/build/src/builders/unit-test/schema.json
  packages/angular/build/src/builders/unit-test/tests/options/watch_spec.ts
Labels: target: major, action: merge, area: @angular/build

#31123 fix(@angular/build): preserve names in esbuild for improved debugging in dev mode
  packages/angular/build/src/tools/esbuild/application-code-bundle.ts
  packages/angular/build/src/tools/vite/utils.ts
  tests/legacy-cli/e2e/tests/build/prerender/error-with-sourcemaps.ts
Labels: target: patch, action: merge, area: @angular/build

#31129 fix(@angular/build): drop support for TypeScript 5.8
  packages/angular/build/package.json
  packages/angular_devkit/build_angular/package.json
  packages/ngtools/webpack/package.json
Labels: target: major, action: merge, detected: breaking change, area: @angular/build

#31135 fix(@angular/cli): improve bun lockfile detection and optimize lockfile checks
  packages/angular/cli/src/utilities/package-manager.ts
Labels: area: @angular/cli, target: patch, action: merge

#31139 test(@angular/build): remove color codes before assert in vitest snapshot E2E
  tests/legacy-cli/e2e/tests/vitest/snapshot.ts
Labels: target: major, action: merge, area: @angular/build

#31157 fix(@schematics/angular): align labels in ai-config schema
  packages/schematics/angular/ai-config/schema.json
Labels: area: @schematics/angular, target: patch, action: merge

#31159 Bump version to "v20.3.0-rc.0" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#31162 docs: release notes for the v20.3.0 release
  CHANGELOG.md
Labels: area: docs, action: merge

#31164 Bump version to "v21.0.0-next.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#31208 test(@angular/build): enable unit-test builder coverage tests
  modules/testing/builder/BUILD.bazel
  modules/testing/builder/package.json
  packages/angular/build/src/builders/unit-test/tests/options/code-coverage-exclude_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/code-coverage-reporters_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/code-coverage_spec.ts
  pnpm-lock.yaml
Labels: target: major, action: merge, area: @angular/build

#31211 feat(@angular/build): allow options for unit test reporters
  goldens/public-api/angular/build/index.api.md
  packages/angular/build/src/builders/unit-test/options.ts
  packages/angular/build/src/builders/unit-test/runners/karma/executor.ts
  packages/angular/build/src/builders/unit-test/schema.json
  packages/angular/build/src/builders/unit-test/tests/options/reporters_spec.ts
Labels: target: major, action: merge, detected: feature, area: @angular/build

#31214 fix(@angular/build): add upfront dependency validation for unit-test runners
  modules/testing/builder/BUILD.bazel
  modules/testing/builder/package.json
  packages/angular/build/src/builders/unit-test/builder.ts
  packages/angular/build/src/builders/unit-test/runners/api.ts
  packages/angular/build/src/builders/unit-test/runners/dependency-checker.ts
  packages/angular/build/src/builders/unit-test/runners/karma/index.ts
  packages/angular/build/src/builders/unit-test/runners/vitest/index.ts
  pnpm-lock.yaml
Labels: target: major, area: @angular/build

#31228 test(@angular/build): use expectLog and expectNoLog helpers in tests
  modules/testing/builder/src/index.ts
  modules/testing/builder/src/jasmine-helpers.ts
  packages/angular/build/src/builders/application/tests/behavior/rebuild-errors_spec.ts
  packages/angular/build/src/builders/application/tests/behavior/rebuild-web-workers_spec.ts
  packages/angular/build/src/builders/application/tests/behavior/typescript-rebuild-lazy_spec.ts
  packages/angular/build/src/builders/application/tests/options/allowed-common-js-dependencies_spec.ts
  packages/angular/build/src/builders/application/tests/options/bundle-budgets_spec.ts
  packages/angular/build/src/builders/application/tests/options/i18n-missing-translation_spec.ts
  packages/angular/build/src/builders/application/tests/options/scripts_spec.ts
  packages/angular/build/src/builders/application/tests/options/style-preprocessor-options-sass_spec.ts
  packages/angular/build/src/builders/application/tests/options/styles_spec.ts
  packages/angular/build/src/builders/application/tests/options/subresource-integrity_spec.ts
  packages/angular/build/src/builders/dev-server/tests/behavior/build-errors_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/browsers_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/debug_spec.ts
  packages/angular/build/src/builders/unit-test/tests/options/setup-files_spec.ts
Labels: target: major, action: merge, area: @angular/build

#31233 build: enable minimumReleaseAge to mitigate dependency chain attacks
  package.json
  pnpm-workspace.yaml
Labels: target: patch, action: merge, area: build & ci

#31236 Bump version to "v19.2.17" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#31238 docs: release notes for the v19.2.17 release
  CHANGELOG.md
Labels: area: docs, action: merge

#31240 docs: release notes for the v20.3.2 release
  CHANGELOG.md
Labels: area: docs, action: merge

#31242 test(@angular/build): preserve zone change detection provider
  tests/legacy-cli/e2e/tests/build/material.ts
  tests/legacy-cli/e2e/tests/build/prerender/http-requests-assets.ts
  tests/legacy-cli/e2e/tests/build/server-rendering/server-routes-output-mode-static-http-calls.ts
  tests/legacy-cli/e2e/tests/commands/serve/ssr-http-requests-assets.ts
Labels: target: major, action: merge, area: @angular/build

#31249 feat(@angular/cli): add ai-tutor mcp tool
  packages/angular/cli/src/commands/mcp/mcp-server.ts
  packages/angular/cli/src/commands/mcp/resources/ai-tutor.md
  packages/angular/cli/src/commands/mcp/tools/ai-tutor.ts
  tests/legacy-cli/e2e/tests/mcp/ai-tutor.ts
Labels: area: @angular/cli, target: major, action: merge, detected: feature

#31261 refactor(@angular/cli): improve error handling and structure of zoneless tool
  packages/angular/cli/src/commands/mcp/tools/onpush-zoneless-migration/zoneless-migration.ts
Labels: area: @angular/cli, target: major, action: merge

#31259 refactor(@angular/build): remove deprecated signature usage
  packages/angular/build/src/tools/angular/transformers/jit-bootstrap-transformer.ts
  packages/angular/build/src/tools/angular/transformers/jit-resource-transformer.ts
  packages/ngtools/webpack/src/ivy/transformation.ts
  packages/ngtools/webpack/src/transformers/replace_resources.ts
Labels: target: major, action: merge, area: @angular/build

#31290 feat(@schematics/angular): set `packageManager` in `package.json` on new projects
  packages/angular/cli/src/commands/new/cli.ts
  packages/angular/cli/src/utilities/package-manager.ts
  packages/schematics/angular/workspace/files/package.json.template
  packages/schematics/angular/workspace/index.ts
  packages/schematics/angular/workspace/schema.json
  tests/legacy-cli/e2e/initialize/500-create-project.ts
  tests/legacy-cli/e2e/setup/100-global-cli.ts
  tests/legacy-cli/e2e/tests/commands/add/file.ts
Labels: area: @schematics/angular, target: major, action: merge, detected: feature

#31292 Bump version to "v20.3.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge

#31293 docs: release notes for the v20.3.3 release
  CHANGELOG.md
Labels: area: docs, action: merge

#31315 fix(@angular/cli): improve JSON schema parsing for command options
  packages/angular/build/src/builders/unit-test/schema.json
  packages/angular/cli/src/command-builder/utilities/json-schema.ts
  packages/angular/cli/src/command-builder/utilities/json-schema_spec.ts
Labels: area: @angular/cli, target: major, action: merge

#31316 build: update bazel dependencies
  MODULE.bazel
  modules/testing/builder/projects/hello-world-app/tsconfig.json
  packages/angular/build/src/builders/application/tests/behavior/typescript-resolve-json_spec.ts
  packages/angular/build/src/builders/karma/tests/behavior/module-cjs_spec.ts
  packages/angular/build/src/tools/vite/middlewares/ssr-middleware.ts
  packages/angular/build/src/utils/server-rendering/launch-server.ts
  packages/angular/build/src/utils/server-rendering/utils.ts
  packages/angular_devkit/build_angular/src/builders/karma/tests/behavior/module-cjs_spec.ts
  packages/schematics/angular/migrations/use-application-builder/migration.ts
Labels: target: major, action: merge, area: build & ci

#31337 fix(@angular/build): relax requirement for files to be in TS compilation
  packages/angular/build/src/tools/esbuild/angular/compiler-plugin.ts
Labels: target: major, action: merge, area: @angular/build

#31343 feat(@schematics/angular): add AGENTS.md support to ai-config schematic
  packages/schematics/angular/ai-config/index.ts
  packages/schematics/angular/ai-config/index_spec.ts
  packages/schematics/angular/ai-config/schema.json
  packages/schematics/angular/ng-new/schema.json
Labels: area: @schematics/angular, target: major, action: merge, detected: feature

#31347 refactor(@angular/build): automatically enable headless mode in CI for vitest
  packages/angular/build/src/builders/unit-test/runners/vitest/browser-provider.ts
Labels: target: major, action: merge, area: @angular/build
